<section class="section-block" id="section-about">
  <header class="api-header">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-about">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">About</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content">
    <p>This project started with research into visual disabilities and web accessibility issues for a design system I've been developing since 2013. It's become the color system component of that application.</p>
    <p>The library is packed with features to analyze color temperature, contrast, and automate design elements for your projects.</p>
  </div>
  <hr class="size-sm border-grey-300-a">
  <header class="api-header" id="section-support">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-support">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">Maintenance & Support</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content max-lf">
    <p><a target="_blank" rel="noreferrer" href="https://www.rgbyk.com/color/">@rgbyk/color</a> is developed and maintained by <a target="_blank" rel="noreferrer" href="https://danielhaim.com">Daniel Haim</a>.</p>
  </div>
  <hr class="size-sm border-grey-300-a">
  <header class="api-header" id="section-license">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-license">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">MIT License</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content">
    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
  </div>
  <hr class="size-sm border-grey-300-a">
  <header class="api-header" id="section-cases">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-cases">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">Cases</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content">
    <p>With this library, you can:</p>
    <ul class="pl-3">
      <li>Build a fully documented color system for seamless integration into any web or app project.</li>
      <li>Create utility classes and choose your output format: <a target="_blank" rel="noreferrer" href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*">CSS custom properties</a> or HEX codes.</li>
      <li>Easily toggle between <a target="_blank" rel="noreferrer" href="https://en.wikipedia.org/wiki/RGB_color_model">RGB</a> and <a target="_blank" rel="noreferrer" href="https://en.wikipedia.org/wiki/RYB_color_model">RYB</a> color models.</li>
      <li>Design color relationships and achieve a harmonious blend within your color schemes.</li>
      <li>Neutralize colors to create a balanced, neutral tone that complements chromatic hues.</li>
      <li>Match color temperatures across your grayscale palette for consistency.</li>
    </ul>

  </div>
  <hr class="size-sm border-grey-300-a">
  <header class="api-header" id="section-features">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-features">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">Features</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content">
  <ul class="pl-3">
    <li>Switch color palettes on or off, including Complementary, Analogous, Square, Split, Triadic, and Tetradic options.</li>
    <li>Enable or disable web accessibility features for color blindness, covering Protanopia, Protanomaly, Deuteranopia, Deuteranomaly, Tritanopia, Tritanomaly, Achromatopsia, and Achromatomaly.</li>
    <li>Toggle high-contrast colors on or off to ensure proper contrast is applied in reverse order.</li>
    <li>Design an "alert palette" for UI components to indicate status like error, warning, or success.</li>
    <li>Turn utility classes on or off for background, border, and text colors, using <code>.bg-*</code>, <code>.border-*</code>, and <code>.color-*</code> classes.</li>
  </ul>
  </div>
</section>