<section class="section-block" id="section-support">
  <header class="api-header">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
        <a class="api-header--title_link" href="#section-support">
          <i class="ico-hashtag"></i>
        </a>
        <span class="api-header--title_text">Maintenance & Support</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content max-lf">
    <p>
      <a target="_blank" rel="noreferrer" href="https://www.rgbyk.com/color/"
        >@rgbyk/color</a
      >
      is maintained by
      <a target="_blank" rel="noreferrer" href="https://danielhaim.com">Daniel Haim</a>.
    </p>
  </div>
</section>
