<section class="section-block" id="section-about">
    <header class="api-header">
        <div class="api-header--meta max-lf">
            <h2 class="api-header--sectiontitle">
                <a class="api-header--title_link" href="#section-about">
                    <i class="ico-hashtag"></i>
                </a>
                <span class="api-header--title_text">About</span>
            </h2>
        </div>
    </header>
    <div class="section-block--content">
        <p>This project began as a part of research to identify ongoing issues with visual disabilities, and web accessibility, for a design system application that I've been developing since 2013.</p>

        <p>In perspective, <a target="_blank" rel="noreferrer" href="https://github.com/rgbyk/color">@rgbyk/color</a> is the color system component that is utilized by that application.</p>

        <p>The library contains a variety of advanced functions that can help analyze and determine color temperature, contrast, and more design system automation for your next project.</p>        
    </div>
</section>