<section class="section-block" id="section-cs">
  <header class="docs-header">
      <div class="docs-header--title">
          <h2>
              <a href="#section-cs">
                  <span>Color Schemes</span>
              </a>
          </h2>
      </div>
  </header>

  <div class="color-scheme--container active" id="colorSchemeContainer">
    {% for scheme in site.data.schemes %}
    <article class="docs-section" id="section-cs.{{ scheme.name | downcase }}">
        <header class="scheme-row--header mb-3">
            <h3>
                <a href="#section-cs.{{ scheme.name | downcase }}">
                    <span>{{ scheme.name | capitalize }}</span>
                </a>
            </h3>
            <!-- {{ scheme.copy }} -->
        </header>
        <div class="scheme-row--article">
            {% for colors in scheme.colors %}
              {% if scheme.monos %}
                <ol class="scheme-row scheme-row--js cvd" data-scheme-name="{{ colors.name | downcase }}" data-scheme-type="pure" aria-hidden="false"></ol>
                <ol class="scheme-row scheme-row--js cvd" data-scheme-name="{{ colors.name | downcase }}" data-scheme-type="neutral" aria-hidden="true"></ol>
                {% else %}
                  {{ colors.name }}
              {% endif %}
            {% endfor %}
            {% for color in scheme.colors %}
            {% endfor %}
        </div>
    </article>

    {% endfor %}
  </div>
  <button class="btn btn-md btn-primary cvd" id="showAllColorSchemes" onclick="handleRevealSwitch();">View All Schemes</button>

</section>
