<section class="section-block" id="section-license">
    <header class="api-header">
        <div class="api-header--meta max-lf">
            <h2 class="api-header--sectiontitle">
                <a class="api-header--title_link" href="#section-license">
                    <i class="ico-hashtag"></i>
                </a>
                <span class="api-header--title_text">MIT License</span>
            </h2>
        </div>
    </header>
    <div class="section-block--content">
        <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

        <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
    </div>
</section>