<section class="section-block" id="section-cli">
  <header class="api-header">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
        <a class="api-header--title_link" href="#section-cli">
          <i class="ico-hashtag"></i>
        </a>
        <span class="api-header--title_text">Command Line Tools</span>
      </h2>
    </div>
  </header>
  <section class="api-section" id="section-cli.requirements">
    <header class="api-header">
      <div class="api-header--meta max-lf">
        <h3 class="api-header--title">
          <a class="api-header--title_link" href="#section-cli.requirements">
            <i class="ico-hashtag"></i>
          </a>
          <span class="api-header--title_text">Requirements</span>
        </h3>
      </div>
    </header>
    <article class="api-article" id="section-cli.requirements.nodejs">
      <header class="api-article--header">
        <h4>node.js</h4>
        <div class="btn-group">
          <a class="btn btn-secondary" href="#section-cli.requirements.nodejs">
            <i class="ico-hashtag"></i>
            <span class="sr-only">Link to code</span>
          </a>
        </div>
      </header>
      <div class="api-article--content">
        <div class="api-article--content_code">
          {% highlight bash %} $ node --version $ v12.11.0 {% endhighlight %}
        </div>
      </div>
    </article>
    <article class="api-article" id="section-cli.requirements.sass">
      <header class="api-article--header">
        <h4>sass</h4>
        <div class="btn-group">
          <a class="btn btn-secondary" href="#section-cli.requirements.sass">
            <i class="ico-hashtag"></i>
            <span class="sr-only">Link to code</span>
          </a>
        </div>
      </header>
      <div class="api-article--content">
        <div class="api-article--content_code">
          {% highlight bash %} $ sass --version $ 1.26.0 compiled with dart2js 2.7.1 {% endhighlight %}
        </div>
      </div>
    </article>
  </section>
  <section class="api-section" id="section-cli.install.npm">
    <header class="api-header">
      <div class="api-header--meta max-lf">
        <h3 class="api-header--title">
          <a class="api-header--title_link" href="#section-cli.install.npm">
            <i class="ico-hashtag"></i>
          </a>
          <span class="api-header--title_text">Install anywhere (npm)</span>
        </h3>
      </div>
    </header>
    <article class="api-article" id="section-cli.install.npm.i">
      <header class="api-article--header">
        <h4>npm</h4>
        <div class="btn-group">
          <a class="btn btn-secondary" href="#section-cli.install.npm.i">
            <i class="ico-hashtag"></i>
            <span class="sr-only">Link to code</span>
          </a>
        </div>
      </header>
      <div class="api-article--content">
        <div class="api-article--content_code">
          {% highlight bash %} $ npm i @rgbyk/color --save-dev {% endhighlight
          %}
        </div>
      </div>
    </article>
  </section>
  <section class="api-section" id="section-cli.install.standalone">
    <header class="api-header">
      <div class="api-header--meta max-lf">
        <h3 class="api-header--title">
          <a
            class="api-header--title_link"
            href="#section-cli.install.standalone"
          >
            <i class="ico-hashtag"></i>
          </a>
          <span class="api-header--title_text"
            >Install anywhere (standalone)</span
          >
        </h3>
      </div>
    </header>
    <article
      class="api-article"
      id="section-cli.install.standalone.cli.rgbyk-unpack"
    >
      <header class="api-article--header">
        <h4>cli.rgbyk-unpack</h4>
        <div class="btn-group">
          <a
            class="btn btn-secondary"
            href="#section-cli.install.standalone.cli.rgbyk-unpack"
          >
            <i class="ico-hashtag"></i>
            <span class="sr-only">Link to code</span>
          </a>
        </div>
      </header>
      <div class="api-article--content">
        <div class="api-article--content_info">
          {% highlight bash %} # run checks and full installation {%
          endhighlight %}
        </div>
        <div class="api-article--content_code">
          {% highlight bash %} $ npm run rgbyk-unpack {% endhighlight %}
        </div>
      </div>
    </article>
    <article class="api-article" id="section-cli.install.standalone.cli.color">
      <header class="api-article--header">
        <h4>cli.color</h4>
        <div class="btn-group">
          <a
            class="btn btn-secondary"
            href="#section-cli.install.standalone.cli.color"
          >
            <i class="ico-hashtag"></i>
            <span class="sr-only">Link to code</span>
          </a>
        </div>
      </header>
      <div class="api-article--content">
        <div class="api-article--content_info">
          {% highlight bash %} # compile `./src/scss/color.scss` {% endhighlight
          %}
        </div>
        <div class="api-article--content_code">
          {% highlight bash %} $ npm run color {% endhighlight %}
        </div>
      </div>
    </article>
    <article
      class="api-article"
      id="section-cli.install.standalone.cli.color-ryb"
    >
      <header class="api-article--header">
        <h4>cli.color-ryb</h4>
        <div class="btn-group">
          <a
            class="btn btn-secondary"
            href="#section-cli.install.standalone.cli.color-ryb"
          >
            <i class="ico-hashtag"></i>
            <span class="sr-only">Link to code</span>
          </a>
        </div>
      </header>
      <div class="api-article--content">
        <div class="api-article--content_info">
          {% highlight bash %} # compile `./src/scss/color-ryb.scss` {%
          endhighlight %}
        </div>
        <div class="api-article--content_code">
          {% highlight bash %} $ npm run color-ryb {% endhighlight %}
        </div>
      </div>
    </article>
    <article
      class="api-article"
      id="section-cli.install.standalone.cli.color-rgb"
    >
      <header class="api-article--header">
        <h4>cli.color-rgb</h4>
        <div class="btn-group">
          <a
            class="btn btn-secondary"
            href="#section-cli.install.standalone.cli.color-rgb"
          >
            <i class="ico-hashtag"></i>
            <span class="sr-only">Link to code</span>
          </a>
        </div>
      </header>
      <div class="api-article--content">
        <div class="api-article--content_info">
          {% highlight bash %} # compile `./src/scss/color-rgb.scss` {%
          endhighlight %}
        </div>
        <div class="api-article--content_code">
          {% highlight bash %} $ npm run color-rgb {% endhighlight %}
        </div>
      </div>
    </article>
  </section>
</section>
