<section class="section-block" id="section-api">
    <header class="api-header">
        <div class="api-header--meta max-lf">
            <h2 class="api-header--sectiontitle">
                <a class="api-header--title_link" href="#section-api">
                    <i class="ico-hashtag"></i>
                </a>
                <span class="api-header--title_text">API</span>
            </h2>
        </div>
    </header>
    
    {% include content/api/color-npm-settings.html %}
    {% include content/api/color-func-calc.html %}
    {% include content/api/color-func-is.html %}
    {% include content/api/color-func-make.html %}
    {% include content/api/color-func-get.html %}
    {% include content/api/color-func-ryb.html %}
    {% include content/api/color-func-misc.html %}
</section>