# Folders
# ------------------------------------------------

dist
node_modules
.sass-cache

# Misc.
# ------------------------------------------------

._*
*.map
_*.js
_*.sh
*.css.map
*.sass.map
*.scss.map
.cache
.DS_Store
Thumbs.db

/jekyll