<header class="site-header cvd">
  <div class="site-header--container">
    <div class="site-header--row">
      <div class="site-header--row_left">
        <a
          class="site-header--logo"
          href="https://github.com/rgbyk/color"
          target="_blank"
          rel="noreferrer"
        >
          <span class="site-header--logo_icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <polygon
                class="id1"
                points="41,13.667 24,23.333 24,44 41,33.444"
              />
              <polygon class="id2" points="24,23.333 7,13.667 7,33.444 24,44" />
              <polygon class="id2" points="24,23.333 7,13.667 24,4 41,13.667" />
              <polygon class="id3" points="33,18.216 24,13 24,4 41,13.667" />
              <polygon
                class="id4"
                points="41,13.667 24,23.333 33,30.444 41,33.444"
              />
              <polygon class="id5" points="24,23.333 7,13.667 7,33.444 24,44" />
              <polygon
                class="id6"
                points="24,23.333 7,13.667 7,33.444 15,30.444"
              />
              <polygon
                fill="var(--primary-400)"
                points="15,30.444 24,36.033 24,23.333 15,18.216"
              />
              <polygon
                fill="var(--primary-500)"
                points="33,30.444 24,36.033 24,23.333 33,18.216"
              />
              <polygon
                fill="var(--primary-300)"
                points="14.914,18.167 24,23.333 33.086,18.167 24,13"
              />
            </svg>
          </span>
          <span class="site-header--logo_text">@rgbyk/color</span>
        </a>
      </div>
      <nav class="site-header--row_right">
        <a
          class="btn btn-primary ml-2"
          href="https://github.com/rgbyk/color"
          target="_blank"
          rel="noreferrer"
        >
          <span>Source Code</span>
        </a>
      </nav>
    </div>
  </div>
</header>
