<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="robots" content="{% if page.index == "noindex"
  %}noindex,nofollow,noodp{% else %}index,follow,noodp{% endif %}"/>
  <meta
    name="url"
    content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"
  />
  <meta name="language" content="en-US" />

  <link href="{{ site.baseurl | prepend: site.url }}/" rel="home" />
  <link
    href="{{ page.url | prepend: site.baseurl | prepend: site.url }}"
    rel="canonical"
  />

  <link rel="dns-prefetch" href="//www.google-analytics.com" />

  <link rel="preload" href="{{ FOLDER_CSS }}/main.css?{{ time }}" as="style" />
  <link href="{{ FOLDER_CSS }}/main.css?{{ time }}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ FOLDER_CSS }}/dist/color-rgb.css?{{ time }}" rel="stylesheet" type="text/css" media="all" />

  <link href="" rel="stylesheet" type="text/css" media="all" id="swap" />

  {% if page.title %}
  <title>{{ page.title }}</title>
  {% endif %} {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %} {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  {% endif %} {% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
  {% endif %}
  <meta
    property="og:image"
    content="{{ '/assets/img/ico/favicon-512x512.png?' | prepend: site.baseurl | prepend: site.url | append: time }}"
  />
  <meta
    property="og:url"
    content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"
  />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />

  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% endif %} {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
  {% endif %}
  <meta
    name="twitter:image"
    content="{{ '/assets/img/ico/favicon-512x512.png?' | prepend: site.baseurl | prepend: site.url | append: time }}"
  />
  <meta
    name="twitter:url"
    content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"
  />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.baseurl }}" />
</head>
