<figure class="docs-grid--rainbow mt-2"></figure>
<header class="docs-grid--header">
    <h1 class="docs-header--logo">
        <a href="https://rgbyk.com/color/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <polygon class="id1" fill="var(--grey-500)" points="41,13.667 24,23.333 24,44 41,33.444"></polygon>
                <polygon class="id2" fill="var(--grey-400)" points="24,23.333 7,13.667 7,33.444 24,44"></polygon>
                <polygon class="id2" fill="var(--grey-400)" points="24,23.333 7,13.667 24,4 41,13.667"></polygon>
                <polygon class="id3" fill="var(--grey-300)" points="33,18.216 24,13 24,4 41,13.667"></polygon>
                <polygon class="id4" fill="var(--grey-800)" points="41,13.667 24,23.333 33,30.444 41,33.444"></polygon>
                <polygon class="id5" fill="var(--grey-600)" points="24,23.333 7,13.667 7,33.444 24,44"></polygon>
                <polygon class="id6" fill="var(--grey-700)" points="24,23.333 7,13.667 7,33.444 15,30.444"></polygon>
                <polygon fill="var(--primary-400)" points="15,30.444 24,36.033 24,23.333 15,18.216"></polygon>
                <polygon fill="var(--primary-500)" points="33,30.444 24,36.033 24,23.333 33,18.216"></polygon>
                <polygon fill="var(--primary-300)" points="14.914,18.167 24,23.333 33.086,18.167 24,13"></polygon>
            </svg>
            <span>rgbyk/color</span>
        </a>
    </h1>
    <div class="docs-header--btn">
        <a target="_blank" rel="noreferrer" href="https://github.com/rgbyk/color">
            <span>Browse Code</span>
        </a>
    </div>
</header>