---

layout: default

title: "@rgbyk/color - node.js color system"
description: A color model system that generates a full range of accessible color palettes, and utility classes from a single color.
image:

metatitle: "@rgbyk/color - node.js color system"
metadescription: A color model system that generates a full range of accessible color palettes, and utility classes from a single color.

index: index

---

{% include sections/color-schemes.html %}
{% include sections/color-features.html %}
{% include sections/color-theory.html %}
{% include sections/color-cli.html %}
{% include sections/color-api.html %}

{% comment %}
{% include sections/color-license.html %}
{% endcomment %}

{% comment %}
{% include sections/color-resources.html %}
{% endcomment %}