/*========================================
=            Border Utilities            =
========================================*/

.border-1, .border-top-1 { border-top-width: 1px !important; }
.border-1, .border-bottom-1 { border-bottom-width: 1px !important; }
.border-1, .border-left-1 { border-left-width: 1px !important; }
.border-1, .border-right-1 { border-right-width: 1px !important; }

.border-0, .border-top-0 { border-top-width: 0 !important; }
.border-0, .border-right-0 { border-right-width: 0 !important; }
.border-0, .border-bottom-0 { border-bottom-width: 0 !important; }
.border-0, .border-left-0 { border-left-width: 0 !important; }

.border-solid { border-style: solid !important; }
.border-dashed { border-style: dashed !important; }
.border-dotted { border-style: dotted !important; }

