/*=====================================
=            Color Palette            =
=====================================*/

.bg-white {background-color: var(--white);}
.bg-black { background-color: var(--black); }
.border-black { border-color: var(--black); }
.border-white { border-color: var(--white); }
.color-white { color: var(--white); }
.color-black { color: var(--black); }

.bg-grey-100 { background-color: var(--grey-100); }
.bg-grey-200 { background-color: var(--grey-200); }
.bg-grey-300 { background-color: var(--grey-300); }
.bg-grey-400 { background-color: var(--grey-400); }
.bg-grey-500 { background-color: var(--grey-500); }
.bg-grey-600 { background-color: var(--grey-600); }
.bg-grey-700 { background-color: var(--grey-700); }
.bg-grey-800 { background-color: var(--grey-800); }
.bg-grey-900 { background-color: var(--grey-900); }
.border-grey-100 { border-color: var(--grey-100); }
.border-grey-200 { border-color: var(--grey-200); }
.border-grey-300 { border-color: var(--grey-300); }
.border-grey-400 { border-color: var(--grey-400); }
.border-grey-500 { border-color: var(--grey-500); }
.border-grey-600 { border-color: var(--grey-600); }
.border-grey-700 { border-color: var(--grey-700); }
.border-grey-800 { border-color: var(--grey-800); }
.border-grey-900 { border-color: var(--grey-900); }
.color-grey-100 { color: var(--grey-100); }
.color-grey-200 { color: var(--grey-200); }
.color-grey-300 { color: var(--grey-300); }
.color-grey-400 { color: var(--grey-400); }
.color-grey-500 { color: var(--grey-500); }
.color-grey-600 { color: var(--grey-600); }
.color-grey-700 { color: var(--grey-700); }
.color-grey-800 { color: var(--grey-800); }
.color-grey-900 { color: var(--grey-900); }

.bg-primary-100 { background-color: var(--primary-100); }
.bg-primary-200 { background-color: var(--primary-200); }
.bg-primary-300 { background-color: var(--primary-300); }
.bg-primary-400 { background-color: var(--primary-400); }
.bg-primary-500 { background-color: var(--primary-500); }
.bg-primary-600 { background-color: var(--primary-600); }
.bg-primary-700 { background-color: var(--primary-700); }
.bg-primary-800 { background-color: var(--primary-800); }
.bg-primary-900 { background-color: var(--primary-900); }
.border-primary-100 { border-color: var(--primary-100); }
.border-primary-200 { border-color: var(--primary-200); }
.border-primary-300 { border-color: var(--primary-300); }
.border-primary-400 { border-color: var(--primary-400); }
.border-primary-500 { border-color: var(--primary-500); }
.border-primary-600 { border-color: var(--primary-600); }
.border-primary-700 { border-color: var(--primary-700); }
.border-primary-800 { border-color: var(--primary-800); }
.border-primary-900 { border-color: var(--primary-900); }
.color-primary-100 { color: var(--primary-100); }
.color-primary-200 { color: var(--primary-200); }
.color-primary-300 { color: var(--primary-300); }
.color-primary-400 { color: var(--primary-400); }
.color-primary-500 { color: var(--primary-500); }
.color-primary-600 { color: var(--primary-600); }
.color-primary-700 { color: var(--primary-700); }
.color-primary-800 { color: var(--primary-800); }
.color-primary-900 { color: var(--primary-900); }

.bg-1-100 { background-color: var(--color-1-100); }
.bg-1-200 { background-color: var(--color-1-200); }
.bg-1-300 { background-color: var(--color-1-300); }
.bg-1-400 { background-color: var(--color-1-400); }
.bg-1-500 { background-color: var(--color-1-500); }
.bg-1-600 { background-color: var(--color-1-600); }
.bg-1-700 { background-color: var(--color-1-700); }
.bg-1-800 { background-color: var(--color-1-800); }
.bg-1-900 { background-color: var(--color-1-900); }
.border-1-100 { border-color: var(--color-1-100); }
.border-1-200 { border-color: var(--color-1-200); }
.border-1-300 { border-color: var(--color-1-300); }
.border-1-400 { border-color: var(--color-1-400); }
.border-1-500 { border-color: var(--color-1-500); }
.border-1-600 { border-color: var(--color-1-600); }
.border-1-700 { border-color: var(--color-1-700); }
.border-1-800 { border-color: var(--color-1-800); }
.border-1-900 { border-color: var(--color-1-900); }
.color-1-100 { color: var(--color-1-100); }
.color-1-200 { color: var(--color-1-200); }
.color-1-300 { color: var(--color-1-300); }
.color-1-400 { color: var(--color-1-400); }
.color-1-500 { color: var(--color-1-500); }
.color-1-600 { color: var(--color-1-600); }
.color-1-700 { color: var(--color-1-700); }
.color-1-800 { color: var(--color-1-800); }
.color-1-900 { color: var(--color-1-900); }

.bg-2-100 { background-color: var(--color-2-100); }
.bg-2-200 { background-color: var(--color-2-200); }
.bg-2-300 { background-color: var(--color-2-300); }
.bg-2-400 { background-color: var(--color-2-400); }
.bg-2-500 { background-color: var(--color-2-500); }
.bg-2-600 { background-color: var(--color-2-600); }
.bg-2-700 { background-color: var(--color-2-700); }
.bg-2-800 { background-color: var(--color-2-800); }
.bg-2-900 { background-color: var(--color-2-900); }
.border-2-100 { border-color: var(--color-2-100); }
.border-2-200 { border-color: var(--color-2-200); }
.border-2-300 { border-color: var(--color-2-300); }
.border-2-400 { border-color: var(--color-2-400); }
.border-2-500 { border-color: var(--color-2-500); }
.border-2-600 { border-color: var(--color-2-600); }
.border-2-700 { border-color: var(--color-2-700); }
.border-2-800 { border-color: var(--color-2-800); }
.border-2-900 { border-color: var(--color-2-900); }
.color-2-100 { color: var(--color-2-100); }
.color-2-200 { color: var(--color-2-200); }
.color-2-300 { color: var(--color-2-300); }
.color-2-400 { color: var(--color-2-400); }
.color-2-500 { color: var(--color-2-500); }
.color-2-600 { color: var(--color-2-600); }
.color-2-700 { color: var(--color-2-700); }
.color-2-800 { color: var(--color-2-800); }
.color-2-900 { color: var(--color-2-900); }

.bg-3-100 { background-color: var(--color-3-100); }
.bg-3-200 { background-color: var(--color-3-200); }
.bg-3-300 { background-color: var(--color-3-300); }
.bg-3-400 { background-color: var(--color-3-400); }
.bg-3-500 { background-color: var(--color-3-500); }
.bg-3-600 { background-color: var(--color-3-600); }
.bg-3-700 { background-color: var(--color-3-700); }
.bg-3-800 { background-color: var(--color-3-800); }
.bg-3-900 { background-color: var(--color-3-900); }
.border-3-100 { border-color: var(--color-3-100); }
.border-3-200 { border-color: var(--color-3-200); }
.border-3-300 { border-color: var(--color-3-300); }
.border-3-400 { border-color: var(--color-3-400); }
.border-3-500 { border-color: var(--color-3-500); }
.border-3-600 { border-color: var(--color-3-600); }
.border-3-700 { border-color: var(--color-3-700); }
.border-3-800 { border-color: var(--color-3-800); }
.border-3-900 { border-color: var(--color-3-900); }
.color-3-100 { color: var(--color-3-100); }
.color-3-200 { color: var(--color-3-200); }
.color-3-300 { color: var(--color-3-300); }
.color-3-400 { color: var(--color-3-400); }
.color-3-500 { color: var(--color-3-500); }
.color-3-600 { color: var(--color-3-600); }
.color-3-700 { color: var(--color-3-700); }
.color-3-800 { color: var(--color-3-800); }
.color-3-900 { color: var(--color-3-900); }