/*===================================
=            Grid System            =
===================================*/

:root {
    --gutter: var(--scale-0);
}

@media (min-width: 992px){
    :root {
        --gutter: var(--scale-2);
    }
}

.container { max-width: 1480px; }

.container,
.container-fluid {
    width: var(--col12);
    // padding-right: var(--gutter);
    // padding-left: var(--gutter);

    padding-left: var(--gutter);
    padding-right: var(--gutter);

    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--gutter) * -1);
    margin-left: calc(var(--gutter) * -1);
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"],
.no-gutters > [class*=" col-"]{ 
    padding-right: 0;
    padding-left: 0;
}

.row + .row,
.container + .container { 
    margin-top: var(--gutter);
}

.col,
[class^="col-"],
[class*=" col-"]{
    position: relative;
    width: var(--col12);

    padding-right: var(--gutter);
    padding-left: var(--gutter);
}

.order-first { order: -1; }
.order-last { order: 13; }
.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-9 { order: 9; }
.order-10 { order: 10; }
.order-11 { order: 11; }
.order-12 { order: 12; }

.offset-1 { margin-left: var(--col1); }
.offset-2 { margin-left: var(--col2); }
.offset-3 { margin-left: var(--col3); }
.offset-4 { margin-left: var(--col4); }
.offset-5 { margin-left: var(--col5); }
.offset-6 { margin-left: var(--col6); }
.offset-7 { margin-left: var(--col7); }
.offset-8 { margin-left: var(--col8); }
.offset-9 { margin-left: var(--col9); }
.offset-10 { margin-left: var(--col10); }
.offset-11 { margin-left: var(--col11); }

@include media(xs-down){
    .col { flex-basis: 0; flex-grow: 1;max-width: var(--col12); }
    .col-auto { flex: 0 0 auto; width: auto; max-width: none; }
    .col-1 { flex: 0 0 var(--col1); max-width: var(--col1); }
    .col-2 { flex: 0 0 var(--col2); max-width: var(--col2); }
    .col-3 { flex: 0 0 var(--col3); max-width: var(--col3); }
    .col-4 { flex: 0 0 var(--col4); max-width: var(--col4); }
    .col-5 { flex: 0 0 var(--col5); max-width: var(--col5); }
    .col-6 { flex: 0 0 var(--col6); max-width: var(--col6); }
    .col-7 { flex: 0 0 var(--col7); max-width: var(--col7); }
    .col-8 { flex: 0 0 var(--col8); max-width: var(--col8); }
    .col-9 { flex: 0 0 var(--col9); max-width: var(--col9); }
    .col-10 { flex: 0 0 var(--col10); max-width: var(--col10); }
    .col-11 { flex: 0 0 var(--col11); max-width: var(--col11); }
    .col-12 { flex: 0 0 var(--col12); max-width: var(--col12); }

    .col-1:nth-of-type(n+13),
    .col-3:nth-of-type(n+5),
    .col-4:nth-of-type(n+4),
    .col-12:nth-of-type(n+2),
    .col-6:nth-of-type(n+3) { margin-top: var(--gutter); }
}

@include media(sm-only){
    // .container { max-width: 540px; }
    .col-sm { flex-basis: 0; flex-grow: 1; max-width: var(--col12); }
    .col-sm-auto { flex: 0 0 auto; width: auto; max-width: none; }
    .col-sm-1 { flex: 0 0 var(--col1); max-width: var(--col1); }
    .col-sm-2 { flex: 0 0 var(--col2); max-width: var(--col2); }
    .col-sm-3 { flex: 0 0 var(--col3); max-width: var(--col3); }
    .col-sm-4 { flex: 0 0 var(--col4); max-width: var(--col4); }
    .col-sm-5 { flex: 0 0 var(--col5); max-width: var(--col5); }
    .col-sm-6 { flex: 0 0 var(--col6); max-width: var(--col6); }
    .col-sm-7 { flex: 0 0 var(--col7); max-width: var(--col7); }
    .col-sm-8 { flex: 0 0 var(--col8); max-width: var(--col8); }
    .col-sm-9 { flex: 0 0 var(--col9); max-width: var(--col9); }
    .col-sm-10 { flex: 0 0 var(--col10); max-width: var(--col10); }
    .col-sm-11 { flex: 0 0 var(--col11); max-width: var(--col11); }
    .col-sm-12 { flex: 0 0 var(--col12); max-width: var(--col12); }

    .order-sm-first { order: -1; }
    .order-sm-last { order: 13; }
    .order-sm-0 { order: 0; }
    .order-sm-1 { order: 1; }
    .order-sm-2 { order: 2; }
    .order-sm-3 { order: 3; }
    .order-sm-4 { order: 4; }
    .order-sm-5 { order: 5; }
    .order-sm-6 { order: 6; }
    .order-sm-7 { order: 7; }
    .order-sm-8 { order: 8; }
    .order-sm-9 { order: 9; }
    .order-sm-10 { order: 10; }
    .order-sm-11 { order: 11; }
    .order-sm-12 { order: 12; }

    .offset-sm-0 { margin-left: 0; }
    .offset-sm-1 { margin-left: var(--col1); }
    .offset-sm-2 { margin-left: var(--col2); }
    .offset-sm-3 { margin-left: var(--col3); }
    .offset-sm-4 { margin-left: var(--col4); }
    .offset-sm-5 { margin-left: var(--col5); }
    .offset-sm-6 { margin-left: var(--col6); }
    .offset-sm-7 { margin-left: var(--col7); }
    .offset-sm-8 { margin-left: var(--col8); }
    .offset-sm-9 { margin-left: var(--col9); }
    .offset-sm-10 { margin-left: var(--col10); }
    .offset-sm-11 { margin-left: var(--col11); }

    .col-sm-1:nth-of-type(n+13),
    .col-sm-3:nth-of-type(n+5),
    .col-sm-4:nth-of-type(n+4),
    .col-sm-12:nth-of-type(n+2),
    .col-sm-6:nth-of-type(n+3) { margin-top: var(--gutter); }
}

@include media(md-only){
    // .container { max-width: 720px; }
    .col-md { flex-basis: 0; flex-grow: 1; max-width: var(--col12); }
    .col-md-auto { flex: 0 0 auto; width: auto; max-width: none; }
    .col-md-1 { flex: 0 0 var(--col1); max-width: var(--col1); }
    .col-md-2 { flex: 0 0 var(--col2); max-width: var(--col2); }
    .col-md-3 { flex: 0 0 var(--col3); max-width: var(--col3); }
    .col-md-4 { flex: 0 0 var(--col4); max-width: var(--col4); }
    .col-md-5 { flex: 0 0 var(--col5); max-width: var(--col5); }
    .col-md-6 { flex: 0 0 var(--col6); max-width: var(--col6); }
    .col-md-7 { flex: 0 0 var(--col7); max-width: var(--col7); }
    .col-md-8 { flex: 0 0 var(--col8); max-width: var(--col8); }
    .col-md-9 { flex: 0 0 var(--col9); max-width: var(--col9); }
    .col-md-10 { flex: 0 0 var(--col10); max-width: var(--col10); }
    .col-md-11 { flex: 0 0 var(--col11); max-width: var(--col11); }
    .col-md-12 { flex: 0 0 var(--col12); max-width: var(--col12); }

    .order-md-first { order: -1; }
    .order-md-last { order: 13; }
    .order-md-0 { order: 0; }
    .order-md-1 { order: 1; }
    .order-md-2 { order: 2; }
    .order-md-3 { order: 3; }
    .order-md-4 { order: 4; }
    .order-md-5 { order: 5; }
    .order-md-6 { order: 6; }
    .order-md-7 { order: 7; }
    .order-md-8 { order: 8; }
    .order-md-9 { order: 9; }
    .order-md-10 { order: 10; }
    .order-md-11 { order: 11; }
    .order-md-12 { order: 12; }

    .offset-md-0 { margin-left: 0; }
    .offset-md-1 { margin-left: var(--col1); }
    .offset-md-2 { margin-left: var(--col2); }
    .offset-md-3 { margin-left: var(--col3); }
    .offset-md-4 { margin-left: var(--col4); }
    .offset-md-5 { margin-left: var(--col5); }
    .offset-md-6 { margin-left: var(--col6); }
    .offset-md-7 { margin-left: var(--col7); }
    .offset-md-8 { margin-left: var(--col8); }
    .offset-md-9 { margin-left: var(--col9); }
    .offset-md-10 { margin-left: var(--col10); }
    .offset-md-11 { margin-left: var(--col11); }

    .col-md-1:nth-of-type(n+13),
    .col-md-3:nth-of-type(n+5),
    .col-md-4:nth-of-type(n+4),
    .col-md-12:nth-of-type(n+2),
    .col-md-6:nth-of-type(n+3) { margin-top: var(--gutter); }
}

@include media(lg-up){
    // .container { max-width: 960px; }
    .col-lg { flex-basis: 0; flex-grow: 1; max-width: var(--col12); }
    .col-lg-auto { flex: 0 0 auto; width: auto; max-width: none; }
    .col-lg-1 { flex: 0 0 var(--col1); max-width: var(--col1); }
    .col-lg-2 { flex: 0 0 var(--col2); max-width: var(--col2); }
    .col-lg-3 { flex: 0 0 var(--col3); max-width: var(--col3); }
    .col-lg-4 { flex: 0 0 var(--col4); max-width: var(--col4); }
    .col-lg-5 { flex: 0 0 var(--col5); max-width: var(--col5); }
    .col-lg-6 { flex: 0 0 var(--col6); max-width: var(--col6); }
    .col-lg-7 { flex: 0 0 var(--col7); max-width: var(--col7); }
    .col-lg-8 { flex: 0 0 var(--col8); max-width: var(--col8); }
    .col-lg-9 { flex: 0 0 var(--col9); max-width: var(--col9); }
    .col-lg-10 { flex: 0 0 var(--col10); max-width: var(--col10); }
    .col-lg-11 { flex: 0 0 var(--col11); max-width: var(--col11); }
    .col-lg-12 { flex: 0 0 var(--col12); max-width: var(--col12); }

    .order-lg-first { order: -1; }
    .order-lg-last { order: 13; }
    .order-lg-0 { order: 0; }
    .order-lg-1 { order: 1; }
    .order-lg-2 { order: 2; }
    .order-lg-3 { order: 3; }
    .order-lg-4 { order: 4; }
    .order-lg-5 { order: 5; }
    .order-lg-6 { order: 6; }
    .order-lg-7 { order: 7; }
    .order-lg-8 { order: 8; }
    .order-lg-9 { order: 9; }
    .order-lg-10 { order: 10; }
    .order-lg-11 { order: 11; }
    .order-lg-12 { order: 12; }

    .offset-lg-0 { margin-left: 0; }
    .offset-lg-1 { margin-left: var(--col1); }
    .offset-lg-2 { margin-left: var(--col2); }
    .offset-lg-3 { margin-left: var(--col3); }
    .offset-lg-4 { margin-left: var(--col4); }
    .offset-lg-5 { margin-left: var(--col5); }
    .offset-lg-6 { margin-left: var(--col6); }
    .offset-lg-7 { margin-left: var(--col7); }
    .offset-lg-8 { margin-left: var(--col8); }
    .offset-lg-9 { margin-left: var(--col9); }
    .offset-lg-10 { margin-left: var(--col10); }
    .offset-lg-11 { margin-left: var(--col11); }

    .col-lg-1:nth-of-type(n+13),
    .col-lg-3:nth-of-type(n+5),
    .col-lg-4:nth-of-type(n+4),
    .col-lg-12:nth-of-type(n+2),
    .col-lg-6:nth-of-type(n+3) {
        margin-top: var(--gutter)
    }
}