/*========================================
=            Margin Utilities            =
========================================*/

.m-0 { margin: 0 0 !important; }
.my-0, .mt-0 { margin-top: 0 !important; }
.my-0, .mb-0 { margin-bottom: 0 !important; }
.mx-0, .mr-0 { margin-right: 0 !important; }
.mx-0, .ml-0 { margin-left: 0 !important; }

.m-1 { margin: 1rem 1rem !important; }
.mx-1, .mr-1 { margin-right: 1rem !important; }
.mx-1, .ml-1 { margin-left: 1rem !important; }
.my-1, .mt-1 { margin-top: 1rem !important; }
.my-1, .mb-1 { margin-bottom: 1rem !important; }

.m-2 { margin: var(--scale-2) var(--scale-2) !important; }
.mx-2, .mr-2 { margin-right: var(--scale-2) !important; }
.mx-2, .ml-2 { margin-left: var(--scale-2) !important; }
.my-2, .mt-2 { margin-top: var(--scale-2) !important; }
.my-2, .mb-2 { margin-bottom: var(--scale-2) !important; }

.m-3 { margin: var(--scale-3) var(--scale-3) !important; }
.mx-3, .mr-3 { margin-right: var(--scale-3) !important; }
.mx-3, .ml-3 { margin-left: var(--scale-3) !important; }
.my-3, .mt-3 { margin-top: var(--scale-3) !important; }
.my-3, .mb-3 { margin-bottom: var(--scale-3) !important; }

.m-4 { margin: var(--scale-4) var(--scale-4) !important; }
.mx-4, .mr-4 { margin-right: var(--scale-4) !important; }
.mx-4, .ml-4 { margin-left: var(--scale-4) !important; }
.my-4, .mt-4 { margin-top: var(--scale-4) !important; }
.my-4, .mb-4 { margin-bottom: var(--scale-4) !important; }

.m-5 { margin: var(--scale-5) var(--scale-5) !important; }
.mx-5, .mr-5 { margin-right: var(--scale-5) !important; }
.mx-5, .ml-5 { margin-left: var(--scale-5) !important; }
.my-5, .mt-5 { margin-top: var(--scale-5) !important; }
.my-5, .mb-5 { margin-bottom: var(--scale-5) !important; }

.m-auto { margin: auto !important; }
.my-auto, .mt-auto { margin-top: auto !important; }
.my-auto, .mb-auto { margin-bottom: auto !important; }
.mx-auto, .mr-auto { margin-right: auto !important; }
.mx-auto, .ml-auto { margin-left: auto !important; }

@include media(sm-only) {
    .m-sm-0 { margin: 0 0 !important; }
    .my-sm-0, .mt-sm-0 { margin-top: 0 !important; }
    .my-sm-0, .mb-sm-0 { margin-bottom: 0 !important; }
    .mx-sm-0, .mr-sm-0 { margin-right: 0 !important; }
    .mx-sm-0, .ml-sm-0 { margin-left: 0 !important; }

    .m-sm-1 { margin: 1rem 1rem !important; }
    .mx-sm-1, .mr-sm-1 { margin-right: 1rem !important; }
    .mx-sm-1, .ml-sm-1 { margin-left: 1rem !important; }
    .my-sm-1, .mt-sm-1 { margin-top: 1rem !important; }
    .my-sm-1, .mb-sm-1 { margin-bottom: 1rem !important; }

    .m-sm-2 { margin: var(--scale-2) var(--scale-2) !important; }
    .mx-sm-2, .mr-sm-2 { margin-right: var(--scale-2) !important; }
    .mx-sm-2, .ml-sm-2 { margin-left: var(--scale-2) !important; }
    .my-sm-2, .mt-sm-2 { margin-top: var(--scale-2) !important; }
    .my-sm-2, .mb-sm-2 { margin-bottom: var(--scale-2) !important; }

    .m-sm-3 { margin: var(--scale-3) var(--scale-3) !important; }
    .mx-sm-3, .mr-sm-3 { margin-right: var(--scale-3) !important; }
    .mx-sm-3, .ml-sm-3 { margin-left: var(--scale-3) !important; }
    .my-sm-3, .mt-sm-3 { margin-top: var(--scale-3) !important; }
    .my-sm-3, .mb-sm-3 { margin-bottom: var(--scale-3) !important; }

    .m-sm-4 { margin: var(--scale-4) var(--scale-4) !important; }
    .mx-sm-4, .mr-sm-4 { margin-right: var(--scale-4) !important; }
    .mx-sm-4, .ml-sm-4 { margin-left: var(--scale-4) !important; }
    .my-sm-4, .mt-sm-4 { margin-top: var(--scale-4) !important; }
    .my-sm-4, .mb-sm-4 { margin-bottom: var(--scale-4) !important; }

    .m-sm-5 { margin: var(--scale-5) var(--scale-5) !important; }
    .mx-sm-5, .mr-sm-5 { margin-right: var(--scale-5) !important; }
    .mx-sm-5, .ml-sm-5 { margin-left: var(--scale-5) !important; }
    .my-sm-5, .mt-sm-5 { margin-top: var(--scale-5) !important; }
    .my-sm-5, .mb-sm-5 { margin-bottom: var(--scale-5) !important; }

    .m-sm-auto { margin: auto !important; }
    .my-sm-auto, .mt-sm-auto { margin-top: auto !important; }
    .my-sm-auto, .mb-sm-auto { margin-bottom: auto !important; }
    .mx-sm-auto, .mr-sm-auto { margin-right: auto !important; }
    .mx-sm-auto, .ml-sm-auto { margin-left: auto !important; }
}

@include media(md-only) {
    .m-md-0 { margin: 0 0 !important; }
    .my-md-0, .mt-md-0 { margin-top: 0 !important; }
    .my-md-0, .mb-md-0 { margin-bottom: 0 !important; }
    .mx-md-0, .mr-md-0 { margin-right: 0 !important; }
    .mx-md-0, .ml-md-0 { margin-left: 0 !important; }

    .m-md-1 { margin: 1rem 1rem !important; }
    .mx-md-1, .mr-md-1 { margin-right: 1rem !important; }
    .mx-md-1, .ml-md-1 { margin-left: 1rem !important; }
    .my-md-1, .mt-md-1 { margin-top: 1rem !important; }
    .my-md-1, .mb-md-1 { margin-bottom: 1rem !important; }

    .m-md-2 { margin: var(--scale-2) var(--scale-2) !important; }
    .mx-md-2, .mr-md-2 { margin-right: var(--scale-2) !important; }
    .mx-md-2, .ml-md-2 { margin-left: var(--scale-2) !important; }
    .my-md-2, .mt-md-2 { margin-top: var(--scale-2) !important; }
    .my-md-2, .mb-md-2 { margin-bottom: var(--scale-2) !important; }

    .m-md-3 { margin: var(--scale-3) var(--scale-3) !important; }
    .mx-md-3, .mr-md-3 { margin-right: var(--scale-3) !important; }
    .mx-md-3, .ml-md-3 { margin-left: var(--scale-3) !important; }
    .my-md-3, .mt-md-3 { margin-top: var(--scale-3) !important; }
    .my-md-3, .mb-md-3 { margin-bottom: var(--scale-3) !important; }

    .m-md-4 { margin: var(--scale-4) var(--scale-4) !important; }
    .mx-md-4, .mr-md-4 { margin-right: var(--scale-4) !important; }
    .mx-md-4, .ml-md-4 { margin-left: var(--scale-4) !important; }
    .my-md-4, .mt-md-4 { margin-top: var(--scale-4) !important; }
    .my-md-4, .mb-md-4 { margin-bottom: var(--scale-4) !important; }

    .m-md-5 { margin: var(--scale-5) var(--scale-5) !important; }
    .mx-md-5, .mr-md-5 { margin-right: var(--scale-5) !important; }
    .mx-md-5, .ml-md-5 { margin-left: var(--scale-5) !important; }
    .my-md-5, .mt-md-5 { margin-top: var(--scale-5) !important; }
    .my-md-5, .mb-md-5 { margin-bottom: var(--scale-5) !important; }

    .m-md-auto { margin: auto !important; }
    .my-md-auto, .mt-md-auto { margin-top: auto !important; }
    .my-md-auto, .mb-md-auto { margin-bottom: auto !important; }
    .mx-md-auto, .mr-md-auto { margin-right: auto !important; }
    .mx-md-auto, .ml-md-auto { margin-left: auto !important; }
}

@include media(lg-up) {
    .m-lg-0 { margin: 0 0 !important; }
    .my-lg-0, .mt-lg-0 { margin-top: 0 !important; }
    .my-lg-0, .mb-lg-0 { margin-bottom: 0 !important; }
    .mx-lg-0, .mr-lg-0 { margin-right: 0 !important; }
    .mx-lg-0, .ml-lg-0 { margin-left: 0 !important; }

    .m-lg-1 { margin: 1rem 1rem !important; }
    .mx-lg-1, .mr-lg-1 { margin-right: 1rem !important; }
    .mx-lg-1, .ml-lg-1 { margin-left: 1rem !important; }
    .my-lg-1, .mt-lg-1 { margin-top: 1rem !important; }
    .my-lg-1, .mb-lg-1 { margin-bottom: 1rem !important; }

    .m-lg-2 { margin: var(--scale-2) var(--scale-2) !important; }
    .mx-lg-2, .mr-lg-2 { margin-right: var(--scale-2) !important; }
    .mx-lg-2, .ml-lg-2 { margin-left: var(--scale-2) !important; }
    .my-lg-2, .mt-lg-2 { margin-top: var(--scale-2) !important; }
    .my-lg-2, .mb-lg-2 { margin-bottom: var(--scale-2) !important; }

    .m-lg-3 { margin: var(--scale-3) var(--scale-3) !important; }
    .mx-lg-3, .mr-lg-3 { margin-right: var(--scale-3) !important; }
    .mx-lg-3, .ml-lg-3 { margin-left: var(--scale-3) !important; }
    .my-lg-3, .mt-lg-3 { margin-top: var(--scale-3) !important; }
    .my-lg-3, .mb-lg-3 { margin-bottom: var(--scale-3) !important; }

    .m-lg-4 { margin: var(--scale-4) var(--scale-4) !important; }
    .mx-lg-4, .mr-lg-4 { margin-right: var(--scale-4) !important; }
    .mx-lg-4, .ml-lg-4 { margin-left: var(--scale-4) !important; }
    .my-lg-4, .mt-lg-4 { margin-top: var(--scale-4) !important; }
    .my-lg-4, .mb-lg-4 { margin-bottom: var(--scale-4) !important; }

    .m-lg-5 { margin: var(--scale-5) var(--scale-5) !important; }
    .mx-lg-5, .mr-lg-5 { margin-right: var(--scale-5) !important; }
    .mx-lg-5, .ml-lg-5 { margin-left: var(--scale-5) !important; }
    .my-lg-5, .mt-lg-5 { margin-top: var(--scale-5) !important; }
    .my-lg-5, .mb-lg-5 { margin-bottom: var(--scale-5) !important; }

    .m-lg-auto { margin: auto !important; }
    .my-lg-auto, .mt-lg-auto { margin-top: auto !important; }
    .my-lg-auto, .mb-lg-auto { margin-bottom: auto !important; }
    .mx-lg-auto, .mr-lg-auto { margin-right: auto !important; }
    .mx-lg-auto, .ml-lg-auto { margin-left: auto !important; }
}