/*==================================
=            Visibility            =
==================================*/

.ovh { overflow: hidden; }
.ovy-y { overflow-y: hidden; }
.ovx-h { overflow-x: hidden; }