// ==========================================================================
// # Default Configuration
// ==========================================================================

@use "sass:color";

$-bc-default: #8e43e7;
$-bc-airbnb: #fd5c63;
$-bc-spotify: #1db954;
$-bc-twitter: #1da1f2;
$-bc-cocacola: #ed1c16;
$-bc-disneyxd: #0af167;
$-bc-facebook: #3b5998;
$-bc-snapchat: #fffc00;

$brand-color: $-bc-default !default;

// ==========================================================================
// # Color Model
// ============================================================================

$color-model: rgb !default; // [rgb | ryb]

// ==========================================================================
// # Color Setting
// ============================================================================

$color-mode-harmony: false !default; // [true | false], create harmony in color scheme
$color-mode-harmony-grayscale: false !default; // [true | false], create harmony in grayscale scheme
$color-mode-harmony-grayscale-cool-mix: 3% !default; // [integer], the % amount to mix if primary is cool
$color-mode-harmony-grayscale-warm-mix: 2% !default; // [integer], the % amount to mix if primary is warm

// ==========================================================================
// # Color Accessibility
// ============================================================================

$color-mode-cvd: false !default; // [false | "protanopia" | "protanomaly" | "deuteranopia" | "deuteranomaly" | "tritanopia" | "tritanomaly" | "achromatopsia" | "chromatomaly"]
$color-mode-a11y: false !default; // [true | false] => a11y contrast features

// ==========================================================================
// # Color Utilities
// ============================================================================

$enable-utility-classes: true !default; // [true | false] => _all_ utilities
$enable-utility-bg: true !default; // [true | false] => `.bg-` classes
$enable-utility-color: true !default; // [true | false] => `.color-` classes
$enable-utility-border: true !default; // [true | false] => `.border-` classes
$enable-utility-fill: false !default; // [true | false] => `.fill-` classes
$enable-utility-stroke: false !default; // [true | false] => `.stroke-` classes

// 
$enable-utility-docs: true !default; // [true | false] => table utilieis (for docs)

// ==========================================================================
// # Color Schemes
// ============================================================================

$color-scheme-primary: true !default; // [true | false] => primary scheme
$color-scheme-achromatic: true !default; // [true | false] => achromatic scheme
$color-scheme-slate: false !default;
$color-scheme-stone: false !default;

$color-scheme-analogous: false !default; // [true | false] => analogous scheme
$color-scheme-complementary: false !default; // [true | false] => complementary scheme
$color-scheme-hues: false !default; // [true | false] => hue scheme
$color-scheme-split: false !default; // [true | false] => split scheme
$color-scheme-square: false !default; // [true | false] => split scheme
$color-scheme-tetradic: false !default; // [true | false] => tetradic scheme
$color-scheme-triadic: false !default; // [true | false] => triadic scheme

// ==========================================================================
// # Alert Schemes
// ============================================================================

$color-scheme-danger: false !default; // [true | false] => danger scheme
$color-scheme-warning: false !default; // [true | false] => warning scheme
$color-scheme-success: false !default; // [true | false] => success scheme
$color-scheme-info: false !default; // [true | false] => info scheme

// ==========================================================================
// # Misc. Color Scheme Options
// ============================================================================

$color-scheme-neutral: false !default; // [true | false] => neutral palette
$color-scheme-alpha: false !default; // [true | false] => alpha palette
$color-scheme-pastel: false !default; // [true | false] => pastel color (400)
$color-scheme-equal: false !default; // [true | false ] => chromatic color (400)

// ==========================================================================
// # Disable Checks
// ============================================================================

@if (color.saturation($brand-color) < 8%) {
    $color-scheme-complementary: false;
    $color-scheme-analogous: false;
    $color-scheme-split: false;
    $color-scheme-triadic: false;
    $color-scheme-tetradic: false;
} @else {}

// ==========================================================================
// # Code Output
// ============================================================================

$enable-root-colors: true !default;
// set `true` for => `var(--black)`
// set `false` for => `#000000`
