<section class="section-block" id="section-about">
  <header class="api-header">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-about">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">About</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content">
    <p>This project began as a part of research to identify ongoing issues with visual disabilities, and web accessibility, for a design system application that's been in development since 2013. In perspective, this code is the color system component that is utilized by that application.</p>
    <p>The library contains a variety of advanced functions that can help analyze and determine color temperature, contrast, and more design system automation for your next project.</p>
  </div>
  <hr class="size-sm border-grey-300-a">
  <header class="api-header" id="section-support">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-support">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">Maintenance & Support</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content max-lf">
    <p><a target="_blank" rel="noreferrer" href="https://www.rgbyk.com/color/">@rgbyk/color</a> is developed and maintained by <a target="_blank" rel="noreferrer" href="https://danielhaim.com">Daniel Haim</a>.</p>
  </div>
  <hr class="size-sm border-grey-300-a">
  <header class="api-header" id="section-license">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-license">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">MIT License</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content">
    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
  </div>
  <hr class="size-sm border-grey-300-a">
  <header class="api-header" id="section-cases">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-cases">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">Cases</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content">
    <p>You can use this library to:</p>
    <ul class="pl-3">
      <li>Create a fully documented color system ready to be integrated into any application (web/app)</li>
      <li>Generate a suite of utility classes, and choose between <a target="_blank" rel="noreferrer" href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*">CSS custom properties (variables)</a> or HEX values as your output</li>
      <li>Switch between <a target="_blank" rel="noreferrer" href="https://en.wikipedia.org/wiki/RGB_color_model">RGB</a>/<a target="_blank" rel="noreferrer" href="https://en.wikipedia.org/wiki/RYB_color_model">RYB</a> color modes</li>
      <li>Establish <a target="_blank" rel="noreferrer" href="https://en.wikipedia.org/wiki/Harmony_(color)#Relationship">color relationships</a> (i.e., "harmonious mix") in color schemes</li>
      <li>Neutralize colors and establish a "neutral-tone" to go alongside chromatic colors</li>
      <li>Establish similar color temperature conditions in the grayscale palette</li>
    </ul>
  </div>
  <hr class="size-sm border-grey-300-a">
  <header class="api-header" id="section-features">
    <div class="api-header--meta max-lf">
      <h2 class="api-header--sectiontitle">
      <a class="api-header--title_link" href="#section-features">
        <i class="ico-hashtag"></i>
      </a>
      <span class="api-header--title_text">Features</span>
      </h2>
    </div>
  </header>
  <div class="section-block--content">
    <ul class="pl-3">
      <li>Toggle on/off color palettes (i.e., Complementary, Analogous, Square, Split, Triaddic, Tetradic)</li>
      <li>Toggle on/off web accessibility features for color blindness (i.e., Protanopia, Protanomaly, Deuteranopia, Deuteranomaly, Tritanopia, Tritanomaly, Achromatopsia, Achromatomaly)</li>
      <li>Toggle on/off high-pitch colors to reverse the order to apply the correct contrast</li>
      <li>Create an "alert palette" to apply in user interface components to reflect status (i.e., error, warning, success)</li>
      <li>Toggle on/off utility classes (i.e., <code>.bg-*</code>, <code>.border-*</code>, <code>color-*</code>)</li>
    </ul>
  </div>
</section>