.aside-section {
  border: 1px solid;
  padding: 1rem;
  border-radius: 0.25rem;
}

.aside-section--form label {
  font-size: 1rem;
  min-width: 140px;
  user-select: none;
  vertical-align: middle;
}

.aside-section--form select {
  width: 100%;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  height: 34px;
  font-weight: normal;
  font-size: 1rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aside-section--form select:focus {
  outline: 0;
}

.aside-section--title {
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.aside-section--list {
}
.aside-section--list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.35rem 0;
}

button.aside-section--switch {
  margin: 0;
  padding: 0;
  border: 1px solid;
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  padding: 0.25rem;
}

button.aside-section--switch span {
  padding: 4px 6px;
  border-radius: 3px;
  pointer-events: none;
}

.theme-dark .aside-section {
  background-color: var(--primary-800-a);
  border-color: var(--primary-400-a);
  color: var(--white);
}
.theme-dark .aside-section--title {
  border-bottom-color: var(--primary-500-a);
}
.theme-dark .aside-section--form select {
  background-color: var(--primary-600-a);
  border-color: var(--primary-400-a);
  color: var(--white);
}
.theme-dark .aside-section--form select:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-600-a);
}
.theme-dark button.aside-section--switch {
  background-color: var(--primary-600-a);
  border-color: var(--primary-400-a);
}
.theme-dark button.aside-section--switch[aria-checked="true"] .true {
  background-color: var(--success-500-n);
  color: var(--white);
  font-weight: 700;
}
.theme-dark button.aside-section--switch[aria-checked="false"] .false {
  background-color: var(--danger-500-n);
  color: var(--white);
  font-weight: 700;
}
.theme-dark button.aside-section--switch[aria-checked="true"] .false,
.theme-dark button.aside-section--switch[aria-checked="false"] .true {
  color: var(--white-a);
  font-weight: normal;
}

.theme-light .aside-section {
  background-color: var(--primary-100);
  color: var(--grey-900);
  border-color: var(--primary-400);
}
.theme-light .aside-section--title {
  border-bottom-color: var(--primary-300);
}
.theme-light .aside-section--form select {
  color: var(--primary-800);
  border-color: var(--primary-400-a);
  background-color: var(--white);
}
.theme-light .aside-section--form select:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-300-a);
}
.theme-light button.aside-section--switch {
  background-color: var(--white);
  border-color: var(--primary-400-a);
}
.theme-light button.aside-section--switch[aria-checked="true"] .true {
  background-color: var(--success-200-n);
  color: var(--success-700);
  font-weight: 700;
}
.theme-light button.aside-section--switch[aria-checked="false"] .false {
  background-color: var(--danger-200-n);
  color: var(--danger-700);
  font-weight: 700;
}
.theme-light button.aside-section--switch[aria-checked="true"] .false,
.theme-light button.aside-section--switch[aria-checked="false"] .true {
  color: var(--grey-200);
  font-weight: normal;
}
