/*==============================
=            Alerts            =
===============================*/

.alert {
  display: flex;
  padding: 0.85rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.alert-icon {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  margin-right: 1rem;

  border-right-width: 1px;
  border-right-style: solid;
}

.alert-meta {
}
.alert-meta--title {
  font-weight: bold;
  max-width: 39.292em;
}
.alert-meta--copy {
  font-weight: normal;
  max-width: 39.292em;

  &:not(:first-child) {
    margin-top: 0.5rem;
  }
  &:last-child {
    margin-bottom: 0;
  }

  font-size: 0.8333333333333333rem;
  line-height: 1.6666666666666667;
}

.alert-meta--copy a {
  text-decoration: underline;
}

.theme-light .alert {
}
.theme-dark .alert {
}

.alert {
  background-color: var(--color-grey-100);
  border-color: var(--color-grey-200);
  color: var(--color-grey-900);
}
.alert-icon {
  border-color: var(--color-grey-200);
  color: var(--color-grey-600);
}
