/*=====================================
=            Button Switch            =
=====================================*/

button.switch {
  font: inherit;
  line-height: normal;
  overflow: visible;
  width: auto;
  margin: 0;
  padding: 0;
  color: inherit;
  border: none;
  background: transparent;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  display: flex;
  align-items: center;

  &:focus {
    outline: 0;
  }

  span {
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &[aria-checked="false"] {
  }
  &[aria-checked="true"] {
  }
}

// button.switch span{color: var(--white);}
// button.switch[aria-checked=false]{color: var(--grey-400);}
// button.switch[aria-checked=true]{color: var(--grey-400);}

// .theme-light button.switch[aria-checked=false]{
//   color: var(--grey-400);
//   border-color: var(--grey-200);
//   background-color: var(--grey-100);
// }
