/*==============================
=            Header            =
==============================*/

.site-header {
  width: 100%;
  overflow: hidden;
  border: 1px solid;
  border-radius: 0.25rem;
}

.site-header--row {
  padding: 0.5rem 0.83333333rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &_left,
  &_right {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    min-width: 50%;
  }

  &_left {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  &_right {
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
}

.site-header--menu,
.site-header--logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
}

.site-header--menu:focus {
  outline: 0;
}

.site-header--logo_icon,
.site-header--logo_icon svg {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: -4px;
}

.site-header--logo_text {
  font-size: 16px;
  margin-left: 8px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.site-header--logo_text span {}

.site-header--menu {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  position: relative;
  padding-right: 0.6rem;
  border-radius: 0.3rem;
  background-image: linear-gradient(to top,
      var(--color-primary-500),
      var(--color-primary-400));
}

.site-header--menu_text span {
  position: relative;
  padding-left: 0.6rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: var(--color-white);
}

.site-menu--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 16px;
  width: 16px;
  padding: 0.75rem 0;

  svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: var(--color-black);
  }
}

.site-header--rainbow {
  height: 2rem;
  border-radius: .25rem;
}

.theme-light {
  background-color: var(--color-white);
  color: var(--color-grey-900);

  .site-header {
    box-shadow: 0 2px 4px 0 rgba(var(--color-grey-200-rgb), 0.3);
    background-color: var(--color-primary-100);
    border-color: var(--color-primary-400);
    color: var(--color-grey-900);
  }

  .site-header a {
    color: var(--color-grey-900);
  }

  .site-header--menu:focus {
    box-shadow: 0 0 0 0.2rem var(--color-primary-700);
  }

  .site-header--rainbow {
    background: linear-gradient(-90deg,
        var(--color-hue-1-500),
        var(--color-hue-2-500),
        var(--color-hue-3-500),
        var(--color-hue-4-500),
        var(--color-hue-5-500),
        var(--color-hue-6-500),
        var(--color-hue-7-500),
        var(--color-hue-8-500),
        var(--color-hue-9-500),
        var(--color-hue-10-500),
        var(--color-hue-11-500),
        var(--color-hue-12-500));
  }
}

.theme-dark {
  background-color: var(--color-slate-900);
  color: var(--color-white);

  .site-header {
    background-color: var(--color-primary-800);
    border-color: var(--color-primary-700);
    color: var(--color-white);
  }

  .site-header a {
    color: var(--color-white);
  }

  .site-header--menu:focus {
    box-shadow: 0 0 0 0.2rem var(--color-primary-700);
  }

  .site-header--rainbow {
    background: linear-gradient(-90deg,
        var(--color-hue-1-500),
        var(--color-hue-2-500),
        var(--color-hue-3-500),
        var(--color-hue-4-500),
        var(--color-hue-5-500),
        var(--color-hue-6-500),
        var(--color-hue-7-500),
        var(--color-hue-8-500),
        var(--color-hue-9-500),
        var(--color-hue-10-500),
        var(--color-hue-11-500),
        var(--color-hue-12-500));
  }
}

.theme-dark {
  .id1 {
    fill: rgba(var(--color-grey-500-rgb), 0.3);
  }

  .id2 {
    fill: rgba(var(--color-grey-400-rgb), 0.3);
  }

  .id2 {
    fill: rgba(var(--color-grey-400-rgb), 0.3);
  }

  .id3 {
    fill: rgba(var(--color-grey-300-rgb), 0.3);
  }

  .id4 {
    fill: rgba(var(--color-grey-800-rgb), 0.3);
  }

  .id5 {
    fill: rgba(var(--color-grey-600-rgb), 0.3);
  }

  .id6 {
    fill: rgba(var(--color-grey-700-rgb), 0.3);
  }
}

.theme-light {
  .id1 {
    fill: rgba(var(--color-grey-200-rgb), 0.3);
  }

  .id2 {
    fill: rgba(var(--color-grey-200-rgb), 0.3);
  }

  .id2 {
    fill: rgba(var(--color-grey-200-rgb), 0.3);
  }

  .id3 {
    fill: rgba(var(--color-grey-100-rgb), 0.3);
  }

  .id4 {
    fill: rgba(var(--color-grey-300-rgb), 0.3);
  }

  .id5 {
    fill: rgba(var(--color-grey-300-rgb), 0.3);
  }

  .id6 {
    fill: rgba(var(--color-grey-400-rgb), 0.3);
  }
}