.tag {
  padding: 2px 4px;
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  text-transform: lowercase;
  line-height: 1;
}

.theme-light {
  .tag-easy {
    background-color: var(--success-400-a);
    color: var(--success-600-n);
  }

  .tag-intermediate {
    background-color: var(--warning-400-a);
    color: var(--warning-600-n);
  }

  .tag-advanced {
    background-color: var(--danger-400-a);
    color: var(--danger-600-n);
  }
}

.theme-dark {
  .tag-easy {
    background-color: var(--success-400-a);
    color: var(--success-300);
  }

  .tag-intermediate {
    background-color: var(--warning-400-a);
    color: var(--warning-300);
  }

  .tag-advanced {
    background-color: var(--danger-400-a);
    color: var(--danger-300);
  }
}
