*,
*::before,
*::after {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figcaption, figure, footer,
header, hgroup, main, nav, section {
  display: block;
}



iframe {
  border: 0;
}

blockquote, q {
  quotes: none;

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: none !important;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: 0;
}

address {
  font-style: normal;
  line-height: inherit;
}

b,
strong {
  font-weight: bolder;
}

figure {
  margin: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  border-image-width: 0;
}

img[src=''] {
  display: none;
}

svg:not(:root) {
  // overflow: hidden;
  overflow: visible;
}

a, button, input, label,
select, summary, textarea,
[role='button'] {
  touch-action: manipulation;
}

input, select, button, progress,
[type='button'],
[type='submit'],
[type='reset'],
[type='search'] {
  appearance: none;
}

input:not(:disabled),
select:not(:disabled),
button:not(:disabled),
progress:not(:disabled),
[type='button']:not(:disabled),
[type='submit']:not(:disabled),
[type='reset']:not(:disabled),
[type='search']:not(:disabled) {
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
}

select {
  word-wrap: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: textfield;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-datetime-edit {
  line-height: 0;
  overflow: visible;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:focus {
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation-play-state: paused !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  &:not([href]):not([tabindex]) {
    text-decoration: none;
  }

  &:not([href]):not([tabindex]):hover,
  &:not([href]):not([tabindex]):focus {
    cursor: pointer;
    text-decoration: none;
  }

  &:not([href]):not([tabindex]):focus {
    outline: 0;
  }
}