// ==========================================================================
// @rgbyk/docs/color-rgb.scss
// ==========================================================================

@use "../config" with (
    $color-model: rgb,
    $color-mode-harmony: false,
    $color-mode-harmony-grayscale: false,

    $enable-utility-docs: true,

    $color-scheme-alpha: true,
    $color-scheme-neutral: true,

    $color-scheme-achromatic: true,
    $color-scheme-slate: true,
    $color-scheme-stone: true,

    $color-scheme-analogous: true,
    $color-scheme-complementary: true,
    $color-scheme-split: true,
    $color-scheme-square: true,
    $color-scheme-tetradic: true,
    $color-scheme-triadic: true,

    $color-scheme-hues: true,

    $color-scheme-danger: false,
    $color-scheme-warning: false,
    $color-scheme-success: false,
    $color-scheme-info: false
);

@use "../functions";
@use "../schemes";
@use "../utilities";