:root {
  --color-white: white;
  --color-black: #000000;
  --color-grey-50: #fafafa;
  --color-grey-100: whitesmoke;
  --color-grey-200: #eeeeee;
  --color-grey-300: #d5d5d5;
  --color-grey-400: #afafaf;
  --color-grey-500: #727272;
  --color-grey-600: #585858;
  --color-grey-700: #474747;
  --color-grey-800: #262626;
  --color-grey-900: #1e1e1e;
  --color-stone-50: #fafaf9;
  --color-stone-100: whitesmoke;
  --color-stone-200: #eeeded;
  --color-stone-300: #d6d5d5;
  --color-stone-400: #b0afaf;
  --color-stone-500: #747373;
  --color-stone-600: #5a5858;
  --color-stone-700: #484747;
  --color-stone-800: #262626;
  --color-stone-900: #1e1e1e;
  --color-primary-50: #fff7f6;
  --color-primary-100: #fee8e5;
  --color-primary-200: #fed8d3;
  --color-primary-300: #fed1cb;
  --color-primary-400: #fdc1b9;
  --color-primary-500: #fca296;
  --color-primary-600: #c58279;
  --color-primary-700: #9c6760;
  --color-primary-800: #47312e;
  --color-primary-900: #150e0d;
  --color-complementary-50: #f8fdf9;
  --color-complementary-100: #ebf9ed;
  --color-complementary-200: #ddf5e0;
  --color-complementary-300: #d6f3da;
  --color-complementary-400: #c8efce;
  --color-complementary-500: #ade7b5;
  --color-complementary-600: #8ab590;
  --color-complementary-700: #6e9072;
  --color-complementary-800: #344236;
  --color-complementary-900: #0e130f;
  --color-analogous-1-50: #fff9f6;
  --color-analogous-1-100: #feede5;
  --color-analogous-1-200: #fee1d3;
  --color-analogous-1-300: #fedbcb;
  --color-analogous-1-400: #fdceb9;
  --color-analogous-1-500: #fcb696;
  --color-analogous-1-600: #c59179;
  --color-analogous-1-700: #9c7360;
  --color-analogous-1-800: #47362e;
  --color-analogous-1-900: #150f0d;
  --color-analogous-2-50: #fffbf6;
  --color-analogous-2-100: #fef3e5;
  --color-analogous-2-200: #feebd3;
  --color-analogous-2-300: #fee7cb;
  --color-analogous-2-400: #fddfb9;
  --color-analogous-2-500: #fccf96;
  --color-analogous-2-600: #c5a379;
  --color-analogous-2-700: #9c8260;
  --color-analogous-2-800: #473c2e;
  --color-analogous-2-900: #15110d;
  --color-analogous-3-50: #fffdf6;
  --color-analogous-3-100: #fef9e5;
  --color-analogous-3-200: #fef4d3;
  --color-analogous-3-300: #fef2cb;
  --color-analogous-3-400: #fdeeb9;
  --color-analogous-3-500: #fce596;
  --color-analogous-3-600: #c5b479;
  --color-analogous-3-700: #9c8e60;
  --color-analogous-3-800: #47422e;
  --color-analogous-3-900: #15130d;
  --color-primary-50-neutral: #fdf9f8;
  --color-primary-100-neutral: #f8eceb;
  --color-primary-200-neutral: #f4e0dd;
  --color-primary-300-neutral: #f2dad7;
  --color-primary-400-neutral: #edcdc9;
  --color-primary-500-neutral: #e5b4ad;
  --color-primary-600-neutral: #b48f8a;
  --color-primary-700-neutral: #8e726e;
  --color-primary-800-neutral: #413534;
  --color-primary-900-neutral: #130f0f;
  --color-complementary-50-neutral: #f9fcfa;
  --color-complementary-100-neutral: #eef6ef;
  --color-complementary-200-neutral: #e3efe4;
  --color-complementary-300-neutral: #ddecdf;
  --color-complementary-400-neutral: #d1e6d4;
  --color-complementary-500-neutral: #badabf;
  --color-complementary-600-neutral: #94ab97;
  --color-complementary-700-neutral: #768878;
  --color-complementary-800-neutral: #373f38;
  --color-complementary-900-neutral: #0f1210;
  --color-analogous-1-50-neutral: #fdfaf8;
  --color-analogous-1-100-neutral: #f8efeb;
  --color-analogous-1-200-neutral: #f4e4dd;
  --color-analogous-1-300-neutral: #f2dfd7;
  --color-analogous-1-400-neutral: #edd4c9;
  --color-analogous-1-500-neutral: #e5bfad;
  --color-analogous-1-600-neutral: #b4978a;
  --color-analogous-1-700-neutral: #8e786e;
  --color-analogous-1-800-neutral: #413834;
  --color-analogous-1-900-neutral: #13100f;
  --color-analogous-2-50-neutral: #fefbf7;
  --color-analogous-2-100-neutral: #fbf3e8;
  --color-analogous-2-200-neutral: #f8ead9;
  --color-analogous-2-300-neutral: #f7e6d2;
  --color-analogous-2-400-neutral: #f4dec2;
  --color-analogous-2-500-neutral: #efcda3;
  --color-analogous-2-600-neutral: #bba283;
  --color-analogous-2-700-neutral: #948168;
  --color-analogous-2-800-neutral: #443c31;
  --color-analogous-2-900-neutral: #13110f;
  --color-analogous-3-50-neutral: #fefcf7;
  --color-analogous-3-100-neutral: #fbf7e8;
  --color-analogous-3-200-neutral: #f8f1d9;
  --color-analogous-3-300-neutral: #f7eed2;
  --color-analogous-3-400-neutral: #f4e9c2;
  --color-analogous-3-500-neutral: #efdea3;
  --color-analogous-3-600-neutral: #bbaf83;
  --color-analogous-3-700-neutral: #948a68;
  --color-analogous-3-800-neutral: #444031;
  --color-analogous-3-900-neutral: #14120e;
  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;
  --color-grey-50-rgb: 250, 250, 250;
  --color-grey-100-rgb: 245, 245, 245;
  --color-grey-200-rgb: 238, 238, 238;
  --color-grey-300-rgb: 213, 213, 213;
  --color-grey-400-rgb: 175, 175, 175;
  --color-grey-500-rgb: 114, 114, 114;
  --color-grey-600-rgb: 88, 88, 88;
  --color-grey-700-rgb: 71, 71, 71;
  --color-grey-800-rgb: 38, 38, 38;
  --color-grey-900-rgb: 30, 30, 30;
  --color-stone-50-rgb: 250, 250, 249;
  --color-stone-100-rgb: 245, 245, 245;
  --color-stone-200-rgb: 238, 237, 237;
  --color-stone-300-rgb: 214, 213, 213;
  --color-stone-400-rgb: 176, 175, 175;
  --color-stone-500-rgb: 116, 115, 115;
  --color-stone-600-rgb: 90, 88, 88;
  --color-stone-700-rgb: 72, 71, 71;
  --color-stone-800-rgb: 38, 38, 38;
  --color-stone-900-rgb: 30, 30, 30;
  --color-primary-50-rgb: 255, 247, 246;
  --color-primary-100-rgb: 254, 232, 229;
  --color-primary-200-rgb: 254, 216, 211;
  --color-primary-300-rgb: 254, 209, 203;
  --color-primary-400-rgb: 253, 193, 185;
  --color-primary-500-rgb: 252, 162, 150;
  --color-primary-600-rgb: 197, 130, 121;
  --color-primary-700-rgb: 156, 103, 96;
  --color-primary-800-rgb: 71, 49, 46;
  --color-primary-900-rgb: 21, 14, 13;
  --color-complementary-50-rgb: 248, 253, 249;
  --color-complementary-100-rgb: 235, 249, 237;
  --color-complementary-200-rgb: 221, 245, 224;
  --color-complementary-300-rgb: 214, 243, 218;
  --color-complementary-400-rgb: 200, 239, 206;
  --color-complementary-500-rgb: 173, 231, 181;
  --color-complementary-600-rgb: 138, 181, 144;
  --color-complementary-700-rgb: 110, 144, 114;
  --color-complementary-800-rgb: 52, 66, 54;
  --color-complementary-900-rgb: 14, 19, 15;
  --color-analogous-1-50-rgb: 255, 249, 246;
  --color-analogous-1-100-rgb: 254, 237, 229;
  --color-analogous-1-200-rgb: 254, 225, 211;
  --color-analogous-1-300-rgb: 254, 219, 203;
  --color-analogous-1-400-rgb: 253, 206, 185;
  --color-analogous-1-500-rgb: 252, 182, 150;
  --color-analogous-1-600-rgb: 197, 145, 121;
  --color-analogous-1-700-rgb: 156, 115, 96;
  --color-analogous-1-800-rgb: 71, 54, 46;
  --color-analogous-1-900-rgb: 21, 15, 13;
  --color-analogous-2-50-rgb: 255, 251, 246;
  --color-analogous-2-100-rgb: 254, 243, 229;
  --color-analogous-2-200-rgb: 254, 235, 211;
  --color-analogous-2-300-rgb: 254, 231, 203;
  --color-analogous-2-400-rgb: 253, 223, 185;
  --color-analogous-2-500-rgb: 252, 207, 150;
  --color-analogous-2-600-rgb: 197, 163, 121;
  --color-analogous-2-700-rgb: 156, 130, 96;
  --color-analogous-2-800-rgb: 71, 60, 46;
  --color-analogous-2-900-rgb: 21, 17, 13;
  --color-analogous-3-50-rgb: 255, 253, 246;
  --color-analogous-3-100-rgb: 254, 249, 229;
  --color-analogous-3-200-rgb: 254, 244, 211;
  --color-analogous-3-300-rgb: 254, 242, 203;
  --color-analogous-3-400-rgb: 253, 238, 185;
  --color-analogous-3-500-rgb: 252, 229, 150;
  --color-analogous-3-600-rgb: 197, 180, 121;
  --color-analogous-3-700-rgb: 156, 142, 96;
  --color-analogous-3-800-rgb: 71, 66, 46;
  --color-analogous-3-900-rgb: 21, 19, 13;
}
