:root {
  --color-white: white;
  --color-black: #000000;
  --color-grey-50: #fafafa;
  --color-grey-100: whitesmoke;
  --color-grey-200: #eeeeee;
  --color-grey-300: #d5d5d5;
  --color-grey-400: #afafaf;
  --color-grey-500: #727272;
  --color-grey-600: #585858;
  --color-grey-700: #474747;
  --color-grey-800: #262626;
  --color-grey-900: #1e1e1e;
  --color-slate-50: #f6f8fa;
  --color-slate-100: #f4f4f5;
  --color-slate-200: #e8ebef;
  --color-slate-300: #d0d3d7;
  --color-slate-400: #a6abb1;
  --color-slate-500: #70757a;
  --color-slate-600: #53585e;
  --color-slate-700: #43474c;
  --color-slate-800: #242628;
  --color-slate-900: #1c1e20;
  --color-primary-50: #fff1ea;
  --color-primary-100: #ffd5bf;
  --color-primary-200: #ffb895;
  --color-primary-300: #ffaa80;
  --color-primary-400: #ff8e55;
  --color-primary-500: #ff5500;
  --color-primary-600: #c74808;
  --color-primary-700: #9e3a09;
  --color-primary-800: #481e08;
  --color-primary-900: #150700;
  --color-hue-1-50: #ffeaea;
  --color-hue-1-100: #ffbfbf;
  --color-hue-1-200: #ff9595;
  --color-hue-1-300: #ff8080;
  --color-hue-1-400: #ff5555;
  --color-hue-1-500: red;
  --color-hue-1-600: #c70808;
  --color-hue-1-700: #9e0909;
  --color-hue-1-800: #480808;
  --color-hue-1-900: #150000;
  --color-hue-2-50: #fff4ea;
  --color-hue-2-100: #ffdfbf;
  --color-hue-2-200: #ffca95;
  --color-hue-2-300: #ffc080;
  --color-hue-2-400: #ffaa55;
  --color-hue-2-500: #ff8000;
  --color-hue-2-600: #c76808;
  --color-hue-2-700: #9e5309;
  --color-hue-2-800: #482808;
  --color-hue-2-900: #150b00;
  --color-hue-3-50: #ffffea;
  --color-hue-3-100: #ffffbf;
  --color-hue-3-200: #ffff95;
  --color-hue-3-300: #ffff80;
  --color-hue-3-400: #ffff55;
  --color-hue-3-500: yellow;
  --color-hue-3-600: #c7c708;
  --color-hue-3-700: #9e9e09;
  --color-hue-3-800: #484808;
  --color-hue-3-900: #151500;
  --color-hue-4-50: #f4ffea;
  --color-hue-4-100: #dfffbf;
  --color-hue-4-200: #caff95;
  --color-hue-4-300: #c0ff80;
  --color-hue-4-400: #aaff55;
  --color-hue-4-500: #80ff00;
  --color-hue-4-600: #68c708;
  --color-hue-4-700: #539e09;
  --color-hue-4-800: #284808;
  --color-hue-4-900: #0b1500;
  --color-hue-5-50: #eaffea;
  --color-hue-5-100: #bfffbf;
  --color-hue-5-200: #95ff95;
  --color-hue-5-300: #80ff80;
  --color-hue-5-400: #55ff55;
  --color-hue-5-500: lime;
  --color-hue-5-600: #08c708;
  --color-hue-5-700: #099e09;
  --color-hue-5-800: #084808;
  --color-hue-5-900: #001500;
  --color-hue-6-50: #eafff4;
  --color-hue-6-100: #bfffdf;
  --color-hue-6-200: #95ffca;
  --color-hue-6-300: #80ffc0;
  --color-hue-6-400: #55ffaa;
  --color-hue-6-500: #00ff80;
  --color-hue-6-600: #08c768;
  --color-hue-6-700: #099e53;
  --color-hue-6-800: #084828;
  --color-hue-6-900: #00150b;
  --color-hue-7-50: #eaffff;
  --color-hue-7-100: #bfffff;
  --color-hue-7-200: #95ffff;
  --color-hue-7-300: #80ffff;
  --color-hue-7-400: #55ffff;
  --color-hue-7-500: aqua;
  --color-hue-7-600: #08c7c7;
  --color-hue-7-700: #099e9e;
  --color-hue-7-800: #084848;
  --color-hue-7-900: #001515;
  --color-hue-8-50: #eaf4ff;
  --color-hue-8-100: #bfdfff;
  --color-hue-8-200: #95caff;
  --color-hue-8-300: #80c0ff;
  --color-hue-8-400: #55aaff;
  --color-hue-8-500: #0080ff;
  --color-hue-8-600: #0868c7;
  --color-hue-8-700: #09539e;
  --color-hue-8-800: #082848;
  --color-hue-8-900: #000b15;
  --color-hue-9-50: #eaeaff;
  --color-hue-9-100: #bfbfff;
  --color-hue-9-200: #9595ff;
  --color-hue-9-300: #8080ff;
  --color-hue-9-400: #5555ff;
  --color-hue-9-500: blue;
  --color-hue-9-600: #0808c7;
  --color-hue-9-700: #09099e;
  --color-hue-9-800: #080848;
  --color-hue-9-900: #000015;
  --color-hue-10-50: #f4eaff;
  --color-hue-10-100: #dfbfff;
  --color-hue-10-200: #ca95ff;
  --color-hue-10-300: #c080ff;
  --color-hue-10-400: #aa55ff;
  --color-hue-10-500: #8000ff;
  --color-hue-10-600: #6808c7;
  --color-hue-10-700: #53099e;
  --color-hue-10-800: #280848;
  --color-hue-10-900: #0b0015;
  --color-hue-11-50: #ffeaff;
  --color-hue-11-100: #ffbfff;
  --color-hue-11-200: #ff95ff;
  --color-hue-11-300: #ff80ff;
  --color-hue-11-400: #ff55ff;
  --color-hue-11-500: fuchsia;
  --color-hue-11-600: #c708c7;
  --color-hue-11-700: #9e099e;
  --color-hue-11-800: #480848;
  --color-hue-11-900: #150015;
  --color-hue-12-50: #ffeaf4;
  --color-hue-12-100: #ffbfdf;
  --color-hue-12-200: #ff95ca;
  --color-hue-12-300: #ff80c0;
  --color-hue-12-400: #ff55aa;
  --color-hue-12-500: #ff0080;
  --color-hue-12-600: #c70868;
  --color-hue-12-700: #9e0953;
  --color-hue-12-800: #480828;
  --color-hue-12-900: #15000b;
  --color-complementary-50: #eff6fa;
  --color-complementary-100: #cee5f0;
  --color-complementary-200: #add3e6;
  --color-complementary-300: #9dcbe2;
  --color-complementary-400: #7cb9d8;
  --color-complementary-500: #3b96c4;
  --color-complementary-600: #34799b;
  --color-complementary-700: #2b607b;
  --color-complementary-800: #172e39;
  --color-complementary-900: #050d10;
  --color-analogous-1-50: #fffaea;
  --color-analogous-1-100: #fff0bf;
  --color-analogous-1-200: #ffe695;
  --color-analogous-1-300: #ffe280;
  --color-analogous-1-400: #ffd855;
  --color-analogous-1-500: #ffc400;
  --color-analogous-1-600: #c79b08;
  --color-analogous-1-700: #9e7b09;
  --color-analogous-1-800: #483908;
  --color-analogous-1-900: #151000;
  --color-analogous-2-50: #f9fdea;
  --color-analogous-2-100: #edfabf;
  --color-analogous-2-200: #e0f695;
  --color-analogous-2-300: #daf480;
  --color-analogous-2-400: #cef055;
  --color-analogous-2-500: #b5e900;
  --color-analogous-2-600: #90b708;
  --color-analogous-2-700: #729109;
  --color-analogous-2-800: #364308;
  --color-analogous-2-900: #0f1300;
  --color-analogous-3-50: #f0fdea;
  --color-analogous-3-100: #d1fabf;
  --color-analogous-3-200: #b2f695;
  --color-analogous-3-300: #a3f480;
  --color-analogous-3-400: #84f055;
  --color-analogous-3-500: #47e900;
  --color-analogous-3-600: #3db708;
  --color-analogous-3-700: #329109;
  --color-analogous-3-800: #1a4308;
  --color-analogous-3-900: #061300;
  --color-split-1-50: #effcf7;
  --color-split-1-100: #cef5e8;
  --color-split-1-200: #adefd9;
  --color-split-1-300: #9decd2;
  --color-split-1-400: #7ce5c2;
  --color-split-1-500: #3bd8a4;
  --color-split-1-600: #34aa83;
  --color-split-1-700: #2b8768;
  --color-split-1-800: #173e31;
  --color-split-1-900: #05120e;
  --color-split-2-50: #efeefa;
  --color-split-2-100: #cecdf0;
  --color-split-2-200: #adabe6;
  --color-split-2-300: #9d9ae2;
  --color-split-2-400: #7c78d8;
  --color-split-2-500: #3b35c4;
  --color-split-2-600: #34309b;
  --color-split-2-700: #2b287b;
  --color-split-2-800: #171639;
  --color-split-2-900: #050410;
  --color-square-1-50: #f0fdea;
  --color-square-1-100: #d1fabf;
  --color-square-1-200: #b2f695;
  --color-square-1-300: #a3f480;
  --color-square-1-400: #84f055;
  --color-square-1-500: #47e900;
  --color-square-1-600: #3db708;
  --color-square-1-700: #329109;
  --color-square-1-800: #1a4308;
  --color-square-1-900: #061300;
  --color-square-2-50: #eff6fa;
  --color-square-2-100: #cee5f0;
  --color-square-2-200: #add3e6;
  --color-square-2-300: #9dcbe2;
  --color-square-2-400: #7cb9d8;
  --color-square-2-500: #3b96c4;
  --color-square-2-600: #34799b;
  --color-square-2-700: #2b607b;
  --color-square-2-800: #172e39;
  --color-square-2-900: #050d10;
  --color-square-3-50: #fcebfa;
  --color-square-3-100: #f7c4f0;
  --color-square-3-200: #f29de6;
  --color-square-3-300: #ef8ae2;
  --color-square-3-400: #ea62d8;
  --color-square-3-500: #df14c4;
  --color-square-3-600: #af179b;
  --color-square-3-700: #8b147b;
  --color-square-3-800: #400d39;
  --color-square-3-900: #130210;
  --color-triadic-1-50: #effcef;
  --color-triadic-1-100: #cef5d0;
  --color-triadic-1-200: #adefb0;
  --color-triadic-1-300: #9deca0;
  --color-triadic-1-400: #7ce580;
  --color-triadic-1-500: #3bd841;
  --color-triadic-1-600: #34aa39;
  --color-triadic-1-700: #2b872f;
  --color-triadic-1-800: #173e19;
  --color-triadic-1-900: #051205;
  --color-triadic-2-50: #f4ebfa;
  --color-triadic-2-100: #dec4f0;
  --color-triadic-2-200: #c89de6;
  --color-triadic-2-300: #be8ae2;
  --color-triadic-2-400: #a862d8;
  --color-triadic-2-500: #7c14c4;
  --color-triadic-2-600: #65179b;
  --color-triadic-2-700: #51147b;
  --color-triadic-2-800: #270d39;
  --color-triadic-2-900: #0a0210;
  --color-tetradic-1-50: #f9fdea;
  --color-tetradic-1-100: #edfabf;
  --color-tetradic-1-200: #e0f695;
  --color-tetradic-1-300: #daf480;
  --color-tetradic-1-400: #cef055;
  --color-tetradic-1-500: #b5e900;
  --color-tetradic-1-600: #90b708;
  --color-tetradic-1-700: #729109;
  --color-tetradic-1-800: #364308;
  --color-tetradic-1-900: #0f1300;
  --color-tetradic-2-50: #eff6fa;
  --color-tetradic-2-100: #cee5f0;
  --color-tetradic-2-200: #add3e6;
  --color-tetradic-2-300: #9dcbe2;
  --color-tetradic-2-400: #7cb9d8;
  --color-tetradic-2-500: #3b96c4;
  --color-tetradic-2-600: #34799b;
  --color-tetradic-2-700: #2b607b;
  --color-tetradic-2-800: #172e39;
  --color-tetradic-2-900: #050d10;
  --color-tetradic-3-50: #f4ebfa;
  --color-tetradic-3-100: #dec4f0;
  --color-tetradic-3-200: #c89de6;
  --color-tetradic-3-300: #be8ae2;
  --color-tetradic-3-400: #a862d8;
  --color-tetradic-3-500: #7c14c4;
  --color-tetradic-3-600: #65179b;
  --color-tetradic-3-700: #51147b;
  --color-tetradic-3-800: #270d39;
  --color-tetradic-3-900: #0a0210;
  --color-success-50: #eaffea;
  --color-success-100: #bfffbf;
  --color-success-200: #95ff95;
  --color-success-300: #80ff80;
  --color-success-400: #55ff55;
  --color-success-500: lime;
  --color-success-600: #08c708;
  --color-success-700: #099e09;
  --color-success-800: #084808;
  --color-success-900: #001500;
  --color-danger-50: #ffeaea;
  --color-danger-100: #ffbfbf;
  --color-danger-200: #ff9595;
  --color-danger-300: #ff8080;
  --color-danger-400: #ff5555;
  --color-danger-500: red;
  --color-danger-600: #c70808;
  --color-danger-700: #9e0909;
  --color-danger-800: #480808;
  --color-danger-900: #150000;
  --color-warning-50: #fff4ea;
  --color-warning-100: #ffdfbf;
  --color-warning-200: #ffca95;
  --color-warning-300: #ffc080;
  --color-warning-400: #ffaa55;
  --color-warning-500: #ff8000;
  --color-warning-600: #c76808;
  --color-warning-700: #9e5309;
  --color-warning-800: #482808;
  --color-warning-900: #150b00;
  --color-info-50: #eaf4ff;
  --color-info-100: #bfdfff;
  --color-info-200: #95caff;
  --color-info-300: #80c0ff;
  --color-info-400: #55aaff;
  --color-info-500: #0080ff;
  --color-info-600: #0868c7;
  --color-info-700: #09539e;
  --color-info-800: #082848;
  --color-info-900: #000b15;
  --color-primary-50-neutral: #faf3ef;
  --color-primary-100-neutral: #f0dace;
  --color-primary-200-neutral: #e7c0ad;
  --color-primary-300-neutral: #e2b49d;
  --color-primary-400-neutral: #d89b7c;
  --color-primary-500-neutral: #c4693b;
  --color-primary-600-neutral: #9b5634;
  --color-primary-700-neutral: #7c462b;
  --color-primary-800-neutral: #392317;
  --color-primary-900-neutral: #100905;
  --color-hue-1-50-neutral: #faefef;
  --color-hue-1-100-neutral: #f0cece;
  --color-hue-1-200-neutral: #e7adad;
  --color-hue-1-300-neutral: #e29d9d;
  --color-hue-1-400-neutral: #d87c7c;
  --color-hue-1-500-neutral: #c43b3b;
  --color-hue-1-600-neutral: #9b3434;
  --color-hue-1-700-neutral: #7c2b2b;
  --color-hue-1-800-neutral: #391717;
  --color-hue-1-900-neutral: #100505;
  --color-hue-2-50-neutral: #faf4ef;
  --color-hue-2-100-neutral: #f0dfce;
  --color-hue-2-200-neutral: #e7caad;
  --color-hue-2-300-neutral: #eec091;
  --color-hue-2-400-neutral: #d8aa7c;
  --color-hue-2-500-neutral: #de8021;
  --color-hue-2-600-neutral: #ae6821;
  --color-hue-2-700-neutral: #7c532b;
  --color-hue-2-800-neutral: #392817;
  --color-hue-2-900-neutral: #120b03;
  --color-hue-3-50-neutral: #fcfced;
  --color-hue-3-100-neutral: #f7f7c7;
  --color-hue-3-200-neutral: #f1f1a3;
  --color-hue-3-300-neutral: #eeee91;
  --color-hue-3-400-neutral: #e9e96b;
  --color-hue-3-500-neutral: #dede21;
  --color-hue-3-600-neutral: #aeae21;
  --color-hue-3-700-neutral: #8b8b1c;
  --color-hue-3-800-neutral: #404010;
  --color-hue-3-900-neutral: #121203;
  --color-hue-4-50-neutral: #f4faef;
  --color-hue-4-100-neutral: #dff0ce;
  --color-hue-4-200-neutral: #cae7ad;
  --color-hue-4-300-neutral: #c0e29d;
  --color-hue-4-400-neutral: #aad87c;
  --color-hue-4-500-neutral: #80c43b;
  --color-hue-4-600-neutral: #689b34;
  --color-hue-4-700-neutral: #537c2b;
  --color-hue-4-800-neutral: #283917;
  --color-hue-4-900-neutral: #0b1203;
  --color-hue-5-50-neutral: #effaef;
  --color-hue-5-100-neutral: #cef0ce;
  --color-hue-5-200-neutral: #ade7ad;
  --color-hue-5-300-neutral: #9de29d;
  --color-hue-5-400-neutral: #7cd87c;
  --color-hue-5-500-neutral: #3bc43b;
  --color-hue-5-600-neutral: #349b34;
  --color-hue-5-700-neutral: #2b7c2b;
  --color-hue-5-800-neutral: #173917;
  --color-hue-5-900-neutral: #051005;
  --color-hue-6-50-neutral: #effaf4;
  --color-hue-6-100-neutral: #cef0df;
  --color-hue-6-200-neutral: #ade7ca;
  --color-hue-6-300-neutral: #9de2c0;
  --color-hue-6-400-neutral: #7cd8aa;
  --color-hue-6-500-neutral: #3bc480;
  --color-hue-6-600-neutral: #349b68;
  --color-hue-6-700-neutral: #2b7c53;
  --color-hue-6-800-neutral: #173928;
  --color-hue-6-900-neutral: #05100b;
  --color-hue-7-50-neutral: #effafa;
  --color-hue-7-100-neutral: #cef0f0;
  --color-hue-7-200-neutral: #ade7e7;
  --color-hue-7-300-neutral: #9de2e2;
  --color-hue-7-400-neutral: #7cd8d8;
  --color-hue-7-500-neutral: #3bc4c4;
  --color-hue-7-600-neutral: #349b9b;
  --color-hue-7-700-neutral: #2b7c7c;
  --color-hue-7-800-neutral: #173939;
  --color-hue-7-900-neutral: #051010;
  --color-hue-8-50-neutral: #f1f4f8;
  --color-hue-8-100-neutral: #cedff0;
  --color-hue-8-200-neutral: #adcae7;
  --color-hue-8-300-neutral: #9dc0e2;
  --color-hue-8-400-neutral: #7caad8;
  --color-hue-8-500-neutral: #3b80c4;
  --color-hue-8-600-neutral: #34689b;
  --color-hue-8-700-neutral: #375370;
  --color-hue-8-800-neutral: #172839;
  --color-hue-8-900-neutral: #050b10;
  --color-hue-9-50-neutral: #f1f1f8;
  --color-hue-9-100-neutral: #d3d3eb;
  --color-hue-9-200-neutral: #b6b6de;
  --color-hue-9-300-neutral: #a7a7d8;
  --color-hue-9-400-neutral: #8a8aca;
  --color-hue-9-500-neutral: #4f4fb0;
  --color-hue-9-600-neutral: #43438c;
  --color-hue-9-700-neutral: #373770;
  --color-hue-9-800-neutral: #1c1c34;
  --color-hue-9-900-neutral: #07070e;
  --color-hue-10-50-neutral: #f4f1f8;
  --color-hue-10-100-neutral: #dfd0ee;
  --color-hue-10-200-neutral: #cab1e3;
  --color-hue-10-300-neutral: #c0a1de;
  --color-hue-10-400-neutral: #aa81d3;
  --color-hue-10-500-neutral: #8042bd;
  --color-hue-10-600-neutral: #683a95;
  --color-hue-10-700-neutral: #533077;
  --color-hue-10-800-neutral: #281937;
  --color-hue-10-900-neutral: #0b0510;
  --color-hue-11-50-neutral: #faeffa;
  --color-hue-11-100-neutral: #eed0ee;
  --color-hue-11-200-neutral: #e3b1e3;
  --color-hue-11-300-neutral: #dea1de;
  --color-hue-11-400-neutral: #d381d3;
  --color-hue-11-500-neutral: #bd42bd;
  --color-hue-11-600-neutral: #953a95;
  --color-hue-11-700-neutral: #773077;
  --color-hue-11-800-neutral: #371937;
  --color-hue-11-900-neutral: #100510;
  --color-hue-12-50-neutral: #faeff4;
  --color-hue-12-100-neutral: #f0cedf;
  --color-hue-12-200-neutral: #e7adca;
  --color-hue-12-300-neutral: #e29dc0;
  --color-hue-12-400-neutral: #d87caa;
  --color-hue-12-500-neutral: #c43b80;
  --color-hue-12-600-neutral: #9b3468;
  --color-hue-12-700-neutral: #7c2b53;
  --color-hue-12-800-neutral: #391728;
  --color-hue-12-900-neutral: #10050b;
  --color-complementary-50-neutral: #f2f5f7;
  --color-complementary-100-neutral: #d6e2e8;
  --color-complementary-200-neutral: #bacfd9;
  --color-complementary-300-neutral: #adc6d2;
  --color-complementary-400-neutral: #91b2c3;
  --color-complementary-500-neutral: #5b8ca4;
  --color-complementary-600-neutral: #4c7183;
  --color-complementary-700-neutral: #3d5a69;
  --color-complementary-800-neutral: #1f2b31;
  --color-complementary-900-neutral: #080c0d;
  --color-analogous-1-50-neutral: #fcf9ed;
  --color-analogous-1-100-neutral: #f7ecc7;
  --color-analogous-1-200-neutral: #f1dfa3;
  --color-analogous-1-300-neutral: #eed991;
  --color-analogous-1-400-neutral: #e9cc6b;
  --color-analogous-1-500-neutral: #deb221;
  --color-analogous-1-600-neutral: #ae8e21;
  --color-analogous-1-700-neutral: #8b711c;
  --color-analogous-1-800-neutral: #403510;
  --color-analogous-1-900-neutral: #120f03;
  --color-analogous-2-50-neutral: #f8fbec;
  --color-analogous-2-100-neutral: #e9f2c7;
  --color-analogous-2-200-neutral: #d9e9a2;
  --color-analogous-2-300-neutral: #d2e58f;
  --color-analogous-2-400-neutral: #c3dc69;
  --color-analogous-2-500-neutral: #a4cb1e;
  --color-analogous-2-600-neutral: #83a01f;
  --color-analogous-2-700-neutral: #687f1b;
  --color-analogous-2-800-neutral: #323b10;
  --color-analogous-2-900-neutral: #0e1102;
  --color-analogous-3-50-neutral: #f2f9ee;
  --color-analogous-3-100-neutral: #d6eccd;
  --color-analogous-3-200-neutral: #bbe0ab;
  --color-analogous-3-300-neutral: #aed99b;
  --color-analogous-3-400-neutral: #92cc79;
  --color-analogous-3-500-neutral: #5cb336;
  --color-analogous-3-600-neutral: #4d8f30;
  --color-analogous-3-700-neutral: #3e7228;
  --color-analogous-3-800-neutral: #1f3516;
  --color-analogous-3-900-neutral: #080f04;
  --color-split-1-50-neutral: #f2f9f6;
  --color-split-1-100-neutral: #d7ece5;
  --color-split-1-200-neutral: #bce0d4;
  --color-split-1-300-neutral: #afdacc;
  --color-split-1-400-neutral: #94cdba;
  --color-split-1-500-neutral: #5fb498;
  --color-split-1-600-neutral: #4f8f7a;
  --color-split-1-700-neutral: #407261;
  --color-split-1-800-neutral: #20352e;
  --color-split-1-900-neutral: #080f0d;
  --color-split-2-50-neutral: #f2f2f6;
  --color-split-2-100-neutral: #d8d8e5;
  --color-split-2-200-neutral: #bebdd4;
  --color-split-2-300-neutral: #b1b0cc;
  --color-split-2-400-neutral: #9796ba;
  --color-split-2-500-neutral: #646198;
  --color-split-2-600-neutral: #53517a;
  --color-split-2-700-neutral: #434261;
  --color-split-2-800-neutral: #21212e;
  --color-split-2-900-neutral: #08080c;
  --color-square-1-50-neutral: #f2f9ee;
  --color-square-1-100-neutral: #d6eccd;
  --color-square-1-200-neutral: #bbe0ab;
  --color-square-1-300-neutral: #aed99b;
  --color-square-1-400-neutral: #92cc79;
  --color-square-1-500-neutral: #5cb336;
  --color-square-1-600-neutral: #4d8f30;
  --color-square-1-700-neutral: #3e7228;
  --color-square-1-800-neutral: #1f3516;
  --color-square-1-900-neutral: #080f04;
  --color-square-2-50-neutral: #f2f5f7;
  --color-square-2-100-neutral: #d6e2e8;
  --color-square-2-200-neutral: #bacfd9;
  --color-square-2-300-neutral: #adc6d2;
  --color-square-2-400-neutral: #91b2c3;
  --color-square-2-500-neutral: #5b8ca4;
  --color-square-2-600-neutral: #4c7183;
  --color-square-2-700-neutral: #3d5a69;
  --color-square-2-800-neutral: #1f2b31;
  --color-square-2-900-neutral: #080c0d;
  --color-square-3-50-neutral: #f8eff7;
  --color-square-3-100-neutral: #ead1e6;
  --color-square-3-200-neutral: #dcb3d6;
  --color-square-3-300-neutral: #d5a4cf;
  --color-square-3-400-neutral: #c785be;
  --color-square-3-500-neutral: #aa499d;
  --color-square-3-600-neutral: #873f7e;
  --color-square-3-700-neutral: #6c3364;
  --color-square-3-800-neutral: #331a2f;
  --color-square-3-900-neutral: #0f060d;
  --color-triadic-1-50-neutral: #f2f9f2;
  --color-triadic-1-100-neutral: #d7ecd8;
  --color-triadic-1-200-neutral: #bce0be;
  --color-triadic-1-300-neutral: #afdab1;
  --color-triadic-1-400-neutral: #94cd96;
  --color-triadic-1-500-neutral: #5fb462;
  --color-triadic-1-600-neutral: #4f8f52;
  --color-triadic-1-700-neutral: #407242;
  --color-triadic-1-800-neutral: #203521;
  --color-triadic-1-900-neutral: #080f08;
  --color-triadic-2-50-neutral: #f3eff6;
  --color-triadic-2-100-neutral: #dccfe5;
  --color-triadic-2-200-neutral: #c5b0d3;
  --color-triadic-2-300-neutral: #baa1cb;
  --color-triadic-2-400-neutral: #a281b9;
  --color-triadic-2-500-neutral: #744296;
  --color-triadic-2-600-neutral: #5f3979;
  --color-triadic-2-700-neutral: #4c2f60;
  --color-triadic-2-800-neutral: #25182e;
  --color-triadic-2-900-neutral: #09060c;
  --color-tetradic-1-50-neutral: #f8fbec;
  --color-tetradic-1-100-neutral: #e9f2c7;
  --color-tetradic-1-200-neutral: #d9e9a2;
  --color-tetradic-1-300-neutral: #d2e58f;
  --color-tetradic-1-400-neutral: #c3dc69;
  --color-tetradic-1-500-neutral: #a4cb1e;
  --color-tetradic-1-600-neutral: #83a01f;
  --color-tetradic-1-700-neutral: #687f1b;
  --color-tetradic-1-800-neutral: #323b10;
  --color-tetradic-1-900-neutral: #0e1102;
  --color-tetradic-2-50-neutral: #f2f5f7;
  --color-tetradic-2-100-neutral: #d6e2e8;
  --color-tetradic-2-200-neutral: #bacfd9;
  --color-tetradic-2-300-neutral: #adc6d2;
  --color-tetradic-2-400-neutral: #91b2c3;
  --color-tetradic-2-500-neutral: #5b8ca4;
  --color-tetradic-2-600-neutral: #4c7183;
  --color-tetradic-2-700-neutral: #3d5a69;
  --color-tetradic-2-800-neutral: #1f2b31;
  --color-tetradic-2-900-neutral: #080c0d;
  --color-tetradic-3-50-neutral: #f3eff6;
  --color-tetradic-3-100-neutral: #dccfe5;
  --color-tetradic-3-200-neutral: #c5b0d3;
  --color-tetradic-3-300-neutral: #baa1cb;
  --color-tetradic-3-400-neutral: #a281b9;
  --color-tetradic-3-500-neutral: #744296;
  --color-tetradic-3-600-neutral: #5f3979;
  --color-tetradic-3-700-neutral: #4c2f60;
  --color-tetradic-3-800-neutral: #25182e;
  --color-tetradic-3-900-neutral: #09060c;
  --color-success-50-neutral: #effaef;
  --color-success-100-neutral: #cef0ce;
  --color-success-200-neutral: #ade7ad;
  --color-success-300-neutral: #9de29d;
  --color-success-400-neutral: #7cd87c;
  --color-success-500-neutral: #3bc43b;
  --color-success-600-neutral: #349b34;
  --color-success-700-neutral: #2b7c2b;
  --color-success-800-neutral: #173917;
  --color-success-900-neutral: #051005;
  --color-danger-50-neutral: #faefef;
  --color-danger-100-neutral: #f0cece;
  --color-danger-200-neutral: #e7adad;
  --color-danger-300-neutral: #e29d9d;
  --color-danger-400-neutral: #d87c7c;
  --color-danger-500-neutral: #c43b3b;
  --color-danger-600-neutral: #9b3434;
  --color-danger-700-neutral: #7c2b2b;
  --color-danger-800-neutral: #391717;
  --color-danger-900-neutral: #100505;
  --color-warning-50-neutral: #faf4ef;
  --color-warning-100-neutral: #f0dfce;
  --color-warning-200-neutral: #e7caad;
  --color-warning-300-neutral: #eec091;
  --color-warning-400-neutral: #d8aa7c;
  --color-warning-500-neutral: #de8021;
  --color-warning-600-neutral: #ae6821;
  --color-warning-700-neutral: #7c532b;
  --color-warning-800-neutral: #392817;
  --color-warning-900-neutral: #120b03;
  --color-info-50-neutral: #f1f4f8;
  --color-info-100-neutral: #cedff0;
  --color-info-200-neutral: #adcae7;
  --color-info-300-neutral: #9dc0e2;
  --color-info-400-neutral: #7caad8;
  --color-info-500-neutral: #3b80c4;
  --color-info-600-neutral: #34689b;
  --color-info-700-neutral: #375370;
  --color-info-800-neutral: #172839;
  --color-info-900-neutral: #050b10;
  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;
  --color-grey-50-rgb: 250, 250, 250;
  --color-grey-100-rgb: 245, 245, 245;
  --color-grey-200-rgb: 238, 238, 238;
  --color-grey-300-rgb: 213, 213, 213;
  --color-grey-400-rgb: 175, 175, 175;
  --color-grey-500-rgb: 114, 114, 114;
  --color-grey-600-rgb: 88, 88, 88;
  --color-grey-700-rgb: 71, 71, 71;
  --color-grey-800-rgb: 38, 38, 38;
  --color-grey-900-rgb: 30, 30, 30;
  --color-slate-50-rgb: 246, 248, 250;
  --color-slate-100-rgb: 244, 244, 245;
  --color-slate-200-rgb: 232, 235, 239;
  --color-slate-300-rgb: 208, 211, 215;
  --color-slate-400-rgb: 166, 171, 177;
  --color-slate-500-rgb: 112, 117, 122;
  --color-slate-600-rgb: 83, 88, 94;
  --color-slate-700-rgb: 67, 71, 76;
  --color-slate-800-rgb: 36, 38, 40;
  --color-slate-900-rgb: 28, 30, 32;
  --color-primary-50-rgb: 255, 241, 234;
  --color-primary-100-rgb: 255, 213, 191;
  --color-primary-200-rgb: 255, 184, 149;
  --color-primary-300-rgb: 255, 170, 128;
  --color-primary-400-rgb: 255, 142, 85;
  --color-primary-500-rgb: 255, 85, 0;
  --color-primary-600-rgb: 199, 72, 8;
  --color-primary-700-rgb: 158, 58, 9;
  --color-primary-800-rgb: 72, 30, 8;
  --color-primary-900-rgb: 21, 7, 0;
  --color-hue-1-50-rgb: 255, 234, 234;
  --color-hue-1-100-rgb: 255, 191, 191;
  --color-hue-1-200-rgb: 255, 149, 149;
  --color-hue-1-300-rgb: 255, 128, 128;
  --color-hue-1-400-rgb: 255, 85, 85;
  --color-hue-1-500-rgb: 255, 0, 0;
  --color-hue-1-600-rgb: 199, 8, 8;
  --color-hue-1-700-rgb: 158, 9, 9;
  --color-hue-1-800-rgb: 72, 8, 8;
  --color-hue-1-900-rgb: 21, 0, 0;
  --color-hue-2-50-rgb: 255, 244, 234;
  --color-hue-2-100-rgb: 255, 223, 191;
  --color-hue-2-200-rgb: 255, 202, 149;
  --color-hue-2-300-rgb: 255, 192, 128;
  --color-hue-2-400-rgb: 255, 170, 85;
  --color-hue-2-500-rgb: 255, 128, 0;
  --color-hue-2-600-rgb: 199, 104, 8;
  --color-hue-2-700-rgb: 158, 83, 9;
  --color-hue-2-800-rgb: 72, 40, 8;
  --color-hue-2-900-rgb: 21, 11, 0;
  --color-hue-3-50-rgb: 255, 255, 234;
  --color-hue-3-100-rgb: 255, 255, 191;
  --color-hue-3-200-rgb: 255, 255, 149;
  --color-hue-3-300-rgb: 255, 255, 128;
  --color-hue-3-400-rgb: 255, 255, 85;
  --color-hue-3-500-rgb: 255, 255, 0;
  --color-hue-3-600-rgb: 199, 199, 8;
  --color-hue-3-700-rgb: 158, 158, 9;
  --color-hue-3-800-rgb: 72, 72, 8;
  --color-hue-3-900-rgb: 21, 21, 0;
  --color-hue-4-50-rgb: 244, 255, 234;
  --color-hue-4-100-rgb: 223, 255, 191;
  --color-hue-4-200-rgb: 202, 255, 149;
  --color-hue-4-300-rgb: 192, 255, 128;
  --color-hue-4-400-rgb: 170, 255, 85;
  --color-hue-4-500-rgb: 128, 255, 0;
  --color-hue-4-600-rgb: 104, 199, 8;
  --color-hue-4-700-rgb: 83, 158, 9;
  --color-hue-4-800-rgb: 40, 72, 8;
  --color-hue-4-900-rgb: 11, 21, 0;
  --color-hue-5-50-rgb: 234, 255, 234;
  --color-hue-5-100-rgb: 191, 255, 191;
  --color-hue-5-200-rgb: 149, 255, 149;
  --color-hue-5-300-rgb: 128, 255, 128;
  --color-hue-5-400-rgb: 85, 255, 85;
  --color-hue-5-500-rgb: 0, 255, 0;
  --color-hue-5-600-rgb: 8, 199, 8;
  --color-hue-5-700-rgb: 9, 158, 9;
  --color-hue-5-800-rgb: 8, 72, 8;
  --color-hue-5-900-rgb: 0, 21, 0;
  --color-hue-6-50-rgb: 234, 255, 244;
  --color-hue-6-100-rgb: 191, 255, 223;
  --color-hue-6-200-rgb: 149, 255, 202;
  --color-hue-6-300-rgb: 128, 255, 192;
  --color-hue-6-400-rgb: 85, 255, 170;
  --color-hue-6-500-rgb: 0, 255, 128;
  --color-hue-6-600-rgb: 8, 199, 104;
  --color-hue-6-700-rgb: 9, 158, 83;
  --color-hue-6-800-rgb: 8, 72, 40;
  --color-hue-6-900-rgb: 0, 21, 11;
  --color-hue-7-50-rgb: 234, 255, 255;
  --color-hue-7-100-rgb: 191, 255, 255;
  --color-hue-7-200-rgb: 149, 255, 255;
  --color-hue-7-300-rgb: 128, 255, 255;
  --color-hue-7-400-rgb: 85, 255, 255;
  --color-hue-7-500-rgb: 0, 255, 255;
  --color-hue-7-600-rgb: 8, 199, 199;
  --color-hue-7-700-rgb: 9, 158, 158;
  --color-hue-7-800-rgb: 8, 72, 72;
  --color-hue-7-900-rgb: 0, 21, 21;
  --color-hue-8-50-rgb: 234, 244, 255;
  --color-hue-8-100-rgb: 191, 223, 255;
  --color-hue-8-200-rgb: 149, 202, 255;
  --color-hue-8-300-rgb: 128, 192, 255;
  --color-hue-8-400-rgb: 85, 170, 255;
  --color-hue-8-500-rgb: 0, 128, 255;
  --color-hue-8-600-rgb: 8, 104, 199;
  --color-hue-8-700-rgb: 9, 83, 158;
  --color-hue-8-800-rgb: 8, 40, 72;
  --color-hue-8-900-rgb: 0, 11, 21;
  --color-hue-9-50-rgb: 234, 234, 255;
  --color-hue-9-100-rgb: 191, 191, 255;
  --color-hue-9-200-rgb: 149, 149, 255;
  --color-hue-9-300-rgb: 128, 128, 255;
  --color-hue-9-400-rgb: 85, 85, 255;
  --color-hue-9-500-rgb: 0, 0, 255;
  --color-hue-9-600-rgb: 8, 8, 199;
  --color-hue-9-700-rgb: 9, 9, 158;
  --color-hue-9-800-rgb: 8, 8, 72;
  --color-hue-9-900-rgb: 0, 0, 21;
  --color-hue-10-50-rgb: 244, 234, 255;
  --color-hue-10-100-rgb: 223, 191, 255;
  --color-hue-10-200-rgb: 202, 149, 255;
  --color-hue-10-300-rgb: 192, 128, 255;
  --color-hue-10-400-rgb: 170, 85, 255;
  --color-hue-10-500-rgb: 128, 0, 255;
  --color-hue-10-600-rgb: 104, 8, 199;
  --color-hue-10-700-rgb: 83, 9, 158;
  --color-hue-10-800-rgb: 40, 8, 72;
  --color-hue-10-900-rgb: 11, 0, 21;
  --color-hue-11-50-rgb: 255, 234, 255;
  --color-hue-11-100-rgb: 255, 191, 255;
  --color-hue-11-200-rgb: 255, 149, 255;
  --color-hue-11-300-rgb: 255, 128, 255;
  --color-hue-11-400-rgb: 255, 85, 255;
  --color-hue-11-500-rgb: 255, 0, 255;
  --color-hue-11-600-rgb: 199, 8, 199;
  --color-hue-11-700-rgb: 158, 9, 158;
  --color-hue-11-800-rgb: 72, 8, 72;
  --color-hue-11-900-rgb: 21, 0, 21;
  --color-hue-12-50-rgb: 255, 234, 244;
  --color-hue-12-100-rgb: 255, 191, 223;
  --color-hue-12-200-rgb: 255, 149, 202;
  --color-hue-12-300-rgb: 255, 128, 192;
  --color-hue-12-400-rgb: 255, 85, 170;
  --color-hue-12-500-rgb: 255, 0, 128;
  --color-hue-12-600-rgb: 199, 8, 104;
  --color-hue-12-700-rgb: 158, 9, 83;
  --color-hue-12-800-rgb: 72, 8, 40;
  --color-hue-12-900-rgb: 21, 0, 11;
  --color-complementary-50-rgb: 239, 246, 250;
  --color-complementary-100-rgb: 206, 229, 240;
  --color-complementary-200-rgb: 173, 211, 230;
  --color-complementary-300-rgb: 157, 203, 226;
  --color-complementary-400-rgb: 124, 185, 216;
  --color-complementary-500-rgb: 59, 150, 196;
  --color-complementary-600-rgb: 52, 121, 155;
  --color-complementary-700-rgb: 43, 96, 123;
  --color-complementary-800-rgb: 23, 46, 57;
  --color-complementary-900-rgb: 5, 13, 16;
  --color-analogous-1-50-rgb: 255, 250, 234;
  --color-analogous-1-100-rgb: 255, 240, 191;
  --color-analogous-1-200-rgb: 255, 230, 149;
  --color-analogous-1-300-rgb: 255, 226, 128;
  --color-analogous-1-400-rgb: 255, 216, 85;
  --color-analogous-1-500-rgb: 255, 196, 0;
  --color-analogous-1-600-rgb: 199, 155, 8;
  --color-analogous-1-700-rgb: 158, 123, 9;
  --color-analogous-1-800-rgb: 72, 57, 8;
  --color-analogous-1-900-rgb: 21, 16, 0;
  --color-analogous-2-50-rgb: 249, 253, 234;
  --color-analogous-2-100-rgb: 237, 250, 191;
  --color-analogous-2-200-rgb: 224, 246, 149;
  --color-analogous-2-300-rgb: 218, 244, 128;
  --color-analogous-2-400-rgb: 206, 240, 85;
  --color-analogous-2-500-rgb: 181, 233, 0;
  --color-analogous-2-600-rgb: 144, 183, 8;
  --color-analogous-2-700-rgb: 114, 145, 9;
  --color-analogous-2-800-rgb: 54, 67, 8;
  --color-analogous-2-900-rgb: 15, 19, 0;
  --color-analogous-3-50-rgb: 240, 253, 234;
  --color-analogous-3-100-rgb: 209, 250, 191;
  --color-analogous-3-200-rgb: 178, 246, 149;
  --color-analogous-3-300-rgb: 163, 244, 128;
  --color-analogous-3-400-rgb: 132, 240, 85;
  --color-analogous-3-500-rgb: 71, 233, 0;
  --color-analogous-3-600-rgb: 61, 183, 8;
  --color-analogous-3-700-rgb: 50, 145, 9;
  --color-analogous-3-800-rgb: 26, 67, 8;
  --color-analogous-3-900-rgb: 6, 19, 0;
  --color-split-1-50-rgb: 239, 252, 247;
  --color-split-1-100-rgb: 206, 245, 232;
  --color-split-1-200-rgb: 173, 239, 217;
  --color-split-1-300-rgb: 157, 236, 210;
  --color-split-1-400-rgb: 124, 229, 194;
  --color-split-1-500-rgb: 59, 216, 164;
  --color-split-1-600-rgb: 52, 170, 131;
  --color-split-1-700-rgb: 43, 135, 104;
  --color-split-1-800-rgb: 23, 62, 49;
  --color-split-1-900-rgb: 5, 18, 14;
  --color-split-2-50-rgb: 239, 238, 250;
  --color-split-2-100-rgb: 206, 205, 240;
  --color-split-2-200-rgb: 173, 171, 230;
  --color-split-2-300-rgb: 157, 154, 226;
  --color-split-2-400-rgb: 124, 120, 216;
  --color-split-2-500-rgb: 59, 53, 196;
  --color-split-2-600-rgb: 52, 48, 155;
  --color-split-2-700-rgb: 43, 40, 123;
  --color-split-2-800-rgb: 23, 22, 57;
  --color-split-2-900-rgb: 5, 4, 16;
  --color-square-1-50-rgb: 240, 253, 234;
  --color-square-1-100-rgb: 209, 250, 191;
  --color-square-1-200-rgb: 178, 246, 149;
  --color-square-1-300-rgb: 163, 244, 128;
  --color-square-1-400-rgb: 132, 240, 85;
  --color-square-1-500-rgb: 71, 233, 0;
  --color-square-1-600-rgb: 61, 183, 8;
  --color-square-1-700-rgb: 50, 145, 9;
  --color-square-1-800-rgb: 26, 67, 8;
  --color-square-1-900-rgb: 6, 19, 0;
  --color-square-2-50-rgb: 239, 246, 250;
  --color-square-2-100-rgb: 206, 229, 240;
  --color-square-2-200-rgb: 173, 211, 230;
  --color-square-2-300-rgb: 157, 203, 226;
  --color-square-2-400-rgb: 124, 185, 216;
  --color-square-2-500-rgb: 59, 150, 196;
  --color-square-2-600-rgb: 52, 121, 155;
  --color-square-2-700-rgb: 43, 96, 123;
  --color-square-2-800-rgb: 23, 46, 57;
  --color-square-2-900-rgb: 5, 13, 16;
  --color-square-3-50-rgb: 252, 235, 250;
  --color-square-3-100-rgb: 247, 196, 240;
  --color-square-3-200-rgb: 242, 157, 230;
  --color-square-3-300-rgb: 239, 138, 226;
  --color-square-3-400-rgb: 234, 98, 216;
  --color-square-3-500-rgb: 223, 20, 196;
  --color-square-3-600-rgb: 175, 23, 155;
  --color-square-3-700-rgb: 139, 20, 123;
  --color-square-3-800-rgb: 64, 13, 57;
  --color-square-3-900-rgb: 19, 2, 16;
  --color-triadic-1-50-rgb: 239, 252, 239;
  --color-triadic-1-100-rgb: 206, 245, 208;
  --color-triadic-1-200-rgb: 173, 239, 176;
  --color-triadic-1-300-rgb: 157, 236, 160;
  --color-triadic-1-400-rgb: 124, 229, 128;
  --color-triadic-1-500-rgb: 59, 216, 65;
  --color-triadic-1-600-rgb: 52, 170, 57;
  --color-triadic-1-700-rgb: 43, 135, 47;
  --color-triadic-1-800-rgb: 23, 62, 25;
  --color-triadic-1-900-rgb: 5, 18, 5;
  --color-triadic-2-50-rgb: 244, 235, 250;
  --color-triadic-2-100-rgb: 222, 196, 240;
  --color-triadic-2-200-rgb: 200, 157, 230;
  --color-triadic-2-300-rgb: 190, 138, 226;
  --color-triadic-2-400-rgb: 168, 98, 216;
  --color-triadic-2-500-rgb: 124, 20, 196;
  --color-triadic-2-600-rgb: 101, 23, 155;
  --color-triadic-2-700-rgb: 81, 20, 123;
  --color-triadic-2-800-rgb: 39, 13, 57;
  --color-triadic-2-900-rgb: 10, 2, 16;
  --color-tetradic-1-50-rgb: 249, 253, 234;
  --color-tetradic-1-100-rgb: 237, 250, 191;
  --color-tetradic-1-200-rgb: 224, 246, 149;
  --color-tetradic-1-300-rgb: 218, 244, 128;
  --color-tetradic-1-400-rgb: 206, 240, 85;
  --color-tetradic-1-500-rgb: 181, 233, 0;
  --color-tetradic-1-600-rgb: 144, 183, 8;
  --color-tetradic-1-700-rgb: 114, 145, 9;
  --color-tetradic-1-800-rgb: 54, 67, 8;
  --color-tetradic-1-900-rgb: 15, 19, 0;
  --color-tetradic-2-50-rgb: 239, 246, 250;
  --color-tetradic-2-100-rgb: 206, 229, 240;
  --color-tetradic-2-200-rgb: 173, 211, 230;
  --color-tetradic-2-300-rgb: 157, 203, 226;
  --color-tetradic-2-400-rgb: 124, 185, 216;
  --color-tetradic-2-500-rgb: 59, 150, 196;
  --color-tetradic-2-600-rgb: 52, 121, 155;
  --color-tetradic-2-700-rgb: 43, 96, 123;
  --color-tetradic-2-800-rgb: 23, 46, 57;
  --color-tetradic-2-900-rgb: 5, 13, 16;
  --color-tetradic-3-50-rgb: 244, 235, 250;
  --color-tetradic-3-100-rgb: 222, 196, 240;
  --color-tetradic-3-200-rgb: 200, 157, 230;
  --color-tetradic-3-300-rgb: 190, 138, 226;
  --color-tetradic-3-400-rgb: 168, 98, 216;
  --color-tetradic-3-500-rgb: 124, 20, 196;
  --color-tetradic-3-600-rgb: 101, 23, 155;
  --color-tetradic-3-700-rgb: 81, 20, 123;
  --color-tetradic-3-800-rgb: 39, 13, 57;
  --color-tetradic-3-900-rgb: 10, 2, 16;
  --color-success-50-rgb: 234, 255, 234;
  --color-success-100-rgb: 191, 255, 191;
  --color-success-200-rgb: 149, 255, 149;
  --color-success-300-rgb: 128, 255, 128;
  --color-success-400-rgb: 85, 255, 85;
  --color-success-500-rgb: 0, 255, 0;
  --color-success-600-rgb: 8, 199, 8;
  --color-success-700-rgb: 9, 158, 9;
  --color-success-800-rgb: 8, 72, 8;
  --color-success-900-rgb: 0, 21, 0;
  --color-danger-50-rgb: 255, 234, 234;
  --color-danger-100-rgb: 255, 191, 191;
  --color-danger-200-rgb: 255, 149, 149;
  --color-danger-300-rgb: 255, 128, 128;
  --color-danger-400-rgb: 255, 85, 85;
  --color-danger-500-rgb: 255, 0, 0;
  --color-danger-600-rgb: 199, 8, 8;
  --color-danger-700-rgb: 158, 9, 9;
  --color-danger-800-rgb: 72, 8, 8;
  --color-danger-900-rgb: 21, 0, 0;
  --color-warning-50-rgb: 255, 244, 234;
  --color-warning-100-rgb: 255, 223, 191;
  --color-warning-200-rgb: 255, 202, 149;
  --color-warning-300-rgb: 255, 192, 128;
  --color-warning-400-rgb: 255, 170, 85;
  --color-warning-500-rgb: 255, 128, 0;
  --color-warning-600-rgb: 199, 104, 8;
  --color-warning-700-rgb: 158, 83, 9;
  --color-warning-800-rgb: 72, 40, 8;
  --color-warning-900-rgb: 21, 11, 0;
  --color-info-50-rgb: 234, 244, 255;
  --color-info-100-rgb: 191, 223, 255;
  --color-info-200-rgb: 149, 202, 255;
  --color-info-300-rgb: 128, 192, 255;
  --color-info-400-rgb: 85, 170, 255;
  --color-info-500-rgb: 0, 128, 255;
  --color-info-600-rgb: 8, 104, 199;
  --color-info-700-rgb: 9, 83, 158;
  --color-info-800-rgb: 8, 40, 72;
  --color-info-900-rgb: 0, 11, 21;
  --color-primary-pastel: hsl(20.4705882353, 100%, 87.5%);
  --color-hue-1-pastel: hsl(0, 100%, 87.5%);
  --color-hue-2-pastel: hsl(30.3529411765, 100%, 87.5%);
  --color-hue-3-pastel: hsl(60, 100%, 87.5%);
  --color-hue-4-pastel: hsl(89.6470588235, 100%, 87.5%);
  --color-hue-5-pastel: hsl(120, 100%, 87.5%);
  --color-hue-6-pastel: hsl(150.3529411765, 100%, 87.5%);
  --color-hue-7-pastel: hsl(180, 100%, 87.5%);
  --color-hue-8-pastel: hsl(209.6470588235, 100%, 87.5%);
  --color-hue-9-pastel: hsl(240, 100%, 87.5%);
  --color-hue-10-pastel: hsl(270.3529411765, 100%, 87.5%);
  --color-hue-11-pastel: hsl(300, 100%, 87.5%);
  --color-hue-12-pastel: hsl(329.6470588235, 100%, 87.5%);
  --color-complementary-pastel: hsl(200.8695652174, 100%, 87.5%);
  --color-analogous-1-pastel: hsl(46.5882352941, 100%, 87.5%);
  --color-analogous-2-pastel: hsl(73.0769230769, 100%, 87.5%);
  --color-analogous-3-pastel: hsl(101.5384615385, 100%, 87.5%);
  --color-split-1-pastel: hsl(160.3846153846, 100%, 87.5%);
  --color-split-2-pastel: hsl(242.5, 100%, 87.5%);
  --color-square-1-pastel: hsl(101.5384615385, 100%, 87.5%);
  --color-square-2-pastel: hsl(200.8695652174, 100%, 87.5%);
  --color-square-3-pastel: hsl(307.9411764706, 100%, 87.5%);
  --color-triadic-1-pastel: hsl(122.3076923077, 100%, 87.5%);
  --color-triadic-2-pastel: hsl(275.593220339, 100%, 87.5%);
  --color-tetradic-1-pastel: hsl(73.0769230769, 100%, 87.5%);
  --color-tetradic-2-pastel: hsl(200.8695652174, 100%, 87.5%);
  --color-tetradic-3-pastel: hsl(275.593220339, 100%, 87.5%);
  --color-success-pastel: hsl(120, 100%, 87.5%);
  --color-danger-pastel: hsl(0, 100%, 87.5%);
  --color-warning-pastel: hsl(30.3529411765, 100%, 87.5%);
  --color-info-pastel: hsl(209.6470588235, 100%, 87.5%);
  --color-primary-equal: hsl(20.1176470588, 100%, 50%);
  --color-hue-1-equal: hsl(0, 100%, 50%);
  --color-hue-2-equal: hsl(30, 100%, 50%);
  --color-hue-3-equal: hsl(60, 100%, 50%);
  --color-hue-4-equal: hsl(90, 100%, 50%);
  --color-hue-5-equal: hsl(120, 100%, 50%);
  --color-hue-6-equal: hsl(150, 100%, 50%);
  --color-hue-7-equal: hsl(180, 100%, 50%);
  --color-hue-8-equal: hsl(210, 100%, 50%);
  --color-hue-9-equal: hsl(240, 100%, 50%);
  --color-hue-10-equal: hsl(270, 100%, 50%);
  --color-hue-11-equal: hsl(300, 100%, 50%);
  --color-hue-12-equal: hsl(330, 100%, 50%);
  --color-complementary-equal: hsl(200.2173913043, 100%, 50%);
  --color-analogous-1-equal: hsl(46.2352941176, 100%, 50%);
  --color-analogous-2-equal: hsl(73.1612903226, 100%, 50%);
  --color-analogous-3-equal: hsl(101.8064516129, 100%, 50%);
  --color-split-1-equal: hsl(160, 100%, 50%);
  --color-split-2-equal: hsl(242.5, 100%, 50%);
  --color-square-1-equal: hsl(101.8064516129, 100%, 50%);
  --color-square-2-equal: hsl(200.2173913043, 100%, 50%);
  --color-square-3-equal: hsl(307.9411764706, 100%, 50%);
  --color-triadic-1-equal: hsl(122.2857142857, 100%, 50%);
  --color-triadic-2-equal: hsl(275.593220339, 100%, 50%);
  --color-tetradic-1-equal: hsl(73.1612903226, 100%, 50%);
  --color-tetradic-2-equal: hsl(200.2173913043, 100%, 50%);
  --color-tetradic-3-equal: hsl(275.593220339, 100%, 50%);
}
