:root {
  --color-white: white;
  --color-black: #000000;
  --color-grey-50: #fafafa;
  --color-grey-100: whitesmoke;
  --color-grey-200: #eeeeee;
  --color-grey-300: #d5d5d5;
  --color-grey-400: #afafaf;
  --color-grey-500: #727272;
  --color-grey-600: #585858;
  --color-grey-700: #474747;
  --color-grey-800: #262626;
  --color-grey-900: #1e1e1e;
  --color-value-0: #000000;
  --color-value-1: #0b0b0b;
  --color-value-2: #151515;
  --color-value-3: #202020;
  --color-value-4: #2b2b2b;
  --color-value-5: #353535;
  --color-value-6: #404040;
  --color-value-7: #4a4a4a;
  --color-value-8: #555555;
  --color-value-9: #606060;
  --color-value-10: #6a6a6a;
  --color-value-11: #757575;
  --color-value-12: gray;
  --color-value-13: #8a8a8a;
  --color-value-14: #959595;
  --color-value-15: #9f9f9f;
  --color-value-16: #aaaaaa;
  --color-value-17: #b5b5b5;
  --color-value-18: #bfbfbf;
  --color-value-19: #cacaca;
  --color-value-20: #d5d5d5;
  --color-value-21: #dfdfdf;
  --color-value-22: #eaeaea;
  --color-value-23: #f4f4f4;
  --color-value-24: white;
  --color-slate-50: #f6f8fa;
  --color-slate-100: #f4f4f5;
  --color-slate-200: #e8ebef;
  --color-slate-300: #d0d3d7;
  --color-slate-400: #a6abb1;
  --color-slate-500: #70757a;
  --color-slate-600: #53585e;
  --color-slate-700: #43474c;
  --color-slate-800: #242628;
  --color-slate-900: #1c1e20;
  --color-stone-50: #faf9f9;
  --color-stone-100: whitesmoke;
  --color-stone-200: #eeecec;
  --color-stone-300: #d6d3d3;
  --color-stone-400: #b0acac;
  --color-stone-500: #747171;
  --color-stone-600: #5a5656;
  --color-stone-700: #484545;
  --color-stone-800: #262525;
  --color-stone-900: #1e1d1d;
  --color-primary-50: #fff7ea;
  --color-primary-100: #ffe6bf;
  --color-primary-200: #ffd595;
  --color-primary-300: #ffcc80;
  --color-primary-400: #ffbb55;
  --color-primary-500: #ff9900;
  --color-primary-600: #c77b08;
  --color-primary-700: #9e6209;
  --color-primary-800: #482f08;
  --color-primary-900: #150d00;
  --color-hue-1-50: #ffeaea;
  --color-hue-1-100: #ffbfbf;
  --color-hue-1-200: #ff9595;
  --color-hue-1-300: #ff8080;
  --color-hue-1-400: #ff5555;
  --color-hue-1-500: red;
  --color-hue-1-600: #c70808;
  --color-hue-1-700: #9e0909;
  --color-hue-1-800: #480808;
  --color-hue-1-900: #150000;
  --color-hue-2-50: #fff4ea;
  --color-hue-2-100: #ffdfbf;
  --color-hue-2-200: #ffca95;
  --color-hue-2-300: #ffc080;
  --color-hue-2-400: #ffaa55;
  --color-hue-2-500: #ff8000;
  --color-hue-2-600: #c76808;
  --color-hue-2-700: #9e5309;
  --color-hue-2-800: #482808;
  --color-hue-2-900: #150b00;
  --color-hue-3-50: #ffffea;
  --color-hue-3-100: #ffffbf;
  --color-hue-3-200: #ffff95;
  --color-hue-3-300: #ffff80;
  --color-hue-3-400: #ffff55;
  --color-hue-3-500: yellow;
  --color-hue-3-600: #c7c708;
  --color-hue-3-700: #9e9e09;
  --color-hue-3-800: #484808;
  --color-hue-3-900: #151500;
  --color-hue-4-50: #f4ffea;
  --color-hue-4-100: #dfffbf;
  --color-hue-4-200: #caff95;
  --color-hue-4-300: #c0ff80;
  --color-hue-4-400: #aaff55;
  --color-hue-4-500: #80ff00;
  --color-hue-4-600: #68c708;
  --color-hue-4-700: #539e09;
  --color-hue-4-800: #284808;
  --color-hue-4-900: #0b1500;
  --color-hue-5-50: #eaffea;
  --color-hue-5-100: #bfffbf;
  --color-hue-5-200: #95ff95;
  --color-hue-5-300: #80ff80;
  --color-hue-5-400: #55ff55;
  --color-hue-5-500: lime;
  --color-hue-5-600: #08c708;
  --color-hue-5-700: #099e09;
  --color-hue-5-800: #084808;
  --color-hue-5-900: #001500;
  --color-hue-6-50: #eafff4;
  --color-hue-6-100: #bfffdf;
  --color-hue-6-200: #95ffca;
  --color-hue-6-300: #80ffc0;
  --color-hue-6-400: #55ffaa;
  --color-hue-6-500: #00ff80;
  --color-hue-6-600: #08c768;
  --color-hue-6-700: #099e53;
  --color-hue-6-800: #084828;
  --color-hue-6-900: #00150b;
  --color-hue-7-50: #eaffff;
  --color-hue-7-100: #bfffff;
  --color-hue-7-200: #95ffff;
  --color-hue-7-300: #80ffff;
  --color-hue-7-400: #55ffff;
  --color-hue-7-500: aqua;
  --color-hue-7-600: #08c7c7;
  --color-hue-7-700: #099e9e;
  --color-hue-7-800: #084848;
  --color-hue-7-900: #001515;
  --color-hue-8-50: #eaf4ff;
  --color-hue-8-100: #bfdfff;
  --color-hue-8-200: #95caff;
  --color-hue-8-300: #80c0ff;
  --color-hue-8-400: #55aaff;
  --color-hue-8-500: #0080ff;
  --color-hue-8-600: #0868c7;
  --color-hue-8-700: #09539e;
  --color-hue-8-800: #082848;
  --color-hue-8-900: #000b15;
  --color-hue-9-50: #eaeaff;
  --color-hue-9-100: #bfbfff;
  --color-hue-9-200: #9595ff;
  --color-hue-9-300: #8080ff;
  --color-hue-9-400: #5555ff;
  --color-hue-9-500: blue;
  --color-hue-9-600: #0808c7;
  --color-hue-9-700: #09099e;
  --color-hue-9-800: #080848;
  --color-hue-9-900: #000015;
  --color-hue-10-50: #f4eaff;
  --color-hue-10-100: #dfbfff;
  --color-hue-10-200: #ca95ff;
  --color-hue-10-300: #c080ff;
  --color-hue-10-400: #aa55ff;
  --color-hue-10-500: #8000ff;
  --color-hue-10-600: #6808c7;
  --color-hue-10-700: #53099e;
  --color-hue-10-800: #280848;
  --color-hue-10-900: #0b0015;
  --color-hue-11-50: #ffeaff;
  --color-hue-11-100: #ffbfff;
  --color-hue-11-200: #ff95ff;
  --color-hue-11-300: #ff80ff;
  --color-hue-11-400: #ff55ff;
  --color-hue-11-500: fuchsia;
  --color-hue-11-600: #c708c7;
  --color-hue-11-700: #9e099e;
  --color-hue-11-800: #480848;
  --color-hue-11-900: #150015;
  --color-hue-12-50: #ffeaf4;
  --color-hue-12-100: #ffbfdf;
  --color-hue-12-200: #ff95ca;
  --color-hue-12-300: #ff80c0;
  --color-hue-12-400: #ff55aa;
  --color-hue-12-500: #ff0080;
  --color-hue-12-600: #c70868;
  --color-hue-12-700: #9e0953;
  --color-hue-12-800: #480828;
  --color-hue-12-900: #15000b;
  --color-complementary-50: #eff3fa;
  --color-complementary-100: #cedcf0;
  --color-complementary-200: #adc4e6;
  --color-complementary-300: #9db9e2;
  --color-complementary-400: #7ca1d8;
  --color-complementary-500: #3b72c4;
  --color-complementary-600: #345e9b;
  --color-complementary-700: #2b4b7b;
  --color-complementary-800: #172539;
  --color-complementary-900: #050a10;
  --color-analogous-1-50: #fdfeea;
  --color-analogous-1-100: #fafcbf;
  --color-analogous-1-200: #f6fa95;
  --color-analogous-1-300: #f4f980;
  --color-analogous-1-400: #f0f655;
  --color-analogous-1-500: #e9f200;
  --color-analogous-1-600: #b7be08;
  --color-analogous-1-700: #919609;
  --color-analogous-1-800: #434508;
  --color-analogous-1-900: #131400;
  --color-analogous-2-50: #f4feea;
  --color-analogous-2-100: #defcbf;
  --color-analogous-2-200: #c8fa95;
  --color-analogous-2-300: #bdf980;
  --color-analogous-2-400: #a6f655;
  --color-analogous-2-500: #7af200;
  --color-analogous-2-600: #64be08;
  --color-analogous-2-700: #509609;
  --color-analogous-2-800: #274508;
  --color-analogous-2-900: #0a1400;
  --color-analogous-3-50: #edfeec;
  --color-analogous-3-100: #c8fcc5;
  --color-analogous-3-200: #a3fa9e;
  --color-analogous-3-300: #90f98b;
  --color-analogous-3-400: #6bf664;
  --color-analogous-3-500: #21f217;
  --color-analogous-3-600: #21be19;
  --color-analogous-3-700: #1c9616;
  --color-analogous-3-800: #11450e;
  --color-analogous-3-900: #031402;
  --color-split-1-50: #effbfa;
  --color-split-1-100: #cef4f0;
  --color-split-1-200: #adede6;
  --color-split-1-300: #9deae2;
  --color-split-1-400: #7ce2d8;
  --color-split-1-500: #3bd4c4;
  --color-split-1-600: #34a79b;
  --color-split-1-700: #2b847b;
  --color-split-1-800: #173d39;
  --color-split-1-900: #051210;
  --color-split-2-50: #f0edfa;
  --color-split-2-100: #d3c8f0;
  --color-split-2-200: #b6a3e6;
  --color-split-2-300: #a791e2;
  --color-split-2-400: #8a6cd8;
  --color-split-2-500: #4f23c4;
  --color-split-2-600: #43229b;
  --color-split-2-700: #371d7b;
  --color-split-2-800: #1c1139;
  --color-split-2-900: #070310;
  --color-square-1-50: #edfeec;
  --color-square-1-100: #c8fcc5;
  --color-square-1-200: #a3fa9e;
  --color-square-1-300: #90f98b;
  --color-square-1-400: #6bf664;
  --color-square-1-500: #21f217;
  --color-square-1-600: #21be19;
  --color-square-1-700: #1c9616;
  --color-square-1-800: #11450e;
  --color-square-1-900: #031402;
  --color-square-2-50: #eff3fa;
  --color-square-2-100: #cedcf0;
  --color-square-2-200: #adc4e6;
  --color-square-2-300: #9db9e2;
  --color-square-2-400: #7ca1d8;
  --color-square-2-500: #3b72c4;
  --color-square-2-600: #345e9b;
  --color-square-2-700: #2b4b7b;
  --color-square-2-800: #172539;
  --color-square-2-900: #050a10;
  --color-square-3-50: #ffedf9;
  --color-square-3-100: #ffc8ec;
  --color-square-3-200: #ffa3df;
  --color-square-3-300: #ff91d8;
  --color-square-3-400: #ff6ccb;
  --color-square-3-500: #ff23b1;
  --color-square-3-600: #c7228d;
  --color-square-3-700: #9e1d70;
  --color-square-3-800: #481135;
  --color-square-3-900: #15030f;
  --color-triadic-1-50: #effdf4;
  --color-triadic-1-100: #cef9dd;
  --color-triadic-1-200: #adf5c6;
  --color-triadic-1-300: #9df4bb;
  --color-triadic-1-400: #7cf0a4;
  --color-triadic-1-500: #3be876;
  --color-triadic-1-600: #34b661;
  --color-triadic-1-700: #2b904e;
  --color-triadic-1-800: #174226;
  --color-triadic-1-900: #05130a;
  --color-triadic-2-50: #f8edfa;
  --color-triadic-2-100: #ebc8f0;
  --color-triadic-2-200: #dea3e6;
  --color-triadic-2-300: #d891e2;
  --color-triadic-2-400: #ca6cd8;
  --color-triadic-2-500: #b023c4;
  --color-triadic-2-600: #8c229b;
  --color-triadic-2-700: #6f1d7b;
  --color-triadic-2-800: #341139;
  --color-triadic-2-900: #0f0310;
  --color-tetradic-1-50: #f4feea;
  --color-tetradic-1-100: #defcbf;
  --color-tetradic-1-200: #c8fa95;
  --color-tetradic-1-300: #bdf980;
  --color-tetradic-1-400: #a6f655;
  --color-tetradic-1-500: #7af200;
  --color-tetradic-1-600: #64be08;
  --color-tetradic-1-700: #509609;
  --color-tetradic-1-800: #274508;
  --color-tetradic-1-900: #0a1400;
  --color-tetradic-2-50: #eff3fa;
  --color-tetradic-2-100: #cedcf0;
  --color-tetradic-2-200: #adc4e6;
  --color-tetradic-2-300: #9db9e2;
  --color-tetradic-2-400: #7ca1d8;
  --color-tetradic-2-500: #3b72c4;
  --color-tetradic-2-600: #345e9b;
  --color-tetradic-2-700: #2b4b7b;
  --color-tetradic-2-800: #172539;
  --color-tetradic-2-900: #050a10;
  --color-tetradic-3-50: #f8edfa;
  --color-tetradic-3-100: #ebc8f0;
  --color-tetradic-3-200: #dea3e6;
  --color-tetradic-3-300: #d891e2;
  --color-tetradic-3-400: #ca6cd8;
  --color-tetradic-3-500: #b023c4;
  --color-tetradic-3-600: #8c229b;
  --color-tetradic-3-700: #6f1d7b;
  --color-tetradic-3-800: #341139;
  --color-tetradic-3-900: #0f0310;
  --color-value-0-neutral: black;
  --color-value-1-neutral: #0b0b0b;
  --color-value-2-neutral: #151515;
  --color-value-3-neutral: #202020;
  --color-value-4-neutral: #2b2b2b;
  --color-value-5-neutral: #353535;
  --color-value-6-neutral: #404040;
  --color-value-7-neutral: #4a4a4a;
  --color-value-8-neutral: #555555;
  --color-value-9-neutral: #606060;
  --color-value-10-neutral: #6a6a6a;
  --color-value-11-neutral: #757575;
  --color-value-12-neutral: gray;
  --color-value-13-neutral: #8a8a8a;
  --color-value-14-neutral: #959595;
  --color-value-15-neutral: #9f9f9f;
  --color-value-16-neutral: #aaaaaa;
  --color-value-17-neutral: #b5b5b5;
  --color-value-18-neutral: #bfbfbf;
  --color-value-19-neutral: #cacaca;
  --color-value-20-neutral: #d5d5d5;
  --color-value-21-neutral: #dfdfdf;
  --color-value-22-neutral: #eaeaea;
  --color-value-23-neutral: #f4f4f4;
  --color-value-24-neutral: white;
  --color-primary-50-neutral: #fcf6ed;
  --color-primary-100-neutral: #f7e4c7;
  --color-primary-200-neutral: #f1d2a3;
  --color-primary-300-neutral: #eec991;
  --color-primary-400-neutral: #e9b76b;
  --color-primary-500-neutral: #de9221;
  --color-primary-600-neutral: #ae7621;
  --color-primary-700-neutral: #8b5e1c;
  --color-primary-800-neutral: #402d10;
  --color-primary-900-neutral: #120c03;
  --color-hue-1-50-neutral: #faefef;
  --color-hue-1-100-neutral: #f0cece;
  --color-hue-1-200-neutral: #e7adad;
  --color-hue-1-300-neutral: #e29d9d;
  --color-hue-1-400-neutral: #d87c7c;
  --color-hue-1-500-neutral: #c43b3b;
  --color-hue-1-600-neutral: #9b3434;
  --color-hue-1-700-neutral: #7c2b2b;
  --color-hue-1-800-neutral: #391717;
  --color-hue-1-900-neutral: #100505;
  --color-hue-2-50-neutral: #faf4ef;
  --color-hue-2-100-neutral: #f0dfce;
  --color-hue-2-200-neutral: #e7caad;
  --color-hue-2-300-neutral: #eec091;
  --color-hue-2-400-neutral: #d8aa7c;
  --color-hue-2-500-neutral: #de8021;
  --color-hue-2-600-neutral: #ae6821;
  --color-hue-2-700-neutral: #7c532b;
  --color-hue-2-800-neutral: #392817;
  --color-hue-2-900-neutral: #120b03;
  --color-hue-3-50-neutral: #fcfced;
  --color-hue-3-100-neutral: #f7f7c7;
  --color-hue-3-200-neutral: #f1f1a3;
  --color-hue-3-300-neutral: #eeee91;
  --color-hue-3-400-neutral: #e9e96b;
  --color-hue-3-500-neutral: #dede21;
  --color-hue-3-600-neutral: #aeae21;
  --color-hue-3-700-neutral: #8b8b1c;
  --color-hue-3-800-neutral: #404010;
  --color-hue-3-900-neutral: #121203;
  --color-hue-4-50-neutral: #f4faef;
  --color-hue-4-100-neutral: #dff0ce;
  --color-hue-4-200-neutral: #cae7ad;
  --color-hue-4-300-neutral: #c0e29d;
  --color-hue-4-400-neutral: #aad87c;
  --color-hue-4-500-neutral: #80c43b;
  --color-hue-4-600-neutral: #689b34;
  --color-hue-4-700-neutral: #537c2b;
  --color-hue-4-800-neutral: #283917;
  --color-hue-4-900-neutral: #0b1203;
  --color-hue-5-50-neutral: #effaef;
  --color-hue-5-100-neutral: #cef0ce;
  --color-hue-5-200-neutral: #ade7ad;
  --color-hue-5-300-neutral: #9de29d;
  --color-hue-5-400-neutral: #7cd87c;
  --color-hue-5-500-neutral: #3bc43b;
  --color-hue-5-600-neutral: #349b34;
  --color-hue-5-700-neutral: #2b7c2b;
  --color-hue-5-800-neutral: #173917;
  --color-hue-5-900-neutral: #051005;
  --color-hue-6-50-neutral: #effaf4;
  --color-hue-6-100-neutral: #cef0df;
  --color-hue-6-200-neutral: #ade7ca;
  --color-hue-6-300-neutral: #9de2c0;
  --color-hue-6-400-neutral: #7cd8aa;
  --color-hue-6-500-neutral: #3bc480;
  --color-hue-6-600-neutral: #349b68;
  --color-hue-6-700-neutral: #2b7c53;
  --color-hue-6-800-neutral: #173928;
  --color-hue-6-900-neutral: #05100b;
  --color-hue-7-50-neutral: #effafa;
  --color-hue-7-100-neutral: #cef0f0;
  --color-hue-7-200-neutral: #ade7e7;
  --color-hue-7-300-neutral: #9de2e2;
  --color-hue-7-400-neutral: #7cd8d8;
  --color-hue-7-500-neutral: #3bc4c4;
  --color-hue-7-600-neutral: #349b9b;
  --color-hue-7-700-neutral: #2b7c7c;
  --color-hue-7-800-neutral: #173939;
  --color-hue-7-900-neutral: #051010;
  --color-hue-8-50-neutral: #f1f4f8;
  --color-hue-8-100-neutral: #cedff0;
  --color-hue-8-200-neutral: #adcae7;
  --color-hue-8-300-neutral: #9dc0e2;
  --color-hue-8-400-neutral: #7caad8;
  --color-hue-8-500-neutral: #3b80c4;
  --color-hue-8-600-neutral: #34689b;
  --color-hue-8-700-neutral: #375370;
  --color-hue-8-800-neutral: #172839;
  --color-hue-8-900-neutral: #050b10;
  --color-hue-9-50-neutral: #f1f1f8;
  --color-hue-9-100-neutral: #d3d3eb;
  --color-hue-9-200-neutral: #b6b6de;
  --color-hue-9-300-neutral: #a7a7d8;
  --color-hue-9-400-neutral: #8a8aca;
  --color-hue-9-500-neutral: #4f4fb0;
  --color-hue-9-600-neutral: #43438c;
  --color-hue-9-700-neutral: #373770;
  --color-hue-9-800-neutral: #1c1c34;
  --color-hue-9-900-neutral: #07070e;
  --color-hue-10-50-neutral: #f4f1f8;
  --color-hue-10-100-neutral: #dfd0ee;
  --color-hue-10-200-neutral: #cab1e3;
  --color-hue-10-300-neutral: #c0a1de;
  --color-hue-10-400-neutral: #aa81d3;
  --color-hue-10-500-neutral: #8042bd;
  --color-hue-10-600-neutral: #683a95;
  --color-hue-10-700-neutral: #533077;
  --color-hue-10-800-neutral: #281937;
  --color-hue-10-900-neutral: #0b0510;
  --color-hue-11-50-neutral: #faeffa;
  --color-hue-11-100-neutral: #eed0ee;
  --color-hue-11-200-neutral: #e3b1e3;
  --color-hue-11-300-neutral: #dea1de;
  --color-hue-11-400-neutral: #d381d3;
  --color-hue-11-500-neutral: #bd42bd;
  --color-hue-11-600-neutral: #953a95;
  --color-hue-11-700-neutral: #773077;
  --color-hue-11-800-neutral: #371937;
  --color-hue-11-900-neutral: #100510;
  --color-hue-12-50-neutral: #faeff4;
  --color-hue-12-100-neutral: #f0cedf;
  --color-hue-12-200-neutral: #e7adca;
  --color-hue-12-300-neutral: #e29dc0;
  --color-hue-12-400-neutral: #d87caa;
  --color-hue-12-500-neutral: #c43b80;
  --color-hue-12-600-neutral: #9b3468;
  --color-hue-12-700-neutral: #7c2b53;
  --color-hue-12-800-neutral: #391728;
  --color-hue-12-900-neutral: #10050b;
  --color-complementary-50-neutral: #f2f4f7;
  --color-complementary-100-neutral: #d9dee5;
  --color-complementary-200-neutral: #bfc7d4;
  --color-complementary-300-neutral: #b2bdcd;
  --color-complementary-400-neutral: #99a7bb;
  --color-complementary-500-neutral: #657a9a;
  --color-complementary-600-neutral: #54647b;
  --color-complementary-700-neutral: #445062;
  --color-complementary-800-neutral: #22272e;
  --color-complementary-900-neutral: #080a0d;
  --color-analogous-1-50-neutral: #fbfbed;
  --color-analogous-1-100-neutral: #f3f4c7;
  --color-analogous-1-200-neutral: #eaeda2;
  --color-analogous-1-300-neutral: #e6e990;
  --color-analogous-1-400-neutral: #dde16a;
  --color-analogous-1-500-neutral: #ccd31f;
  --color-analogous-1-600-neutral: #a1a620;
  --color-analogous-1-700-neutral: #80841b;
  --color-analogous-1-800-neutral: #3c3d10;
  --color-analogous-1-900-neutral: #111103;
  --color-analogous-2-50-neutral: #f4f9ef;
  --color-analogous-2-100-neutral: #deeecd;
  --color-analogous-2-200-neutral: #c8e3ac;
  --color-analogous-2-300-neutral: #bddd9c;
  --color-analogous-2-400-neutral: #a6d17a;
  --color-analogous-2-500-neutral: #7aba38;
  --color-analogous-2-600-neutral: #649432;
  --color-analogous-2-700-neutral: #507629;
  --color-analogous-2-800-neutral: #273716;
  --color-analogous-2-900-neutral: #0a0f05;
  --color-analogous-3-50-neutral: #f1faf0;
  --color-analogous-3-100-neutral: #d3efd2;
  --color-analogous-3-200-neutral: #b6e5b3;
  --color-analogous-3-300-neutral: #a7e0a4;
  --color-analogous-3-400-neutral: #89d486;
  --color-analogous-3-500-neutral: #4fc049;
  --color-analogous-3-600-neutral: #43983f;
  --color-analogous-3-700-neutral: #377933;
  --color-analogous-3-800-neutral: #1c381b;
  --color-analogous-3-900-neutral: #071006;
  --color-split-1-50-neutral: #f2f8f8;
  --color-split-1-100-neutral: #d7ebe9;
  --color-split-1-200-neutral: #bcdedb;
  --color-split-1-300-neutral: #afd8d4;
  --color-split-1-400-neutral: #93cbc5;
  --color-split-1-500-neutral: #5eb1a8;
  --color-split-1-600-neutral: #4e8d86;
  --color-split-1-700-neutral: #3f706b;
  --color-split-1-800-neutral: #203432;
  --color-split-1-900-neutral: #080f0e;
  --color-split-2-50-neutral: #f2f1f6;
  --color-split-2-100-neutral: #d9d4e4;
  --color-split-2-200-neutral: #bfb8d1;
  --color-split-2-300-neutral: #b2aac9;
  --color-split-2-400-neutral: #998db7;
  --color-split-2-500-neutral: #665592;
  --color-split-2-600-neutral: #544875;
  --color-split-2-700-neutral: #443a5e;
  --color-split-2-800-neutral: #221d2d;
  --color-split-2-900-neutral: #09070c;
  --color-square-1-50-neutral: #f1faf0;
  --color-square-1-100-neutral: #d3efd2;
  --color-square-1-200-neutral: #b6e5b3;
  --color-square-1-300-neutral: #a7e0a4;
  --color-square-1-400-neutral: #89d486;
  --color-square-1-500-neutral: #4fc049;
  --color-square-1-600-neutral: #43983f;
  --color-square-1-700-neutral: #377933;
  --color-square-1-800-neutral: #1c381b;
  --color-square-1-900-neutral: #071006;
  --color-square-2-50-neutral: #f2f4f7;
  --color-square-2-100-neutral: #d9dee5;
  --color-square-2-200-neutral: #bfc7d4;
  --color-square-2-300-neutral: #b2bdcd;
  --color-square-2-400-neutral: #99a7bb;
  --color-square-2-500-neutral: #657a9a;
  --color-square-2-600-neutral: #54647b;
  --color-square-2-700-neutral: #445062;
  --color-square-2-800-neutral: #22272e;
  --color-square-2-900-neutral: #080a0d;
  --color-square-3-50-neutral: #fbf1f8;
  --color-square-3-100-neutral: #f2d5e8;
  --color-square-3-200-neutral: #eab8d9;
  --color-square-3-300-neutral: #e6aad1;
  --color-square-3-400-neutral: #dd8ec1;
  --color-square-3-500-neutral: #cc56a2;
  --color-square-3-600-neutral: #a14882;
  --color-square-3-700-neutral: #803b67;
  --color-square-3-800-neutral: #3b1e31;
  --color-square-3-900-neutral: #11070e;
  --color-triadic-1-50-neutral: #f2faf5;
  --color-triadic-1-100-neutral: #d8efe0;
  --color-triadic-1-200-neutral: #bee4cb;
  --color-triadic-1-300-neutral: #b1e0c1;
  --color-triadic-1-400-neutral: #97d5ac;
  --color-triadic-1-500-neutral: #63c083;
  --color-triadic-1-600-neutral: #52986a;
  --color-triadic-1-700-neutral: #427955;
  --color-triadic-1-800-neutral: #213829;
  --color-triadic-1-900-neutral: #08100b;
  --color-triadic-2-50-neutral: #f6f0f7;
  --color-triadic-2-100-neutral: #e3d2e6;
  --color-triadic-2-200-neutral: #d1b4d5;
  --color-triadic-2-300-neutral: #c8a6cd;
  --color-triadic-2-400-neutral: #b588bc;
  --color-triadic-2-500-neutral: #914d9a;
  --color-triadic-2-600-neutral: #74417c;
  --color-triadic-2-700-neutral: #5d3563;
  --color-triadic-2-800-neutral: #2c1b2f;
  --color-triadic-2-900-neutral: #0c060d;
  --color-tetradic-1-50-neutral: #f4f9ef;
  --color-tetradic-1-100-neutral: #deeecd;
  --color-tetradic-1-200-neutral: #c8e3ac;
  --color-tetradic-1-300-neutral: #bddd9c;
  --color-tetradic-1-400-neutral: #a6d17a;
  --color-tetradic-1-500-neutral: #7aba38;
  --color-tetradic-1-600-neutral: #649432;
  --color-tetradic-1-700-neutral: #507629;
  --color-tetradic-1-800-neutral: #273716;
  --color-tetradic-1-900-neutral: #0a0f05;
  --color-tetradic-2-50-neutral: #f2f4f7;
  --color-tetradic-2-100-neutral: #d9dee5;
  --color-tetradic-2-200-neutral: #bfc7d4;
  --color-tetradic-2-300-neutral: #b2bdcd;
  --color-tetradic-2-400-neutral: #99a7bb;
  --color-tetradic-2-500-neutral: #657a9a;
  --color-tetradic-2-600-neutral: #54647b;
  --color-tetradic-2-700-neutral: #445062;
  --color-tetradic-2-800-neutral: #22272e;
  --color-tetradic-2-900-neutral: #080a0d;
  --color-tetradic-3-50-neutral: #f6f0f7;
  --color-tetradic-3-100-neutral: #e3d2e6;
  --color-tetradic-3-200-neutral: #d1b4d5;
  --color-tetradic-3-300-neutral: #c8a6cd;
  --color-tetradic-3-400-neutral: #b588bc;
  --color-tetradic-3-500-neutral: #914d9a;
  --color-tetradic-3-600-neutral: #74417c;
  --color-tetradic-3-700-neutral: #5d3563;
  --color-tetradic-3-800-neutral: #2c1b2f;
  --color-tetradic-3-900-neutral: #0c060d;
  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;
  --color-grey-50-rgb: 250, 250, 250;
  --color-grey-100-rgb: 245, 245, 245;
  --color-grey-200-rgb: 238, 238, 238;
  --color-grey-300-rgb: 213, 213, 213;
  --color-grey-400-rgb: 175, 175, 175;
  --color-grey-500-rgb: 114, 114, 114;
  --color-grey-600-rgb: 88, 88, 88;
  --color-grey-700-rgb: 71, 71, 71;
  --color-grey-800-rgb: 38, 38, 38;
  --color-grey-900-rgb: 30, 30, 30;
  --color-value-0-rgb: 0, 0, 0;
  --color-value-1-rgb: 11, 11, 11;
  --color-value-2-rgb: 21, 21, 21;
  --color-value-3-rgb: 32, 32, 32;
  --color-value-4-rgb: 43, 43, 43;
  --color-value-5-rgb: 53, 53, 53;
  --color-value-6-rgb: 64, 64, 64;
  --color-value-7-rgb: 74, 74, 74;
  --color-value-8-rgb: 85, 85, 85;
  --color-value-9-rgb: 96, 96, 96;
  --color-value-10-rgb: 106, 106, 106;
  --color-value-11-rgb: 117, 117, 117;
  --color-value-12-rgb: 128, 128, 128;
  --color-value-13-rgb: 138, 138, 138;
  --color-value-14-rgb: 149, 149, 149;
  --color-value-15-rgb: 159, 159, 159;
  --color-value-16-rgb: 170, 170, 170;
  --color-value-17-rgb: 181, 181, 181;
  --color-value-18-rgb: 191, 191, 191;
  --color-value-19-rgb: 202, 202, 202;
  --color-value-20-rgb: 213, 213, 213;
  --color-value-21-rgb: 223, 223, 223;
  --color-value-22-rgb: 234, 234, 234;
  --color-value-23-rgb: 244, 244, 244;
  --color-value-24-rgb: 255, 255, 255;
  --color-slate-50-rgb: 246, 248, 250;
  --color-slate-100-rgb: 244, 244, 245;
  --color-slate-200-rgb: 232, 235, 239;
  --color-slate-300-rgb: 208, 211, 215;
  --color-slate-400-rgb: 166, 171, 177;
  --color-slate-500-rgb: 112, 117, 122;
  --color-slate-600-rgb: 83, 88, 94;
  --color-slate-700-rgb: 67, 71, 76;
  --color-slate-800-rgb: 36, 38, 40;
  --color-slate-900-rgb: 28, 30, 32;
  --color-stone-50-rgb: 250, 249, 249;
  --color-stone-100-rgb: 245, 245, 245;
  --color-stone-200-rgb: 238, 236, 236;
  --color-stone-300-rgb: 214, 211, 211;
  --color-stone-400-rgb: 176, 172, 172;
  --color-stone-500-rgb: 116, 113, 113;
  --color-stone-600-rgb: 90, 86, 86;
  --color-stone-700-rgb: 72, 69, 69;
  --color-stone-800-rgb: 38, 37, 37;
  --color-stone-900-rgb: 30, 29, 29;
  --color-primary-50-rgb: 255, 247, 234;
  --color-primary-100-rgb: 255, 230, 191;
  --color-primary-200-rgb: 255, 213, 149;
  --color-primary-300-rgb: 255, 204, 128;
  --color-primary-400-rgb: 255, 187, 85;
  --color-primary-500-rgb: 255, 153, 0;
  --color-primary-600-rgb: 199, 123, 8;
  --color-primary-700-rgb: 158, 98, 9;
  --color-primary-800-rgb: 72, 47, 8;
  --color-primary-900-rgb: 21, 13, 0;
  --color-hue-1-50-rgb: 255, 234, 234;
  --color-hue-1-100-rgb: 255, 191, 191;
  --color-hue-1-200-rgb: 255, 149, 149;
  --color-hue-1-300-rgb: 255, 128, 128;
  --color-hue-1-400-rgb: 255, 85, 85;
  --color-hue-1-500-rgb: 255, 0, 0;
  --color-hue-1-600-rgb: 199, 8, 8;
  --color-hue-1-700-rgb: 158, 9, 9;
  --color-hue-1-800-rgb: 72, 8, 8;
  --color-hue-1-900-rgb: 21, 0, 0;
  --color-hue-2-50-rgb: 255, 244, 234;
  --color-hue-2-100-rgb: 255, 223, 191;
  --color-hue-2-200-rgb: 255, 202, 149;
  --color-hue-2-300-rgb: 255, 192, 128;
  --color-hue-2-400-rgb: 255, 170, 85;
  --color-hue-2-500-rgb: 255, 128, 0;
  --color-hue-2-600-rgb: 199, 104, 8;
  --color-hue-2-700-rgb: 158, 83, 9;
  --color-hue-2-800-rgb: 72, 40, 8;
  --color-hue-2-900-rgb: 21, 11, 0;
  --color-hue-3-50-rgb: 255, 255, 234;
  --color-hue-3-100-rgb: 255, 255, 191;
  --color-hue-3-200-rgb: 255, 255, 149;
  --color-hue-3-300-rgb: 255, 255, 128;
  --color-hue-3-400-rgb: 255, 255, 85;
  --color-hue-3-500-rgb: 255, 255, 0;
  --color-hue-3-600-rgb: 199, 199, 8;
  --color-hue-3-700-rgb: 158, 158, 9;
  --color-hue-3-800-rgb: 72, 72, 8;
  --color-hue-3-900-rgb: 21, 21, 0;
  --color-hue-4-50-rgb: 244, 255, 234;
  --color-hue-4-100-rgb: 223, 255, 191;
  --color-hue-4-200-rgb: 202, 255, 149;
  --color-hue-4-300-rgb: 192, 255, 128;
  --color-hue-4-400-rgb: 170, 255, 85;
  --color-hue-4-500-rgb: 128, 255, 0;
  --color-hue-4-600-rgb: 104, 199, 8;
  --color-hue-4-700-rgb: 83, 158, 9;
  --color-hue-4-800-rgb: 40, 72, 8;
  --color-hue-4-900-rgb: 11, 21, 0;
  --color-hue-5-50-rgb: 234, 255, 234;
  --color-hue-5-100-rgb: 191, 255, 191;
  --color-hue-5-200-rgb: 149, 255, 149;
  --color-hue-5-300-rgb: 128, 255, 128;
  --color-hue-5-400-rgb: 85, 255, 85;
  --color-hue-5-500-rgb: 0, 255, 0;
  --color-hue-5-600-rgb: 8, 199, 8;
  --color-hue-5-700-rgb: 9, 158, 9;
  --color-hue-5-800-rgb: 8, 72, 8;
  --color-hue-5-900-rgb: 0, 21, 0;
  --color-hue-6-50-rgb: 234, 255, 244;
  --color-hue-6-100-rgb: 191, 255, 223;
  --color-hue-6-200-rgb: 149, 255, 202;
  --color-hue-6-300-rgb: 128, 255, 192;
  --color-hue-6-400-rgb: 85, 255, 170;
  --color-hue-6-500-rgb: 0, 255, 128;
  --color-hue-6-600-rgb: 8, 199, 104;
  --color-hue-6-700-rgb: 9, 158, 83;
  --color-hue-6-800-rgb: 8, 72, 40;
  --color-hue-6-900-rgb: 0, 21, 11;
  --color-hue-7-50-rgb: 234, 255, 255;
  --color-hue-7-100-rgb: 191, 255, 255;
  --color-hue-7-200-rgb: 149, 255, 255;
  --color-hue-7-300-rgb: 128, 255, 255;
  --color-hue-7-400-rgb: 85, 255, 255;
  --color-hue-7-500-rgb: 0, 255, 255;
  --color-hue-7-600-rgb: 8, 199, 199;
  --color-hue-7-700-rgb: 9, 158, 158;
  --color-hue-7-800-rgb: 8, 72, 72;
  --color-hue-7-900-rgb: 0, 21, 21;
  --color-hue-8-50-rgb: 234, 244, 255;
  --color-hue-8-100-rgb: 191, 223, 255;
  --color-hue-8-200-rgb: 149, 202, 255;
  --color-hue-8-300-rgb: 128, 192, 255;
  --color-hue-8-400-rgb: 85, 170, 255;
  --color-hue-8-500-rgb: 0, 128, 255;
  --color-hue-8-600-rgb: 8, 104, 199;
  --color-hue-8-700-rgb: 9, 83, 158;
  --color-hue-8-800-rgb: 8, 40, 72;
  --color-hue-8-900-rgb: 0, 11, 21;
  --color-hue-9-50-rgb: 234, 234, 255;
  --color-hue-9-100-rgb: 191, 191, 255;
  --color-hue-9-200-rgb: 149, 149, 255;
  --color-hue-9-300-rgb: 128, 128, 255;
  --color-hue-9-400-rgb: 85, 85, 255;
  --color-hue-9-500-rgb: 0, 0, 255;
  --color-hue-9-600-rgb: 8, 8, 199;
  --color-hue-9-700-rgb: 9, 9, 158;
  --color-hue-9-800-rgb: 8, 8, 72;
  --color-hue-9-900-rgb: 0, 0, 21;
  --color-hue-10-50-rgb: 244, 234, 255;
  --color-hue-10-100-rgb: 223, 191, 255;
  --color-hue-10-200-rgb: 202, 149, 255;
  --color-hue-10-300-rgb: 192, 128, 255;
  --color-hue-10-400-rgb: 170, 85, 255;
  --color-hue-10-500-rgb: 128, 0, 255;
  --color-hue-10-600-rgb: 104, 8, 199;
  --color-hue-10-700-rgb: 83, 9, 158;
  --color-hue-10-800-rgb: 40, 8, 72;
  --color-hue-10-900-rgb: 11, 0, 21;
  --color-hue-11-50-rgb: 255, 234, 255;
  --color-hue-11-100-rgb: 255, 191, 255;
  --color-hue-11-200-rgb: 255, 149, 255;
  --color-hue-11-300-rgb: 255, 128, 255;
  --color-hue-11-400-rgb: 255, 85, 255;
  --color-hue-11-500-rgb: 255, 0, 255;
  --color-hue-11-600-rgb: 199, 8, 199;
  --color-hue-11-700-rgb: 158, 9, 158;
  --color-hue-11-800-rgb: 72, 8, 72;
  --color-hue-11-900-rgb: 21, 0, 21;
  --color-hue-12-50-rgb: 255, 234, 244;
  --color-hue-12-100-rgb: 255, 191, 223;
  --color-hue-12-200-rgb: 255, 149, 202;
  --color-hue-12-300-rgb: 255, 128, 192;
  --color-hue-12-400-rgb: 255, 85, 170;
  --color-hue-12-500-rgb: 255, 0, 128;
  --color-hue-12-600-rgb: 199, 8, 104;
  --color-hue-12-700-rgb: 158, 9, 83;
  --color-hue-12-800-rgb: 72, 8, 40;
  --color-hue-12-900-rgb: 21, 0, 11;
  --color-complementary-50-rgb: 239, 243, 250;
  --color-complementary-100-rgb: 206, 220, 240;
  --color-complementary-200-rgb: 173, 196, 230;
  --color-complementary-300-rgb: 157, 185, 226;
  --color-complementary-400-rgb: 124, 161, 216;
  --color-complementary-500-rgb: 59, 114, 196;
  --color-complementary-600-rgb: 52, 94, 155;
  --color-complementary-700-rgb: 43, 75, 123;
  --color-complementary-800-rgb: 23, 37, 57;
  --color-complementary-900-rgb: 5, 10, 16;
  --color-analogous-1-50-rgb: 253, 254, 234;
  --color-analogous-1-100-rgb: 250, 252, 191;
  --color-analogous-1-200-rgb: 246, 250, 149;
  --color-analogous-1-300-rgb: 244, 249, 128;
  --color-analogous-1-400-rgb: 240, 246, 85;
  --color-analogous-1-500-rgb: 233, 242, 0;
  --color-analogous-1-600-rgb: 183, 190, 8;
  --color-analogous-1-700-rgb: 145, 150, 9;
  --color-analogous-1-800-rgb: 67, 69, 8;
  --color-analogous-1-900-rgb: 19, 20, 0;
  --color-analogous-2-50-rgb: 244, 254, 234;
  --color-analogous-2-100-rgb: 222, 252, 191;
  --color-analogous-2-200-rgb: 200, 250, 149;
  --color-analogous-2-300-rgb: 189, 249, 128;
  --color-analogous-2-400-rgb: 166, 246, 85;
  --color-analogous-2-500-rgb: 122, 242, 0;
  --color-analogous-2-600-rgb: 100, 190, 8;
  --color-analogous-2-700-rgb: 80, 150, 9;
  --color-analogous-2-800-rgb: 39, 69, 8;
  --color-analogous-2-900-rgb: 10, 20, 0;
  --color-analogous-3-50-rgb: 237, 254, 236;
  --color-analogous-3-100-rgb: 200, 252, 197;
  --color-analogous-3-200-rgb: 163, 250, 158;
  --color-analogous-3-300-rgb: 144, 249, 139;
  --color-analogous-3-400-rgb: 107, 246, 100;
  --color-analogous-3-500-rgb: 33, 242, 23;
  --color-analogous-3-600-rgb: 33, 190, 25;
  --color-analogous-3-700-rgb: 28, 150, 22;
  --color-analogous-3-800-rgb: 17, 69, 14;
  --color-analogous-3-900-rgb: 3, 20, 2;
  --color-split-1-50-rgb: 239, 251, 250;
  --color-split-1-100-rgb: 206, 244, 240;
  --color-split-1-200-rgb: 173, 237, 230;
  --color-split-1-300-rgb: 157, 234, 226;
  --color-split-1-400-rgb: 124, 226, 216;
  --color-split-1-500-rgb: 59, 212, 196;
  --color-split-1-600-rgb: 52, 167, 155;
  --color-split-1-700-rgb: 43, 132, 123;
  --color-split-1-800-rgb: 23, 61, 57;
  --color-split-1-900-rgb: 5, 18, 16;
  --color-split-2-50-rgb: 240, 237, 250;
  --color-split-2-100-rgb: 211, 200, 240;
  --color-split-2-200-rgb: 182, 163, 230;
  --color-split-2-300-rgb: 167, 145, 226;
  --color-split-2-400-rgb: 138, 108, 216;
  --color-split-2-500-rgb: 79, 35, 196;
  --color-split-2-600-rgb: 67, 34, 155;
  --color-split-2-700-rgb: 55, 29, 123;
  --color-split-2-800-rgb: 28, 17, 57;
  --color-split-2-900-rgb: 7, 3, 16;
  --color-square-1-50-rgb: 237, 254, 236;
  --color-square-1-100-rgb: 200, 252, 197;
  --color-square-1-200-rgb: 163, 250, 158;
  --color-square-1-300-rgb: 144, 249, 139;
  --color-square-1-400-rgb: 107, 246, 100;
  --color-square-1-500-rgb: 33, 242, 23;
  --color-square-1-600-rgb: 33, 190, 25;
  --color-square-1-700-rgb: 28, 150, 22;
  --color-square-1-800-rgb: 17, 69, 14;
  --color-square-1-900-rgb: 3, 20, 2;
  --color-square-2-50-rgb: 239, 243, 250;
  --color-square-2-100-rgb: 206, 220, 240;
  --color-square-2-200-rgb: 173, 196, 230;
  --color-square-2-300-rgb: 157, 185, 226;
  --color-square-2-400-rgb: 124, 161, 216;
  --color-square-2-500-rgb: 59, 114, 196;
  --color-square-2-600-rgb: 52, 94, 155;
  --color-square-2-700-rgb: 43, 75, 123;
  --color-square-2-800-rgb: 23, 37, 57;
  --color-square-2-900-rgb: 5, 10, 16;
  --color-square-3-50-rgb: 255, 237, 249;
  --color-square-3-100-rgb: 255, 200, 236;
  --color-square-3-200-rgb: 255, 163, 223;
  --color-square-3-300-rgb: 255, 145, 216;
  --color-square-3-400-rgb: 255, 108, 203;
  --color-square-3-500-rgb: 255, 35, 177;
  --color-square-3-600-rgb: 199, 34, 141;
  --color-square-3-700-rgb: 158, 29, 112;
  --color-square-3-800-rgb: 72, 17, 53;
  --color-square-3-900-rgb: 21, 3, 15;
  --color-triadic-1-50-rgb: 239, 253, 244;
  --color-triadic-1-100-rgb: 206, 249, 221;
  --color-triadic-1-200-rgb: 173, 245, 198;
  --color-triadic-1-300-rgb: 157, 244, 187;
  --color-triadic-1-400-rgb: 124, 240, 164;
  --color-triadic-1-500-rgb: 59, 232, 118;
  --color-triadic-1-600-rgb: 52, 182, 97;
  --color-triadic-1-700-rgb: 43, 144, 78;
  --color-triadic-1-800-rgb: 23, 66, 38;
  --color-triadic-1-900-rgb: 5, 19, 10;
  --color-triadic-2-50-rgb: 248, 237, 250;
  --color-triadic-2-100-rgb: 235, 200, 240;
  --color-triadic-2-200-rgb: 222, 163, 230;
  --color-triadic-2-300-rgb: 216, 145, 226;
  --color-triadic-2-400-rgb: 202, 108, 216;
  --color-triadic-2-500-rgb: 176, 35, 196;
  --color-triadic-2-600-rgb: 140, 34, 155;
  --color-triadic-2-700-rgb: 111, 29, 123;
  --color-triadic-2-800-rgb: 52, 17, 57;
  --color-triadic-2-900-rgb: 15, 3, 16;
  --color-tetradic-1-50-rgb: 244, 254, 234;
  --color-tetradic-1-100-rgb: 222, 252, 191;
  --color-tetradic-1-200-rgb: 200, 250, 149;
  --color-tetradic-1-300-rgb: 189, 249, 128;
  --color-tetradic-1-400-rgb: 166, 246, 85;
  --color-tetradic-1-500-rgb: 122, 242, 0;
  --color-tetradic-1-600-rgb: 100, 190, 8;
  --color-tetradic-1-700-rgb: 80, 150, 9;
  --color-tetradic-1-800-rgb: 39, 69, 8;
  --color-tetradic-1-900-rgb: 10, 20, 0;
  --color-tetradic-2-50-rgb: 239, 243, 250;
  --color-tetradic-2-100-rgb: 206, 220, 240;
  --color-tetradic-2-200-rgb: 173, 196, 230;
  --color-tetradic-2-300-rgb: 157, 185, 226;
  --color-tetradic-2-400-rgb: 124, 161, 216;
  --color-tetradic-2-500-rgb: 59, 114, 196;
  --color-tetradic-2-600-rgb: 52, 94, 155;
  --color-tetradic-2-700-rgb: 43, 75, 123;
  --color-tetradic-2-800-rgb: 23, 37, 57;
  --color-tetradic-2-900-rgb: 5, 10, 16;
  --color-tetradic-3-50-rgb: 248, 237, 250;
  --color-tetradic-3-100-rgb: 235, 200, 240;
  --color-tetradic-3-200-rgb: 222, 163, 230;
  --color-tetradic-3-300-rgb: 216, 145, 226;
  --color-tetradic-3-400-rgb: 202, 108, 216;
  --color-tetradic-3-500-rgb: 176, 35, 196;
  --color-tetradic-3-600-rgb: 140, 34, 155;
  --color-tetradic-3-700-rgb: 111, 29, 123;
  --color-tetradic-3-800-rgb: 52, 17, 57;
  --color-tetradic-3-900-rgb: 15, 3, 16;
}
