
:root {
    --grid-gap:  1rem;
    --grid-pad:  1rem;
    --grid-radius:  .328em;
}


html, body{
    margin: 0;
}

body {
    background-color: var(--color-slate-900);
    color:  var(--color-white);

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;

    max-width: 1500px;

    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -ms-overflow-style: scrollbar;

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.reset-button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

[aria-hidden="true"] { display: none !important; }

i[class^="icon-"],
i[class*=" icon-"]{    
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
    fill: currentColor;
}

i[class^="icon-"] > svg,
i[class*=" icon-"] > svg{
  display: block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  fill: currentColor;
}

.sr-only,
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/*====================================
=            Main Styling            =
====================================*/
.docs-grid {
    display: grid;
    padding: var(--grid-pad);
    grid-gap: var(--grid-gap);
    grid-template-areas:
        "rainbow"
        "header"
        "aside"
        "main";
    grid-template-columns: 100%;
}

@media (min-width:  768px) {
    .docs-grid {
        grid-template-areas: "rainbow rainbow rainbow"
            "header header header"
            "aside main main"
            "aside main main"
            "aside main main"
            "aside main main"
            "aside main main"
            "aside main main";
        grid-template-columns: 300px 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width:  992px) {
    .docs-grid--header,
    .docs-grid--main,
    .docs-grid--menu {
        --grid-gap: 1.25rem;
        --grid-pad: 1.25rem;

    }
}

.docs-grid--rainbow {
    grid-area:  rainbow;
    margin: 0;
    padding: 0;
    height: 25px;
    border-radius: var(--grid-radius);

    background-image: linear-gradient( -90deg, var(--color-hue-1-400), var(--color-hue-2-400), var(--color-hue-3-400), var(--color-hue-4-400), var(--color-hue-5-400), var(--color-hue-6-400), var(--color-hue-7-400), var(--color-hue-8-400), var(--color-hue-9-400), var(--color-hue-10-400), var(--color-hue-11-400), var(--color-hue-12-400));
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.docs-grid--header { grid-area: header; }
.docs-grid--aside { grid-area: aside; }
.docs-grid--main { grid-area:  main; }

.docs-grid--header,
.docs-grid--main,
.docs-grid--menu {
    background-color: rgba(var(--color-slate-600-rgb), 0.2);
    padding:  var(--grid-pad);
    border:  1px solid var(--color-slate-900);
    border-radius: var(--grid-radius);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.docs-grid--menu { 
     margin: 0;
     opacity:  0.4;
}

.docs-header { margin: 0 0 1.563rem; }

.docs-header--title h2 { font-size: 18px; }
.docs-header--title a {
    text-decoration: none;
    color: inherit;
}

.docs-aside {}
.docs-main {}

.docs-section .scheme-row--article {}
.docs-section + .docs-section { 

    margin-top: 1.953rem;
    padding-top: 1.953rem;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.docs-grid--header {
   display: flex;
   align-items:  center;
   justify-content: space-between;
}

.docs-header--logo a {
   display:  flex;
   align-items: center;
   font-size: 1rem;
   font-weight: bold;
   text-decoration: none;
   color:  inherit;
}

.docs-header--logo svg {
   display:  block;
   width:  3.052rem;
   height: 3.052rem;
   margin-right: 0.328rem;
}

.docs-header--btn a {
   display:  flex;
   align-items: center;
   text-align: left;
   white-space: nowrap;
   vertical-align: middle;
   user-select: none;
   border: 1px solid transparent;
   font-size: 1rem;
   font-weight: bold;
   line-height: 1.5;
    border-radius: var(--grid-radius);
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   padding: 0.375rem 0.75rem;
   text-decoration: none;
}


.docs-grid--menu {}
.docs-grid--menu form { }

.docs-grid--menu h3 { font-size:  1rem; position: relative; margin-bottom: 0.328rem;  }
.docs-grid--menu h3:not(:first-child) { margin-top: 1.953rem; }

.docs-grid--menu h3 span {
   position:  relative;
   text-transform: lowercase;
   font-variant-caps: small-caps;
   display: inline-block;
   padding-right: 0.328rem;
}

.docs-grid--menu h3:before {
   width: 100%;
   height: 1px;
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
}


.docs-label {
   display: flex;
   align-items: center;
   line-height: 1;
   width: 100%;
   justify-content: space-between;
   margin-bottom: 0.328rem;
   margin-top: 0.64rem;
   font-size: 1rem;
}

.docs-label--text { margin-right:  0.328rem; }
.docs-label--icon { position: relative; opacity: 0.4; }

.docs-label--icon a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.docs-label--icon svg{
    display: block;
    width: 1rem;
    height: 1rem;
}

.docs-label--select {
    width: 100%;
    display:  flex;
    align-items: center;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: var(--grid-radius);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.docs-grid--menu h3 { color: var(--color-slate-400) }
.docs-grid--menu h3 span { background-color: var(--color-white); }
.docs-grid--menu h3:before { background-color: var(--color-slate-100); }

.docs-label--icon svg {
   fill:  var(--color-slate-400);
}

.docs-header--btn a,
.docs-label--select {
   background-color: var(--color-slate-50);
   border-color: var(--color-slate-200);
   color: var(--color-slate-900);
   box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}


ol[data-scheme-name=hue-1]::before { content: '0°'; }
ol[data-scheme-name=hue-2]::before { content: '30°'; }
ol[data-scheme-name=hue-3]::before { content: '60°'; }
ol[data-scheme-name=hue-4]::before { content: '90°'; }
ol[data-scheme-name=hue-5]::before { content: '120°'; }
ol[data-scheme-name=hue-6]::before { content: '150°'; }
ol[data-scheme-name=hue-7]::before { content: '180°'; }
ol[data-scheme-name=hue-8]::before { content: '210°'; }
ol[data-scheme-name=hue-9]::before { content: '240°'; }
ol[data-scheme-name=hue-10]::before { content: '270°'; }
ol[data-scheme-name=hue-11]::before { content: '300°'; }
ol[data-scheme-name=hue-12]::before { content: '330°'; }

ol[data-scheme-name=primary]::before { content: 'Base'; }
ol[data-scheme-name=complementary]::before { content: '180°'; }

ol[data-scheme-name=split-1]::before { content: '150°'; }
ol[data-scheme-name=split-2]::before { content: '210°'; }

ol[data-scheme-name=triadic-1]::before { content: '120°'; }
ol[data-scheme-name=triadic-2]::before { content: '240°'; }

ol[data-scheme-name=square-1]::before { content: '90°'; }
ol[data-scheme-name=square-2]::before { content: '180°'; }
ol[data-scheme-name=square-3]::before { content: '270°'; }

ol[data-scheme-name=tetradic-1]::before { content: '60°'; }
ol[data-scheme-name=tetradic-2]::before { content: '180°'; }
ol[data-scheme-name=tetradic-3]::before { content: '240°'; }

ol[data-scheme-name=analogous-1]::before { content: '30°'; }
ol[data-scheme-name=analogous-2]::before { content: '60°'; }
ol[data-scheme-name=analogous-3]::before { content: '90°'; }

ol[data-scheme-name=success]::before { content: 'Success'; }
ol[data-scheme-name=danger]::before { content: 'Danger'; }
ol[data-scheme-name=warning]::before { content: 'Warning'; }
ol[data-scheme-name=info]::before { content: 'Info'; }

ol[data-scheme-name="grey"]::before { content: 'Grey'; }
ol[data-scheme-name="slate"]::before { content: 'Slate'; }
ol[data-scheme-name="stone"]::before { content: 'Stone'; }

ol[data-scheme-type=neutral]::before { content: 'Neutral'; }

ol[data-scheme-name] { position: relative; }
ol[data-scheme-name]::before {
 text-align: center;
 transform: rotate(-90deg);
 transform-origin: center left;
 position: absolute;
 left: 16px;
 width: 55px;
 bottom: 0px;
 border-radius: 5px;
 color: var(--color-slate-500);
 line-height: 24px;
 font-size: 11.11px;
 font-weight: bold;
 height: 30px;
 z-index: 0;
 background-color: var(--color-slate-900);
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/*==================================
=            Scheme Row            =
==================================*/

.scheme-row {
    display: grid;
    grid-template-columns: repeat(10, minmax(80px, 1fr));
    grid-gap: 10px;
    list-style: none;
    padding:  0;
    margin: 0;
}

@media screen and (min-width:  992px) {
    .scheme-row {
        grid-template-columns: repeat(10, minmax(70px, 1fr));
        padding:  0 0 0 25px;
    }
}

.scheme-row li { 
    transition: all 0.25s 0s ease-in-out;
    padding:  6px 6px 0 6px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color-slate-700);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 1;
}

.scheme-row + .scheme-row { margin-top: 10px; }

.scheme-row[data-scheme-type="neutral"] {}
.scheme-row[data-scheme-type="alpha"] .scheme-color--preview {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 12px;
    background-position: center;
}

/*=========================================
=            Scheme Row Header            =
=========================================*/

.scheme-row--header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.scheme-row--header h3 { 
    font-size: 12.22px;
    font-weight: 700;
    margin:  0 0 1rem;
    opacity: 0.4;
}

.scheme-row--header a {
    display: flex;
    color: inherit;
    text-decoration: none;
}

.scheme-row--header a svg {
    display: block;
    width: 1rem;
    height: 1rem;
}

.scheme-row--header a i {}

.scheme-row--header h2 {
    font-size: 1rem;
    line-height: 1.215;
    display: flex;
    position: relative;
}

/*=========================================
=            Scheme Row Figure            =
=========================================*/

.scheme-row--figure { 
    margin: 0;
    padding: 0;
    position: relative;
}



.scheme-row--figure[data-cs-num="50"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="100"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="200"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="300"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="400"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="500"] .scheme-color--preview { border-color: rgba(var(--color-white-rgb), 0.1); }

.scheme-row--figure[data-cs-num="500"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="600"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="700"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="800"] .scheme-color--preview,
.scheme-row--figure[data-cs-num="900"] .scheme-color--preview { border-color: rgba(var(--color-white-rgb), 0.3); }

.scheme-row--figure[data-cs-num="50"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="100"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="200"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="300"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="400"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="500"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="600"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="700"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="800"] .scheme-color--meta,
.scheme-row--figure[data-cs-num="900"] .scheme-color--meta { color: var(--color-white); }


/*============================================
=            Scheme Color Preview            =
============================================*/



.scheme-color--preview{
    position: relative;
    line-height: 1;
    width: 100%;
    text-align: center;
    height:  35px;
    transition: all 200ms ease;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.copy-wrapper {
    color: rgba(255,255,255,0.5);
    opacity:  0;
    width: 16px;
    height: 16px;
    display: flex;
    align-items:  center;
    justify-content: center;
    position: absolute;
    top:  6px;
    font-size: 12px;
    left: 6px;
    border-radius: 999em;
}

.scheme-color--preview:hover .copy-wrapper { opacity: 1; }
.scheme-color--preview:hover {
    top:  -1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.scheme-color--preview:active {
    top:  1px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 4px 6px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/*.scheme-color--preview span {
    width: 30%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
}
.scheme-color--preview span:nth-of-type(1) { right: 30%; }
.scheme-color--preview span:nth-of-type(1)::before,
.scheme-color--preview span:nth-of-type(1)::after {
    position: absolute;
    top: 0px;
    right: 0%;
    width: 100%;
    min-height: 33px;
    opacity: .3;
    content: '';
    z-index: 0;
    background-color: inherit;
}

.scheme-color--preview span:nth-of-type(2) { right: 0; }
.scheme-color--preview span:nth-of-type(2)::before,
.scheme-color--preview span:nth-of-type(2)::after {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    min-height: 33px;
    opacity: .3;
    content: '';
    z-index: 0;
}

.scheme-color--preview span:nth-of-type(2)::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 8px;
    background-position: center;
    background-color: inherit;
    border-radius: 0px 5px 5px 0px;
}

.scheme-color--preview span:nth-of-type(2)::after {
    border-radius: 0px 5px 5px 0px;
}
*/

/*=========================================
=            Scheme Color Meta            =
=========================================*/

.scheme-color--meta {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    height: 100%;
    padding: 6px 0 6px;
    color: var(--color-white);
    font-size: 11.11px;
}

.scheme-color--meta .scheme-color--num { font-weight: bold; }
.scheme-color--meta .scheme-color--hex,
.scheme-color--meta .scheme-color--rgb,
.scheme-color--meta .scheme-color--rgba,
.scheme-color--meta .scheme-color--var { opacity: 0.65; }
.scheme-color--meta div {
    user-select:  none;
}
.scheme-color--meta div > span {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: 80px;
    display: block;
    user-select:  none;
    line-height: 1.415 }

.scheme-color--meta .scheme-color--rgb,
.scheme-color--meta .scheme-color--rgba,
.scheme-color--meta .scheme-color--var { display: none; }



/*======================================
=            Color Spectrum            =
======================================*/

table.demo-colorspectrum-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
    border-radius: 0.25rem;
    overflow: hidden;
}

table.demo-colorspectrum-table{
    background-color: #222;
    color: #fff;
}
table.demo-colorspectrum-table tbody th,
table.demo-colorspectrum-table tbody td {
    border-color: #444;
}

table.demo-colorspectrum-table tbody td span,
table.demo-colorspectrum-table tbody td code {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1rem;
    padding-right: 1rem;

}

table.demo-colorspectrum-table th,
table.demo-colorspectrum-table td {
    vertical-align: middle;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 0;
    font-family: inherit;
    width: 7.6923076923%;
}

table.demo-colorspectrum-table th:last-child,
table.demo-colorspectrum-table td:last-child {
    border-right: 0px;
}


table.demo-colorspectrum-table tr:last-child th,
table.demo-colorspectrum-table tr:last-child td {
    border-bottom: 0px;
}

table.demo-colorspectrum-table tbody tr,
table.demo-colorspectrum-table tbody th,
table.demo-colorspectrum-table thead th {
    border: 0px solid;
    font-size: 14.44px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 42px;
}
            

