---

layout: default
title: Color Generator

---

{% assign ols_data = site.data.schemes.primary %}
{% include rows.html include=ols_data %}

{% assign ols_data = site.data.schemes.complementary %}
{% include rows.html include=ols_data %}

{% assign ols_data = site.data.schemes.analogous %}
{% include rows.html include=ols_data %}

{% assign ols_data = site.data.schemes.split %}
{% include rows.html include=ols_data %}

{% assign ols_data = site.data.schemes.square %}
{% include rows.html include=ols_data %}

{% assign ols_data = site.data.schemes.triadic %}
{% include rows.html include=ols_data %}

{% assign ols_data = site.data.schemes.tetradic %}
{% include rows.html include=ols_data %}

{% assign ols_data = site.data.schemes.achromatic %}
{% include rows.html include=ols_data %}

{% comment %}
{% include content/color-schemes.html %}
{% include content/color-features.html %}
{% include content/color-theory.html %}
{% include content/color-cli.html %}
{% include content/color-api.html %}
{% include content/color-license.html %}
{% include content/color-resources.html %}
{% endcomment %}