:root {
  --color-white: white;
  --color-black: #000000;
  --color-grey-50: #fafafa;
  --color-grey-100: whitesmoke;
  --color-grey-200: #eeeeee;
  --color-grey-300: #d5d5d5;
  --color-grey-400: #afafaf;
  --color-grey-500: #727272;
  --color-grey-600: #585858;
  --color-grey-700: #474747;
  --color-grey-800: #262626;
  --color-grey-900: #1e1e1e;
  --color-slate-50: #f7f9fa;
  --color-slate-100: #f4f5f5;
  --color-slate-200: #e9edef;
  --color-slate-300: #d1d6d7;
  --color-slate-400: #a8afb1;
  --color-slate-500: #72787a;
  --color-slate-600: #555c5e;
  --color-slate-700: #454a4c;
  --color-slate-800: #252728;
  --color-slate-900: #1d1f20;
  --color-primary-50: #fff1ee;
  --color-primary-100: #ffd5cc;
  --color-primary-200: #ffb9aa;
  --color-primary-300: #ffab99;
  --color-primary-400: #ff8f77;
  --color-primary-500: #ff5733;
  --color-primary-600: #c7492e;
  --color-primary-700: #9e3c27;
  --color-primary-800: #481e15;
  --color-primary-900: #150704;
  --color-complementary-50: #f2fcf3;
  --color-complementary-100: #d8f5dc;
  --color-complementary-200: #beefc4;
  --color-complementary-300: #b1ecb8;
  --color-complementary-400: #96e5a0;
  --color-complementary-500: #62d871;
  --color-complementary-600: #52aa5d;
  --color-complementary-700: #42874b;
  --color-complementary-800: #213e25;
  --color-complementary-900: #081209;
  --color-analogous-1-50: #fff4ee;
  --color-analogous-1-100: #ffddcc;
  --color-analogous-1-200: #ffc6aa;
  --color-analogous-1-300: #ffbb99;
  --color-analogous-1-400: #ffa477;
  --color-analogous-1-500: #ff7733;
  --color-analogous-1-600: #c7612e;
  --color-analogous-1-700: #9e4e27;
  --color-analogous-1-800: #482615;
  --color-analogous-1-900: #150a04;
  --color-analogous-2-50: #fff8ee;
  --color-analogous-2-100: #ffe9cc;
  --color-analogous-2-200: #ffdaaa;
  --color-analogous-2-300: #ffd399;
  --color-analogous-2-400: #ffc477;
  --color-analogous-2-500: #ffa633;
  --color-analogous-2-600: #c7852e;
  --color-analogous-2-700: #9e6a27;
  --color-analogous-2-800: #483215;
  --color-analogous-2-900: #150e04;
  --color-analogous-3-50: #fffbee;
  --color-analogous-3-100: #fff4cc;
  --color-analogous-3-200: #ffedaa;
  --color-analogous-3-300: #ffe999;
  --color-analogous-3-400: #ffe277;
  --color-analogous-3-500: #ffd333;
  --color-analogous-3-600: #c7a62e;
  --color-analogous-3-700: #9e8427;
  --color-analogous-3-800: #483d15;
  --color-analogous-3-900: #151204;
  --color-split-1-50: #f9fdee;
  --color-split-1-100: #eefacc;
  --color-split-1-200: #e2f6aa;
  --color-split-1-300: #ddf499;
  --color-split-1-400: #d1f077;
  --color-split-1-500: #bae933;
  --color-split-1-600: #94b72e;
  --color-split-1-700: #759127;
  --color-split-1-800: #374315;
  --color-split-1-900: #101304;
  --color-split-2-50: #f2f8fb;
  --color-split-2-100: #d8ebf3;
  --color-split-2-200: #bedeeb;
  --color-split-2-300: #b1d8e8;
  --color-split-2-400: #96cae0;
  --color-split-2-500: #62b0d0;
  --color-split-2-600: #528ca4;
  --color-split-2-700: #426f82;
  --color-split-2-800: #21343c;
  --color-split-2-900: #080f11;
  --color-square-1-50: #fffbee;
  --color-square-1-100: #fff4cc;
  --color-square-1-200: #ffedaa;
  --color-square-1-300: #ffe999;
  --color-square-1-400: #ffe277;
  --color-square-1-500: #ffd333;
  --color-square-1-600: #c7a62e;
  --color-square-1-700: #9e8427;
  --color-square-1-800: #483d15;
  --color-square-1-900: #151204;
  --color-square-2-50: #f2fcf3;
  --color-square-2-100: #d8f5dc;
  --color-square-2-200: #beefc4;
  --color-square-2-300: #b1ecb8;
  --color-square-2-400: #96e5a0;
  --color-square-2-500: #62d871;
  --color-square-2-600: #52aa5d;
  --color-square-2-700: #42874b;
  --color-square-2-800: #213e25;
  --color-square-2-900: #081209;
  --color-square-3-50: #fbeffb;
  --color-square-3-100: #f4cef3;
  --color-square-3-200: #edadeb;
  --color-square-3-300: #ea9de8;
  --color-square-3-400: #e27ce0;
  --color-square-3-500: #d43bd0;
  --color-square-3-600: #a734a4;
  --color-square-3-700: #842b82;
  --color-square-3-800: #3d173c;
  --color-square-3-900: #120511;
  --color-triadic-1-50: #fdfdee;
  --color-triadic-1-100: #fafacc;
  --color-triadic-1-200: #f7f6aa;
  --color-triadic-1-300: #f5f499;
  --color-triadic-1-400: #f2f077;
  --color-triadic-1-500: #ebe933;
  --color-triadic-1-600: #b8b72e;
  --color-triadic-1-700: #929127;
  --color-triadic-1-800: #434315;
  --color-triadic-1-900: #141304;
  --color-triadic-2-50: #f2f0fb;
  --color-triadic-2-100: #d8d2f3;
  --color-triadic-2-200: #beb4eb;
  --color-triadic-2-300: #b1a5e8;
  --color-triadic-2-400: #9687e0;
  --color-triadic-2-500: #624bd0;
  --color-triadic-2-600: #5240a4;
  --color-triadic-2-700: #423582;
  --color-triadic-2-800: #211b3c;
  --color-triadic-2-900: #080611;
  --color-tetradic-1-50: #fff8ee;
  --color-tetradic-1-100: #ffe9cc;
  --color-tetradic-1-200: #ffdaaa;
  --color-tetradic-1-300: #ffd399;
  --color-tetradic-1-400: #ffc477;
  --color-tetradic-1-500: #ffa633;
  --color-tetradic-1-600: #c7852e;
  --color-tetradic-1-700: #9e6a27;
  --color-tetradic-1-800: #483215;
  --color-tetradic-1-900: #150e04;
  --color-tetradic-2-50: #f2fcf3;
  --color-tetradic-2-100: #d8f5dc;
  --color-tetradic-2-200: #beefc4;
  --color-tetradic-2-300: #b1ecb8;
  --color-tetradic-2-400: #96e5a0;
  --color-tetradic-2-500: #62d871;
  --color-tetradic-2-600: #52aa5d;
  --color-tetradic-2-700: #42874b;
  --color-tetradic-2-800: #213e25;
  --color-tetradic-2-900: #081209;
  --color-tetradic-3-50: #f2f0fb;
  --color-tetradic-3-100: #d8d2f3;
  --color-tetradic-3-200: #beb4eb;
  --color-tetradic-3-300: #b1a5e8;
  --color-tetradic-3-400: #9687e0;
  --color-tetradic-3-500: #624bd0;
  --color-tetradic-3-600: #5240a4;
  --color-tetradic-3-700: #423582;
  --color-tetradic-3-800: #211b3c;
  --color-tetradic-3-900: #080611;
  --color-success-50: #eefff5;
  --color-success-100: #ccffe0;
  --color-success-200: #aaffcb;
  --color-success-300: #99ffc1;
  --color-success-400: #77ffac;
  --color-success-500: #33ff83;
  --color-success-600: #2ec76a;
  --color-success-700: #279e55;
  --color-success-800: #154829;
  --color-success-900: #04150b;
  --color-danger-50: #fff0ee;
  --color-danger-100: #ffd3cc;
  --color-danger-200: #ffb5aa;
  --color-danger-300: #ffa699;
  --color-danger-400: #ff8877;
  --color-danger-500: #ff4d33;
  --color-danger-600: #c7422e;
  --color-danger-700: #9e3627;
  --color-danger-800: #481c15;
  --color-danger-900: #150604;
  --color-warning-50: #fff9ee;
  --color-warning-100: #ffeccc;
  --color-warning-200: #ffdfaa;
  --color-warning-300: #ffd999;
  --color-warning-400: #ffcc77;
  --color-warning-500: #ffb233;
  --color-warning-600: #c78e2e;
  --color-warning-700: #9e7127;
  --color-warning-800: #483515;
  --color-warning-900: #150f04;
  --color-info-50: #eef0ff;
  --color-info-100: #ccd1ff;
  --color-info-200: #aab2ff;
  --color-info-300: #99a3ff;
  --color-info-400: #7784ff;
  --color-info-500: #3347ff;
  --color-info-600: #2e3dc7;
  --color-info-700: #27329e;
  --color-info-800: #151a48;
  --color-info-900: #040615;
  --color-primary-50-neutral: #fbf4f2;
  --color-primary-100-neutral: #f3ddd8;
  --color-primary-200-neutral: #ebc6be;
  --color-primary-300-neutral: #e8bab0;
  --color-primary-400-neutral: #e0a396;
  --color-primary-500-neutral: #d07562;
  --color-primary-600-neutral: #a46051;
  --color-primary-700-neutral: #834e42;
  --color-primary-800-neutral: #3c2621;
  --color-primary-900-neutral: #110a08;
  --color-complementary-50-neutral: #f4faf5;
  --color-complementary-100-neutral: #dfeee1;
  --color-complementary-200-neutral: #c9e4cd;
  --color-complementary-300-neutral: #bfdec2;
  --color-complementary-400-neutral: #a8d3ae;
  --color-complementary-500-neutral: #7dbd85;
  --color-complementary-600-neutral: #66966c;
  --color-complementary-700-neutral: #527757;
  --color-complementary-800-neutral: #28372a;
  --color-complementary-900-neutral: #0a100b;
  --color-analogous-1-50-neutral: #fbf5f2;
  --color-analogous-1-100-neutral: #f3e1d8;
  --color-analogous-1-200-neutral: #ebcdbe;
  --color-analogous-1-300-neutral: #e8c3b0;
  --color-analogous-1-400-neutral: #e0af96;
  --color-analogous-1-500-neutral: #d08762;
  --color-analogous-1-600-neutral: #a46d51;
  --color-analogous-1-700-neutral: #835742;
  --color-analogous-1-800-neutral: #3c2a21;
  --color-analogous-1-900-neutral: #110b08;
  --color-analogous-2-50-neutral: #fdf8f0;
  --color-analogous-2-100-neutral: #f8e8d3;
  --color-analogous-2-200-neutral: #f4d9b5;
  --color-analogous-2-300-neutral: #f2d1a6;
  --color-analogous-2-400-neutral: #edc289;
  --color-analogous-2-500-neutral: #e4a34e;
  --color-analogous-2-600-neutral: #b38242;
  --color-analogous-2-700-neutral: #8f6836;
  --color-analogous-2-800-neutral: #41311c;
  --color-analogous-2-900-neutral: #130e06;
  --color-analogous-3-50-neutral: #fdfaf0;
  --color-analogous-3-100-neutral: #f8f0d3;
  --color-analogous-3-200-neutral: #f4e7b5;
  --color-analogous-3-300-neutral: #f2e1a6;
  --color-analogous-3-400-neutral: #edd889;
  --color-analogous-3-500-neutral: #e4c44e;
  --color-analogous-3-600-neutral: #b39b42;
  --color-analogous-3-700-neutral: #8f7b36;
  --color-analogous-3-800-neutral: #41391c;
  --color-analogous-3-900-neutral: #131106;
  --color-split-1-50-neutral: #f8fbf0;
  --color-split-1-100-neutral: #ebf4d2;
  --color-split-1-200-neutral: #ddecb4;
  --color-split-1-300-neutral: #d7e8a5;
  --color-split-1-400-neutral: #c9e087;
  --color-split-1-500-neutral: #afd14b;
  --color-split-1-600-neutral: #8ba540;
  --color-split-1-700-neutral: #6f8335;
  --color-split-1-800-neutral: #343d1b;
  --color-split-1-900-neutral: #0f1106;
  --color-split-2-50-neutral: #f4f7f9;
  --color-split-2-100-neutral: #dee8ed;
  --color-split-2-200-neutral: #c8dae1;
  --color-split-2-300-neutral: #bed3db;
  --color-split-2-400-neutral: #a7c3cf;
  --color-split-2-500-neutral: #7ba5b7;
  --color-split-2-600-neutral: #658491;
  --color-split-2-700-neutral: #516973;
  --color-split-2-800-neutral: #273136;
  --color-split-2-900-neutral: #0a0e0f;
  --color-square-1-50-neutral: #fdfaf0;
  --color-square-1-100-neutral: #f8f0d3;
  --color-square-1-200-neutral: #f4e7b5;
  --color-square-1-300-neutral: #f2e1a6;
  --color-square-1-400-neutral: #edd889;
  --color-square-1-500-neutral: #e4c44e;
  --color-square-1-600-neutral: #b39b42;
  --color-square-1-700-neutral: #8f7b36;
  --color-square-1-800-neutral: #41391c;
  --color-square-1-900-neutral: #131106;
  --color-square-2-50-neutral: #f4faf5;
  --color-square-2-100-neutral: #dfeee1;
  --color-square-2-200-neutral: #c9e4cd;
  --color-square-2-300-neutral: #bfdec2;
  --color-square-2-400-neutral: #a8d3ae;
  --color-square-2-500-neutral: #7dbd85;
  --color-square-2-600-neutral: #66966c;
  --color-square-2-700-neutral: #527757;
  --color-square-2-800-neutral: #28372a;
  --color-square-2-900-neutral: #0a100b;
  --color-square-3-50-neutral: #f8f2f8;
  --color-square-3-100-neutral: #ead8ea;
  --color-square-3-200-neutral: #dcbedb;
  --color-square-3-300-neutral: #d6b1d5;
  --color-square-3-400-neutral: #c797c7;
  --color-square-3-500-neutral: #ac63aa;
  --color-square-3-600-neutral: #895288;
  --color-square-3-700-neutral: #6d426c;
  --color-square-3-800-neutral: #332133;
  --color-square-3-900-neutral: #0f080e;
  --color-triadic-1-50-neutral: #fbfbf0;
  --color-triadic-1-100-neutral: #f4f4d2;
  --color-triadic-1-200-neutral: #edecb4;
  --color-triadic-1-300-neutral: #e9e8a5;
  --color-triadic-1-400-neutral: #e2e187;
  --color-triadic-1-500-neutral: #d3d24b;
  --color-triadic-1-600-neutral: #a6a540;
  --color-triadic-1-700-neutral: #848335;
  --color-triadic-1-800-neutral: #3d3d1b;
  --color-triadic-1-900-neutral: #121106;
  --color-triadic-2-50-neutral: #f4f3f8;
  --color-triadic-2-100-neutral: #dfdce9;
  --color-triadic-2-200-neutral: #c9c5da;
  --color-triadic-2-300-neutral: #bebad3;
  --color-triadic-2-400-neutral: #a8a3c4;
  --color-triadic-2-500-neutral: #7d74a7;
  --color-triadic-2-600-neutral: #665f85;
  --color-triadic-2-700-neutral: #524d6a;
  --color-triadic-2-800-neutral: #282532;
  --color-triadic-2-900-neutral: #0a090e;
  --color-tetradic-1-50-neutral: #fdf8f0;
  --color-tetradic-1-100-neutral: #f8e8d3;
  --color-tetradic-1-200-neutral: #f4d9b5;
  --color-tetradic-1-300-neutral: #f2d1a6;
  --color-tetradic-1-400-neutral: #edc289;
  --color-tetradic-1-500-neutral: #e4a34e;
  --color-tetradic-1-600-neutral: #b38242;
  --color-tetradic-1-700-neutral: #8f6836;
  --color-tetradic-1-800-neutral: #41311c;
  --color-tetradic-1-900-neutral: #130e06;
  --color-tetradic-2-50-neutral: #f4faf5;
  --color-tetradic-2-100-neutral: #dfeee1;
  --color-tetradic-2-200-neutral: #c9e4cd;
  --color-tetradic-2-300-neutral: #bfdec2;
  --color-tetradic-2-400-neutral: #a8d3ae;
  --color-tetradic-2-500-neutral: #7dbd85;
  --color-tetradic-2-600-neutral: #66966c;
  --color-tetradic-2-700-neutral: #527757;
  --color-tetradic-2-800-neutral: #28372a;
  --color-tetradic-2-900-neutral: #0a100b;
  --color-tetradic-3-50-neutral: #f4f3f8;
  --color-tetradic-3-100-neutral: #dfdce9;
  --color-tetradic-3-200-neutral: #c9c5da;
  --color-tetradic-3-300-neutral: #bebad3;
  --color-tetradic-3-400-neutral: #a8a3c4;
  --color-tetradic-3-500-neutral: #7d74a7;
  --color-tetradic-3-600-neutral: #665f85;
  --color-tetradic-3-700-neutral: #524d6a;
  --color-tetradic-3-800-neutral: #282532;
  --color-tetradic-3-900-neutral: #0a090e;
  --color-success-50-neutral: #f2fbf6;
  --color-success-100-neutral: #d8f3e3;
  --color-success-200-neutral: #beebcf;
  --color-success-300-neutral: #b0e8c6;
  --color-success-400-neutral: #96e0b3;
  --color-success-500-neutral: #62d08d;
  --color-success-600-neutral: #51a472;
  --color-success-700-neutral: #42835b;
  --color-success-800-neutral: #213c2c;
  --color-success-900-neutral: #08110c;
  --color-danger-50-neutral: #fbf3f2;
  --color-danger-100-neutral: #f3dcd8;
  --color-danger-200-neutral: #ebc3be;
  --color-danger-300-neutral: #e8b7b0;
  --color-danger-400-neutral: #e09f96;
  --color-danger-500-neutral: #d07062;
  --color-danger-600-neutral: #a45c51;
  --color-danger-700-neutral: #834a42;
  --color-danger-800-neutral: #3c2521;
  --color-danger-900-neutral: #110908;
  --color-warning-50-neutral: #fdf8f0;
  --color-warning-100-neutral: #f8ead3;
  --color-warning-200-neutral: #f4dcb5;
  --color-warning-300-neutral: #f2d6a6;
  --color-warning-400-neutral: #edc889;
  --color-warning-500-neutral: #e4ac4e;
  --color-warning-600-neutral: #b38942;
  --color-warning-700-neutral: #8f6d36;
  --color-warning-800-neutral: #41331c;
  --color-warning-900-neutral: #130e06;
  --color-info-50-neutral: #f3f4fa;
  --color-info-100-neutral: #dcdeef;
  --color-info-200-neutral: #c4c7e5;
  --color-info-300-neutral: #b9bcdf;
  --color-info-400-neutral: #a1a6d5;
  --color-info-500-neutral: #727ac0;
  --color-info-600-neutral: #5d6398;
  --color-info-700-neutral: #4c5079;
  --color-info-800-neutral: #252738;
  --color-info-900-neutral: #090a10;
  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;
  --color-grey-50-rgb: 250, 250, 250;
  --color-grey-100-rgb: 245, 245, 245;
  --color-grey-200-rgb: 238, 238, 238;
  --color-grey-300-rgb: 213, 213, 213;
  --color-grey-400-rgb: 175, 175, 175;
  --color-grey-500-rgb: 114, 114, 114;
  --color-grey-600-rgb: 88, 88, 88;
  --color-grey-700-rgb: 71, 71, 71;
  --color-grey-800-rgb: 38, 38, 38;
  --color-grey-900-rgb: 30, 30, 30;
  --color-slate-50-rgb: 247, 249, 250;
  --color-slate-100-rgb: 244, 245, 245;
  --color-slate-200-rgb: 233, 237, 239;
  --color-slate-300-rgb: 209, 214, 215;
  --color-slate-400-rgb: 168, 175, 177;
  --color-slate-500-rgb: 114, 120, 122;
  --color-slate-600-rgb: 85, 92, 94;
  --color-slate-700-rgb: 69, 74, 76;
  --color-slate-800-rgb: 37, 39, 40;
  --color-slate-900-rgb: 29, 31, 32;
  --color-primary-50-rgb: 255, 241, 238;
  --color-primary-100-rgb: 255, 213, 204;
  --color-primary-200-rgb: 255, 185, 170;
  --color-primary-300-rgb: 255, 171, 153;
  --color-primary-400-rgb: 255, 143, 119;
  --color-primary-500-rgb: 255, 87, 51;
  --color-primary-600-rgb: 199, 73, 46;
  --color-primary-700-rgb: 158, 60, 39;
  --color-primary-800-rgb: 72, 30, 21;
  --color-primary-900-rgb: 21, 7, 4;
  --color-complementary-50-rgb: 242, 252, 243;
  --color-complementary-100-rgb: 216, 245, 220;
  --color-complementary-200-rgb: 190, 239, 196;
  --color-complementary-300-rgb: 177, 236, 184;
  --color-complementary-400-rgb: 150, 229, 160;
  --color-complementary-500-rgb: 98, 216, 113;
  --color-complementary-600-rgb: 82, 170, 93;
  --color-complementary-700-rgb: 66, 135, 75;
  --color-complementary-800-rgb: 33, 62, 37;
  --color-complementary-900-rgb: 8, 18, 9;
  --color-analogous-1-50-rgb: 255, 244, 238;
  --color-analogous-1-100-rgb: 255, 221, 204;
  --color-analogous-1-200-rgb: 255, 198, 170;
  --color-analogous-1-300-rgb: 255, 187, 153;
  --color-analogous-1-400-rgb: 255, 164, 119;
  --color-analogous-1-500-rgb: 255, 119, 51;
  --color-analogous-1-600-rgb: 199, 97, 46;
  --color-analogous-1-700-rgb: 158, 78, 39;
  --color-analogous-1-800-rgb: 72, 38, 21;
  --color-analogous-1-900-rgb: 21, 10, 4;
  --color-analogous-2-50-rgb: 255, 248, 238;
  --color-analogous-2-100-rgb: 255, 233, 204;
  --color-analogous-2-200-rgb: 255, 218, 170;
  --color-analogous-2-300-rgb: 255, 211, 153;
  --color-analogous-2-400-rgb: 255, 196, 119;
  --color-analogous-2-500-rgb: 255, 166, 51;
  --color-analogous-2-600-rgb: 199, 133, 46;
  --color-analogous-2-700-rgb: 158, 106, 39;
  --color-analogous-2-800-rgb: 72, 50, 21;
  --color-analogous-2-900-rgb: 21, 14, 4;
  --color-analogous-3-50-rgb: 255, 251, 238;
  --color-analogous-3-100-rgb: 255, 244, 204;
  --color-analogous-3-200-rgb: 255, 237, 170;
  --color-analogous-3-300-rgb: 255, 233, 153;
  --color-analogous-3-400-rgb: 255, 226, 119;
  --color-analogous-3-500-rgb: 255, 211, 51;
  --color-analogous-3-600-rgb: 199, 166, 46;
  --color-analogous-3-700-rgb: 158, 132, 39;
  --color-analogous-3-800-rgb: 72, 61, 21;
  --color-analogous-3-900-rgb: 21, 18, 4;
  --color-split-1-50-rgb: 249, 253, 238;
  --color-split-1-100-rgb: 238, 250, 204;
  --color-split-1-200-rgb: 226, 246, 170;
  --color-split-1-300-rgb: 221, 244, 153;
  --color-split-1-400-rgb: 209, 240, 119;
  --color-split-1-500-rgb: 186, 233, 51;
  --color-split-1-600-rgb: 148, 183, 46;
  --color-split-1-700-rgb: 117, 145, 39;
  --color-split-1-800-rgb: 55, 67, 21;
  --color-split-1-900-rgb: 16, 19, 4;
  --color-split-2-50-rgb: 242, 248, 251;
  --color-split-2-100-rgb: 216, 235, 243;
  --color-split-2-200-rgb: 190, 222, 235;
  --color-split-2-300-rgb: 177, 216, 232;
  --color-split-2-400-rgb: 150, 202, 224;
  --color-split-2-500-rgb: 98, 176, 208;
  --color-split-2-600-rgb: 82, 140, 164;
  --color-split-2-700-rgb: 66, 111, 130;
  --color-split-2-800-rgb: 33, 52, 60;
  --color-split-2-900-rgb: 8, 15, 17;
  --color-square-1-50-rgb: 255, 251, 238;
  --color-square-1-100-rgb: 255, 244, 204;
  --color-square-1-200-rgb: 255, 237, 170;
  --color-square-1-300-rgb: 255, 233, 153;
  --color-square-1-400-rgb: 255, 226, 119;
  --color-square-1-500-rgb: 255, 211, 51;
  --color-square-1-600-rgb: 199, 166, 46;
  --color-square-1-700-rgb: 158, 132, 39;
  --color-square-1-800-rgb: 72, 61, 21;
  --color-square-1-900-rgb: 21, 18, 4;
  --color-square-2-50-rgb: 242, 252, 243;
  --color-square-2-100-rgb: 216, 245, 220;
  --color-square-2-200-rgb: 190, 239, 196;
  --color-square-2-300-rgb: 177, 236, 184;
  --color-square-2-400-rgb: 150, 229, 160;
  --color-square-2-500-rgb: 98, 216, 113;
  --color-square-2-600-rgb: 82, 170, 93;
  --color-square-2-700-rgb: 66, 135, 75;
  --color-square-2-800-rgb: 33, 62, 37;
  --color-square-2-900-rgb: 8, 18, 9;
  --color-square-3-50-rgb: 251, 239, 251;
  --color-square-3-100-rgb: 244, 206, 243;
  --color-square-3-200-rgb: 237, 173, 235;
  --color-square-3-300-rgb: 234, 157, 232;
  --color-square-3-400-rgb: 226, 124, 224;
  --color-square-3-500-rgb: 212, 59, 208;
  --color-square-3-600-rgb: 167, 52, 164;
  --color-square-3-700-rgb: 132, 43, 130;
  --color-square-3-800-rgb: 61, 23, 60;
  --color-square-3-900-rgb: 18, 5, 17;
  --color-triadic-1-50-rgb: 253, 253, 238;
  --color-triadic-1-100-rgb: 250, 250, 204;
  --color-triadic-1-200-rgb: 247, 246, 170;
  --color-triadic-1-300-rgb: 245, 244, 153;
  --color-triadic-1-400-rgb: 242, 240, 119;
  --color-triadic-1-500-rgb: 235, 233, 51;
  --color-triadic-1-600-rgb: 184, 183, 46;
  --color-triadic-1-700-rgb: 146, 145, 39;
  --color-triadic-1-800-rgb: 67, 67, 21;
  --color-triadic-1-900-rgb: 20, 19, 4;
  --color-triadic-2-50-rgb: 242, 240, 251;
  --color-triadic-2-100-rgb: 216, 210, 243;
  --color-triadic-2-200-rgb: 190, 180, 235;
  --color-triadic-2-300-rgb: 177, 165, 232;
  --color-triadic-2-400-rgb: 150, 135, 224;
  --color-triadic-2-500-rgb: 98, 75, 208;
  --color-triadic-2-600-rgb: 82, 64, 164;
  --color-triadic-2-700-rgb: 66, 53, 130;
  --color-triadic-2-800-rgb: 33, 27, 60;
  --color-triadic-2-900-rgb: 8, 6, 17;
  --color-tetradic-1-50-rgb: 255, 248, 238;
  --color-tetradic-1-100-rgb: 255, 233, 204;
  --color-tetradic-1-200-rgb: 255, 218, 170;
  --color-tetradic-1-300-rgb: 255, 211, 153;
  --color-tetradic-1-400-rgb: 255, 196, 119;
  --color-tetradic-1-500-rgb: 255, 166, 51;
  --color-tetradic-1-600-rgb: 199, 133, 46;
  --color-tetradic-1-700-rgb: 158, 106, 39;
  --color-tetradic-1-800-rgb: 72, 50, 21;
  --color-tetradic-1-900-rgb: 21, 14, 4;
  --color-tetradic-2-50-rgb: 242, 252, 243;
  --color-tetradic-2-100-rgb: 216, 245, 220;
  --color-tetradic-2-200-rgb: 190, 239, 196;
  --color-tetradic-2-300-rgb: 177, 236, 184;
  --color-tetradic-2-400-rgb: 150, 229, 160;
  --color-tetradic-2-500-rgb: 98, 216, 113;
  --color-tetradic-2-600-rgb: 82, 170, 93;
  --color-tetradic-2-700-rgb: 66, 135, 75;
  --color-tetradic-2-800-rgb: 33, 62, 37;
  --color-tetradic-2-900-rgb: 8, 18, 9;
  --color-tetradic-3-50-rgb: 242, 240, 251;
  --color-tetradic-3-100-rgb: 216, 210, 243;
  --color-tetradic-3-200-rgb: 190, 180, 235;
  --color-tetradic-3-300-rgb: 177, 165, 232;
  --color-tetradic-3-400-rgb: 150, 135, 224;
  --color-tetradic-3-500-rgb: 98, 75, 208;
  --color-tetradic-3-600-rgb: 82, 64, 164;
  --color-tetradic-3-700-rgb: 66, 53, 130;
  --color-tetradic-3-800-rgb: 33, 27, 60;
  --color-tetradic-3-900-rgb: 8, 6, 17;
  --color-success-50-rgb: 238, 255, 245;
  --color-success-100-rgb: 204, 255, 224;
  --color-success-200-rgb: 170, 255, 203;
  --color-success-300-rgb: 153, 255, 193;
  --color-success-400-rgb: 119, 255, 172;
  --color-success-500-rgb: 51, 255, 131;
  --color-success-600-rgb: 46, 199, 106;
  --color-success-700-rgb: 39, 158, 85;
  --color-success-800-rgb: 21, 72, 41;
  --color-success-900-rgb: 4, 21, 11;
  --color-danger-50-rgb: 255, 240, 238;
  --color-danger-100-rgb: 255, 211, 204;
  --color-danger-200-rgb: 255, 181, 170;
  --color-danger-300-rgb: 255, 166, 153;
  --color-danger-400-rgb: 255, 136, 119;
  --color-danger-500-rgb: 255, 77, 51;
  --color-danger-600-rgb: 199, 66, 46;
  --color-danger-700-rgb: 158, 54, 39;
  --color-danger-800-rgb: 72, 28, 21;
  --color-danger-900-rgb: 21, 6, 4;
  --color-warning-50-rgb: 255, 249, 238;
  --color-warning-100-rgb: 255, 236, 204;
  --color-warning-200-rgb: 255, 223, 170;
  --color-warning-300-rgb: 255, 217, 153;
  --color-warning-400-rgb: 255, 204, 119;
  --color-warning-500-rgb: 255, 178, 51;
  --color-warning-600-rgb: 199, 142, 46;
  --color-warning-700-rgb: 158, 113, 39;
  --color-warning-800-rgb: 72, 53, 21;
  --color-warning-900-rgb: 21, 15, 4;
  --color-info-50-rgb: 238, 240, 255;
  --color-info-100-rgb: 204, 209, 255;
  --color-info-200-rgb: 170, 178, 255;
  --color-info-300-rgb: 153, 163, 255;
  --color-info-400-rgb: 119, 132, 255;
  --color-info-500-rgb: 51, 71, 255;
  --color-info-600-rgb: 46, 61, 199;
  --color-info-700-rgb: 39, 50, 158;
  --color-info-800-rgb: 21, 26, 72;
  --color-info-900-rgb: 4, 6, 21;
}
