// ==========================================================================
// @rgbyk/color-ryb.scss
// ==========================================================================

@forward "core" with ( 
    $brand-color: #8e43e7,
    $color-model: ryb,

    $color-mode-harmony: false,
    $color-scheme-achromatic: false,
    $color-mode-harmony-grayscale: false,
    $enable-utility-classes: false,
    $color-scheme-neutral: false,
    $color-scheme-alpha: false,
    $color-scheme-pastel: false
);

@use "functions";
@use "schemes";
@use "utilities";