// ==========================================================================
// @rgbyk/color-rgb.scss
// ==========================================================================

@forward "core" with (
    $brand-color: #2d5be3,

    $color-model: rgb,
    $color-mode-harmony: true,

    $color-mode-harmony-grayscale: true,
    $color-mode-harmony-grayscale-cool-mix: 5%,
    $color-mode-harmony-grayscale-warm-mix: 1%,

    $enable-utility-docs: true,

    $enable-utility-classes: false,
    $enable-utility-bg: true,
    $enable-utility-color: true,
    $enable-utility-border: true,
    $enable-utility-fill: true,
    $enable-utility-stroke: true,

    $color-scheme-primary: true,
    $color-scheme-achromatic: true,
    $color-scheme-slate: true,
    $color-scheme-stone: true,

    $color-scheme-analogous: true,
    $color-scheme-complementary: true,
    $color-scheme-hues: true,
    $color-scheme-split: true,
    $color-scheme-square: true,
    $color-scheme-tetradic: true,
    $color-scheme-triadic: true,

    $color-scheme-danger: true,
    $color-scheme-warning: true,
    $color-scheme-success: true,
    $color-scheme-info: true,

    $color-scheme-alpha: true,
    $color-scheme-equal: true,
    $color-scheme-neutral: true,
    $color-scheme-pastel: true,

    $enable-root-colors: true,
);

@use "functions";
@use "schemes";
@use "utilities";