// ==========================================================================
// @rgbyk/config.scss
//
// General configurations applicable to all color models
//
// ==========================================================================

$brand-color: #0ae448;

@forward "core" with ( 
    $brand-color: $brand-color !default,
    
    $color-mode-harmony: true !default,
    
    $color-mode-harmony-grayscale: true !default,
    $color-mode-harmony-grayscale-cool-mix: 3% !default,
    $color-mode-harmony-grayscale-warm-mix: 1% !default,

    $enable-utility-docs: false !default,

    $color-model-rgb: true !default, // -> generates the `-rgb` scheme
    $color-model-ryb: true !default, // -> generates the `-ryb` scheme

    $color-scheme-primary: true !default, // -> primary scheme

    $color-scheme-achromatic: true !default, // -> achromatic scheme
    $color-scheme-slate: true !default, // -> achromatic (slate) scheme
    $color-scheme-stone: true !default, // -> achromatic (stone) scheme

    $color-scheme-complementary: true !default, // -> complementary scheme
    $color-scheme-analogous: true !default, // -> analogous scheme
    $color-scheme-split: true !default, // -> split scheme
    $color-scheme-square: true !default, // -> split scheme
    $color-scheme-tetradic: true !default, // -> tetradic scheme
    $color-scheme-triadic: true !default, // -> triadic scheme

    $color-scheme-hues: true !default, // -> hue scheme

    $color-scheme-danger: false !default, // -> danger scheme
    $color-scheme-warning: false !default, // -> warning scheme
    $color-scheme-success: false !default, // -> success scheme
    $color-scheme-info: false !default, // -> info scheme

    $color-scheme-alpha: true !default, // -> generates alpha colors
    $color-scheme-neutral: true !default, // -> neutral schemes

    // $color-scheme-equal: false !default, // -> generates 1x equal color
    // $color-scheme-pastel: false !default, // -> pastel scheme

    $enable-utility-classes: false !default,
    $enable-utility-bg: false !default,
    $enable-utility-color: false !default,
    $enable-utility-border: false !default,
    $enable-utility-fill: false !default,
    $enable-utility-stroke: false !default,
);