// ==========================================================================
// # Achromatic
// ==========================================================================

@use "sass:color";

@use "../core";
@use "../functions";

// ==========================================================================
// # Variables
// ==========================================================================

$-value-5: core.$value-5;

@if core.$color-mode-harmony-grayscale {
  $-value-5: functions.make-color-harmony-grayscale(core.$brand-color, core.$value-5);
} @else {}

$grey-100: functions.make-color-mono($-value-5, 100) !default;
$grey-200: functions.make-color-mono($-value-5, 200) !default;
$grey-300: functions.make-color-mono($-value-5, 300) !default;
$grey-400: $-value-5 !default;
$grey-500: functions.make-color-mono($-value-5, 500) !default;
$grey-600: functions.make-color-mono($-value-5, 600) !default;
$grey-700: functions.make-color-mono($-value-5, 700) !default;
$grey-800: functions.make-color-mono($-value-5, 800) !default;
$grey-900: functions.make-color-mono($-value-5, 900) !default;

// =============================================================================
// # Map
// =============================================================================

$map-achromatic: (
  "white": core.$value-10,
  "black": core.$value-0,
  "grey-100": $grey-100,
  "grey-200": $grey-200,
  "grey-300": $grey-300,
  "grey-400": $grey-400,
  "grey-500": $grey-500,
  "grey-600": $grey-600,
  "grey-700": $grey-700,
  "grey-800": $grey-800,
  "grey-900": $grey-900
) !default;