// ==========================================================================
// # Analogous
// ==========================================================================
//
// Analogous color scheme is a four-color combination consisting 
// of a base color and three colors that are 30 degrees, 60 degrees, 
// and 90 degrees apart from the base color.
// 
// While this scheme typical uses colors that are 30 degrees apart,
// Neutral harmonies use colors that are 15 degrees apart.
//
// | Model | Color     | Chromatic | Harmonized |         | 
// | :---: | :-------: | :-------: | :-------:  | :---:   |
// | RGB   | #8e43e7   | #e043e7   | #d343e7    | 30°     |
// |       |           | #e7439c   | #d943a8    | 60°     |
// |       |           | #e7434a   | #d94363    | 90°     |
// 
// | Model | Color     | Chromatic | Harmonized |         | 
// | :---: | :-------: | :-------: | :-------:  | :---:   |
// | RYB   | #8e43e7   | #e743e2   | #d943e3    | 30°     |
// |       |           | #e74371   | #d94384    | 60°     |
// |       |           | #e77443   | #d96c5d    | 90°     |
// 
// @debug color.adjust(#8e43e7, $hue: 30);
// @debug color.adjust(#8e43e7, $hue: 60);
// @debug color.adjust(#8e43e7, $hue: 90);
// @debug adjust-hue-ryb(#8e43e7, 30);
// @debug adjust-hue-ryb(#8e43e7, 60);
// @debug adjust-hue-ryb(#8e43e7, 90);

@use "sass:color";
@use "sass:map";

@use "../core";
@use "../functions";

// ==========================================================================
// # Variables
// ==========================================================================

$-base: core.$brand-color;
$-hues: (1: 30, 2: 60, 3: 90);
$-colors: ();

$-name: 'analogous';

// ==========================================================================
// # Base Colors and Shades
// ==========================================================================

$-shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $index, $hue in $-hues {
  $color-rgb: color.adjust($-base, $hue: $hue);
  $color-ryb: functions.adjust-hue-ryb($-base, $hue);

  // Conditional harmony application
  @if core.$color-mode-harmony {
    $color-rgb: functions.make-color-harmony($-base, $color-rgb);
    $color-ryb: functions.make-color-harmony($-base, $color-ryb);
  }

  // Generating shades for each base color
  @if core.$color-model-rgb {
    @each $shade in $-shades {
      $rgb-shade-color-name: "#{$-name}-#{$index}-rgb-#{$shade}";
      $rgb-shade-color: functions.make-color-mono($color-rgb, $shade);
      $-colors: map.merge($-colors, ($rgb-shade-color-name: $rgb-shade-color));
    }
  }

  @if core.$color-model-ryb {
    @each $shade in $-shades {
      $ryb-shade-color-name: "#{$-name}-#{$index}-ryb-#{$shade}";
      $ryb-shade-color: functions.make-color-mono($color-ryb, $shade);
      $-colors: map.merge($-colors, ($ryb-shade-color-name: $ryb-shade-color));
    }
  }
}

// ==========================================================================
// # Map Creation
// ==========================================================================

$map-analogous: core.map-collect($-colors) !default;