// ==========================================================================
// # Split Complementary
// ==========================================================================
// 
// Split-complementary color scheme is a three-color combination consisting 
// of a base color and two colors that are 150° degrees and 210° degrees
// apart from the base color.
//
// | Model | Color     | Chromatic | Harmonized |         | 
// | :---: | :-------: | :-------: | :-------:  | :---:   |
// | RGB   | #8e43e7   | #e7e043   | #ddcf55    | 150°    |
// |       |           | #4ae743   | #51d555    | 210°    |
// 
// | Model | Color     | Chromatic | Harmonized |         | 
// | :---: | :-------: | :-------: | :-------:  | :---:   |
// | RYB   | #8e43e7   | #e7ab43   | #dda055    | 150°    |
// |       |           | #d4e743   | #ccd555    | 210°    |
// 
// @debug color.adjust(#8e43e7, $hue: 150);
// @debug color.adjust(#8e43e7, $hue: 210);
// //
// @debug functions.adjust-hue-ryb(#8e43e7, 150);
// @debug functions.adjust-hue-ryb(#8e43e7, 210);

@use "sass:color";
@use "sass:map";

@use "../core";
@use "../functions";

// ==========================================================================
// # Variables
// ==========================================================================

$-base: core.$brand-color;
$-hues: (1: 150, 2: 210);
$-colors: ();

$-name: 'split';

// ==========================================================================
// # Base Colors and Shades
// ==========================================================================

$-shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $index, $hue in $-hues {
  $color-rgb: color.adjust($-base, $hue: $hue);
  $color-ryb: functions.adjust-hue-ryb($-base, $hue);

  // Conditional harmony application
  @if core.$color-mode-harmony {
    $color-rgb: functions.make-color-harmony($-base, $color-rgb);
    $color-ryb: functions.make-color-harmony($-base, $color-ryb);
  }

  // Generating shades for each base color
  @if core.$color-model-rgb {
    @each $shade in $-shades {
      $rgb-shade-color-name: "#{$-name}-#{$index}-rgb-#{$shade}";
      $rgb-shade-color: functions.make-color-mono($color-rgb, $shade);
      $-colors: map.merge($-colors, ($rgb-shade-color-name: $rgb-shade-color));
    }
  }

  @if core.$color-model-ryb {
    @each $shade in $-shades {
      $ryb-shade-color-name: "#{$-name}-#{$index}-ryb-#{$shade}";
      $ryb-shade-color: functions.make-color-mono($color-ryb, $shade);
      $-colors: map.merge($-colors, ($ryb-shade-color-name: $ryb-shade-color));
    }
  }
}

// ==========================================================================
// # Map Creation
// ==========================================================================

$map-split: core.map-collect($-colors) !default;