// ==========================================================================
// # Square
// ==========================================================================
// 
// Square color scheme is a four-color combination consisting of a base
// color and three colors that are 90° degrees apart from the base color.
//
// | Model | Color     | Chromatic | Harmonized |         | 
// | :---: | :-------: | :-------: | :-------:  | :---:   |
// | RGB   | #8e43e7   | #e7434a   | #d94363    | 90°     |
// |       |           | #9ce743   | #9ad555    | 180°    |
// |       |           | #43e7e0   | #4fcde1    | 270°    |

// | Model | Color     | Chromatic | Harmonized |         | 
// | :---: | :-------: | :-------: | :-------:  | :---:   |
// | RYB   | #8e43e7   | #e75943   | #d9555d    | 90°     |
// |       |           | #e7d443   | #ddc455    | 180°    |
// |       |           | #43e788   | #4fcd97    | 270°    |
// 
// @debug color.adjust(#8e43e7, $hue: 90);
// @debug color.adjust(#8e43e7, $hue: 180);
// @debug color.adjust(#8e43e7, $hue: 270);
// 
// @debug functions.adjust-hue-ryb(#8e43e7, 90);
// @debug functions.adjust-hue-ryb(#8e43e7, 180);
// @debug functions.adjust-hue-ryb(#8e43e7, 270);
// 

@use "sass:color";
@use "sass:map";

@use "../core";
@use "../functions";

// ==========================================================================
// # Variables
// ==========================================================================

$-base: core.$brand-color;
$-hues: (1: 90, 2: 180, 3: 270);
$-colors: ();

$-name: 'square';

// ==========================================================================
// # Base Colors and Shades
// ==========================================================================

$-shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $index, $hue in $-hues {
  $color-rgb: color.adjust($-base, $hue: $hue);
  $color-ryb: functions.adjust-hue-ryb($-base, $hue);

  // Conditional harmony application
  @if core.$color-mode-harmony {
    $color-rgb: functions.make-color-harmony($-base, $color-rgb);
    $color-ryb: functions.make-color-harmony($-base, $color-ryb);
  }

  // Generating shades for each base color
  @if core.$color-model-rgb {
    @each $shade in $-shades {
      $rgb-shade-color-name: "#{$-name}-#{$index}-rgb-#{$shade}";
      $rgb-shade-color: functions.make-color-mono($color-rgb, $shade);
      $-colors: map.merge($-colors, ($rgb-shade-color-name: $rgb-shade-color));
    }
  }

  @if core.$color-model-ryb {
    @each $shade in $-shades {
      $ryb-shade-color-name: "#{$-name}-#{$index}-ryb-#{$shade}";
      $ryb-shade-color: functions.make-color-mono($color-ryb, $shade);
      $-colors: map.merge($-colors, ($ryb-shade-color-name: $ryb-shade-color));
    }
  }
}

// ==========================================================================
// # Map Creation
// ==========================================================================

$map-square: core.map-collect($-colors) !default;